Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:modal): use native animation (#9631)
  components/modal/modal-animations.ts
  components/modal/modal-confirm-container.component.ts
  components/modal/modal-container.component.ts
  components/modal/modal-container.directive.ts
  components/modal/modal-ref.ts
  components/modal/modal.component.ts
  components/modal/modal.spec.ts
  components/modal/public-api.ts
  components/modal/style/index.less
  components/style/core/motion/zoom.less
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:graph): use native animation (#9632)
  components/graph/doc/index.en-US.md
  components/graph/doc/index.zh-CN.md
  components/graph/graph-node.component.ts
  components/graph/graph.component.ts
Due: eslint --fix --concurrency=auto

chore(release): release 21.0.0
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  package-lock.json
  package.json
  scripts/site/doc/app/header/header.component.ts
Due: eslint --fix --concurrency=auto

docs: add doc about llms.txt
  CHANGELOG.md
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  docs/i18n.en-US.md
  docs/i18n.zh-CN.md
  docs/llms.en-US.md
  docs/llms.zh-CN.md
  scripts/prerender/route-paths.txt
Due: eslint --fix --concurrency=auto

docs: restore changelog page
  scripts/site/doc/app/app.routes.ts
  scripts/site/doc/app/footer/footer.component.ts
  scripts/site/utils/generate-docs.ts
  scripts/site/utils/generate-routes.ts
Due: eslint --fix --concurrency=auto

docs: extend semantic tags
  components/input/doc/index.en-US.md
  components/tree-view/doc/index.en-US.md
  docs/animations.en-US.md
  docs/animations.zh-CN.md
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  scripts/prerender/route-paths.txt
  scripts/site/doc/app/side/side.component.html
  scripts/site/doc/app/side/side.component.ts
  scripts/site/doc/app/types.ts
  scripts/site/types.ts
  scripts/site/utils/generate-routes.ts
Due: eslint --fix --concurrency=auto

feat(module:form): support nzSize
  components/button/button.component.ts
  components/button/button.spec.ts
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
  components/core/form/nz-form-size.token.ts
  components/core/form/public-api.ts
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/form/demo/size.md
  components/form/demo/size.ts
  components/form/doc/index.en-US.md
  components/form/doc/index.zh-CN.md
  components/form/form.directive.ts
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
  components/input/input.directive.ts
  components/input/input.spec.ts
  components/radio/radio-group.component.ts
  components/radio/radio.spec.ts
  components/select/select.component.ts
  components/select/select.spec.ts
  components/space/space-compact.component.spec.ts
  components/space/space-compact.component.ts
  components/switch/switch.component.ts
  components/switch/switch.spec.ts
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
  components/tree-select/tree-select.component.ts
  components/tree-select/tree-select.spec.ts
Due: eslint --fix --concurrency=auto

refactor(schematics): update required providers for ng-add
  docs/animations.en-US.md
  docs/animations.zh-CN.md
  schematics/ng-add/index.spec.ts
  schematics/ng-add/setup-project/add-required-providers.ts
  schematics/ng-add/standalone.spec.ts
Due: eslint --fix --concurrency=auto

docs: update llms.txt for github copilot
  components/input/doc/index.zh-CN.md
  components/tree-view/doc/index.zh-CN.md
  docs/llms.en-US.md
  docs/llms.zh-CN.md
Due: eslint --fix --concurrency=auto

refactor(schematics): update required providers for ng-add (#9636)
  docs/animations.en-US.md
  docs/animations.zh-CN.md
  schematics/ng-add/index.spec.ts
  schematics/ng-add/setup-project/add-required-providers.ts
  schematics/ng-add/standalone.spec.ts
Due: eslint --fix --concurrency=auto

chore(release): release 21.0.0 (#9635)
  CHANGELOG.md
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/package.json
  components/tree-view/doc/index.en-US.md
  components/tree-view/doc/index.zh-CN.md
  components/version/version.ts
  docs/animations.en-US.md
  docs/animations.zh-CN.md
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  docs/i18n.en-US.md
  docs/i18n.zh-CN.md
  docs/llms.en-US.md
  docs/llms.zh-CN.md
  package-lock.json
  package.json
  scripts/prerender/route-paths.txt
  scripts/site/doc/app/app.routes.ts
  scripts/site/doc/app/footer/footer.component.ts
  scripts/site/doc/app/header/header.component.ts
  scripts/site/doc/app/side/side.component.html
  scripts/site/doc/app/side/side.component.ts
  scripts/site/doc/app/types.ts
  scripts/site/types.ts
  scripts/site/utils/generate-docs.ts
  scripts/site/utils/generate-routes.ts
Due: eslint --fix --concurrency=auto

feat(module:time-picker): support nzNeedConfirmation
  components/time-picker/demo/confirmation.md
  components/time-picker/demo/confirmation.ts
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:transfer): replace transfer-search with nz-input-wrapper
  components/transfer/transfer-list.component.ts
  components/transfer/transfer-search.component.ts
  components/transfer/transfer.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:core): build failed
  components/core/form/nz-form-size.token.ts
Due: eslint --fix --concurrency=auto

fix(module:collapse): add leavedClassName when animationEnabled is false
  components/core/animation/collapse.ts
Due: eslint --fix --concurrency=auto

feat(module:input): input-wrapper supports custom count logic
  components/input/demo/advance-count.md
  components/input/demo/advance-count.ts
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/input/input-wrapper.component.spec.ts
  components/input/input-wrapper.component.ts
  components/input/style/index.less
Due: stylelint --fix, eslint --fix --concurrency=auto

fix(module:input): do not trigger the event
  components/input/input-wrapper.component.ts
Due: eslint --fix --concurrency=auto

fix(module:time-picker): rename nzNeedConfirmation to nzNeedConfirm
  components/time-picker/demo/confirmation.md
  components/time-picker/demo/confirmation.ts
  components/time-picker/doc/index.en-US.md
  components/time-picker/doc/index.zh-CN.md
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
Due: eslint --fix --concurrency=auto

Update components/time-picker/demo/confirmation.md
  components/time-picker/demo/confirmation.md
Due: eslint --fix --concurrency=auto

feat(module:time-picker): add prefix support
  components/date-picker/style/index.less
  components/time-picker/demo/prefix-suffix.md
  components/time-picker/demo/prefix-suffix.ts
  components/time-picker/doc/index.en-US.md
  components/time-picker/doc/index.zh-CN.md
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

fix(module:collapse): fix ghost zone
  components/collapse/style/index.less
Due: stylelint --fix

fix(module:collapse): add leavedClassName
  components/collapse/collapse-panel.component.ts
  components/collapse/style/index.less
  components/core/animation/collapse.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

test(module:input): update test
  components/input/input-wrapper.component.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:time-picker): update prefix handling
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
Due: eslint --fix --concurrency=auto

fix(module:form): implement review
  components/form/doc/index.en-US.md
  components/form/doc/index.zh-CN.md
  components/radio/radio-group.component.ts
Due: eslint --fix --concurrency=auto

fix(module:time-picker): remove useless space
  components/time-picker/time-picker.component.ts
Due: eslint --fix --concurrency=auto

fix(module:datepicker); week light doesn't work after step button action
  components/date-picker/inner-popup.component.ts
  components/date-picker/lib/abstract-panel-header.ts
  components/date-picker/lib/date-header.component.ts
Due: eslint --fix --concurrency=auto

fix(module:collapse): no ghost zone if collapsed (#9649)
  components/collapse/collapse-panel.component.ts
  components/core/animation/collapse.ts
Due: eslint --fix --concurrency=auto

fix(module:*): remove unnecessary reference imports
  components/drawer/style/animation.less
  components/float-button/style/animation.less
  components/image/style/animation.less
  components/message/style/animation.less
  components/modal/style/index.less
  components/popover/style/index.less
  components/style/core/motion/fade.less
  components/tooltip/style/index.less
Due: stylelint --fix

refactor(module:form): replace model with signal
  components/form/demo/size.ts
Due: eslint --fix --concurrency=auto

fix(module:*): remove unnecessary reference imports (#9653)
  components/drawer/style/animation.less
  components/float-button/style/animation.less
  components/image/style/animation.less
  components/message/style/animation.less
  components/modal/style/index.less
  components/popover/style/index.less
  components/style/core/motion/fade.less
  components/tooltip/style/index.less
Due: stylelint --fix

chore(release): release 21.0.1
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  docs/llms.en-US.md
  docs/llms.zh-CN.md
Due: eslint --fix --concurrency=auto

chore(release): release 21.0.1 (#9655)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  docs/llms.en-US.md
  docs/llms.zh-CN.md
Due: eslint --fix --concurrency=auto

refactor(module:input): refactor/update api and docs
  components/input/demo/advance-count.md
  components/input/demo/advance-count.ts
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/input/input-wrapper.component.spec.ts
  components/input/input-wrapper.component.ts
Due: eslint --fix --concurrency=auto

feat(module:color-picker): integrate NZ_FORM_SIZE
  components/color-picker/color-picker.component.spec.ts
  components/color-picker/color-picker.component.ts
  components/form/demo/size.ts
Due: eslint --fix --concurrency=auto

fix(module:color-picker): ci failed
  components/color-picker/color-picker.component.ts
Due: eslint --fix --concurrency=auto

fix(module:i18n): add missing Hebrew translations for date and time placeholders
  components/i18n/languages/he_IL.ts
Due: eslint --fix --concurrency=auto

fix(module:form): error message never disapear
  components/form/form-control.component.ts
  components/form/form-control.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:menu): submenu always appeared
  components/style/patch.less
Due: stylelint --fix

fix(module:i18n): add missing translations to `he_IL` (#9658)
  components/i18n/languages/he_IL.ts
Due: eslint --fix --concurrency=auto

Path conditions:
  stylelint --fix: any of: *.less
  eslint --fix --concurrency=auto: any of: *.{md,html,ts}
