Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc:

{
  "*.less": "stylelint --fix",
  "*.{html,ts}": "eslint --fix"
}

fix(module:cascader): invalid value and label when binding dynamically
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
Due: eslint --fix

fix(module:select): fix select close shaking (#8931)
  components/empty/embed-empty.component.ts
Due: eslint --fix

chore: bump angular version to v20.2
  package-lock.json
  package.json
Due: none

fix: package.json and package-lock unsync
  package-lock.json
Due: none

feat(module:colorpicker): add presets
  components/color-picker/color-picker.component.spec.ts
  components/color-picker/color-picker.component.ts
  components/color-picker/demo/presets.md
  components/color-picker/demo/presets.ts
  components/color-picker/doc/index.en-US.md
  components/color-picker/doc/index.zh-CN.md
  components/color-picker/src/ng-antd-color-block.component.ts
  components/color-picker/src/ng-antd-color-picker.component.spec.ts
  components/color-picker/src/ng-antd-color-picker.component.ts
  components/color-picker/src/ng-antd-color-picker.module.ts
  components/color-picker/src/ng-antd-color-preset.component.spec.ts
  components/color-picker/src/ng-antd-color-preset.component.ts
  components/color-picker/style/index.less
  components/color-picker/typings.ts
Due: stylelint --fix, eslint --fix

fix(module:colorpicker): build component failed
  components/color-picker/src/ng-antd-color-block.component.ts
  components/color-picker/src/ng-antd-color-preset.component.ts
  components/color-picker/typings.ts
Due: eslint --fix

fix(module:cascader): invalid value and label when binding dynamically (#9338)
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
Due: eslint --fix

fix(module:select): shaking when closing dropdown if use a TemplateRef as notFoundContent (#9336)
  components/empty/embed-empty.component.ts
Due: eslint --fix

chore: release 20.1.3
  CHANGELOG.md
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix

chore: release 20.1.3 (#9342)
  CHANGELOG.md
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix

chore: bump angular to v20.2 (#9340)
  package-lock.json
  package.json
Due: none

feat(module:dropdown): display arrow for content dropdown (#9329)
  components/dropdown/demo/arrow.md
  components/dropdown/demo/arrow.ts
  components/dropdown/doc/index.en-US.md
  components/dropdown/doc/index.zh-CN.md
  components/dropdown/dropdown-menu.component.ts
  components/dropdown/dropdown.directive.spec.ts
  components/dropdown/dropdown.directive.ts
Due: eslint --fix

feat(module:select,tree-select,cascader): support prefix and suffix icon (#9328)
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
  components/cascader/demo/placement.md
  components/cascader/demo/prefix-and-suffix.md
  components/cascader/demo/prefix-and-suffix.ts
  components/cascader/demo/status.md
  components/cascader/doc/index.en-US.md
  components/cascader/doc/index.zh-CN.md
  components/cascader/style/index.less
  components/select/demo/custom-content.md
  components/select/demo/custom-dropdown-menu.md
  components/select/demo/hide-selected.md
  components/select/demo/multiple.ts
  components/select/demo/prefix-and-suffix.md
  components/select/demo/prefix-and-suffix.ts
  components/select/demo/scroll-load.md
  components/select/doc/index.en-US.md
  components/select/doc/index.zh-CN.md
  components/select/select-arrow.component.ts
  components/select/select-search.component.ts
  components/select/select-top-control.component.ts
  components/select/select.component.ts
  components/select/select.spec.ts
  components/select/style/index.less
  components/select/style/multiple.less
  components/select/style/patch.less
  components/select/style/rtl.less
  components/select/style/single.less
  components/select/style/status.less
  components/style/themes/default.less
  components/style/themes/variable.less
  components/tree-select/demo/placement.ts
  components/tree-select/demo/prefix-and-suffix.md
  components/tree-select/demo/prefix-and-suffix.ts
  components/tree-select/demo/variant.md
  components/tree-select/demo/variant.ts
  components/tree-select/doc/index.en-US.md
  components/tree-select/doc/index.zh-CN.md
  components/tree-select/tree-select.component.ts
  components/tree-select/tree-select.spec.ts
Due: stylelint --fix, eslint --fix

feat(module:tag): export `NzTagColor` type (#9314)
  components/tag/tag.component.ts
  components/tag/typings.ts
Due: eslint --fix

feat(module:float-button): `nzIcon` support string type (#9302)
  components/float-button/demo/description.ts
  components/float-button/demo/group-menu.ts
  components/float-button/demo/group-placement.ts
  components/float-button/demo/group.ts
  components/float-button/demo/open.ts
  components/float-button/demo/shape.ts
  components/float-button/demo/type.ts
  components/float-button/doc/index.en-US.md
  components/float-button/doc/index.zh-CN.md
  components/float-button/float-button-content.component.ts
  components/float-button/float-button-group.component.spec.ts
  components/float-button/float-button-group.component.ts
  components/float-button/float-button-top.component.ts
  components/float-button/float-button.component.spec.ts
  components/float-button/float-button.component.ts
Due: eslint --fix

feat(module:cascader): support nzOpen
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
  components/cascader/demo/open.md
  components/cascader/demo/open.ts
  components/cascader/demo/variant.md
  components/cascader/doc/index.en-US.md
  components/cascader/doc/index.zh-CN.md
Due: eslint --fix

feat(module:cascader): add `nzOpen` to control visibility (#9339)
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
  components/cascader/demo/open.md
  components/cascader/demo/open.ts
  components/cascader/demo/variant.md
  components/cascader/doc/index.en-US.md
  components/cascader/doc/index.zh-CN.md
Due: eslint --fix

feat(module:modal): support nzLoading
  components/modal/demo/loading.md
  components/modal/demo/loading.ts
  components/modal/doc/index.en-US.md
  components/modal/doc/index.zh-CN.md
  components/modal/modal-container.component.ts
  components/modal/modal-types.ts
  components/modal/modal.component.ts
  components/modal/modal.spec.ts
  components/modal/utils.ts
Due: eslint --fix

chore: bump dev deps and update build config
  package-lock.json
  package.json
  scripts/gulp/tasks/site.ts
  scripts/prerender/sitemap.ts
  scripts/site/utils/generate-docs.js
  scripts/site/utils/parse-demo-md.js
  scripts/site/utils/parse-doc-md.js
Due: eslint --fix

feat(module:divider): support nzSize
  components/divider/demo/size.md
  components/divider/demo/size.ts
  components/divider/divider.component.ts
  components/divider/divider.spec.ts
  components/divider/doc/index.en-US.md
  components/divider/doc/index.zh-CN.md
  components/divider/style/patch.less
Due: stylelint --fix, eslint --fix

chore: bump dev deps and update build config
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: bump dev deps version
  package-lock.json
  package.json
Due: none

feat(module:collapse): add support of nzSize
  components/collapse/collapse.component.ts
  components/collapse/collapse.spec.ts
  components/collapse/demo/size.md
  components/collapse/demo/size.ts
  components/collapse/doc/index.en-US.md
  components/collapse/doc/index.zh-CN.md
  components/collapse/style/index.less
Due: stylelint --fix, eslint --fix

chore: bump dev deps and update build config (#9347)
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/gulp/tasks/site.ts
  scripts/prerender/sitemap.ts
  scripts/site/utils/generate-docs.js
  scripts/site/utils/parse-demo-md.js
  scripts/site/utils/parse-doc-md.js
Due: eslint --fix

refactor(module:collapse): implement laffery's changes
  components/collapse/collapse.component.ts
  components/collapse/demo/size.md
Due: eslint --fix

refactor(module:divider): implement laffery's change
  components/divider/divider.component.ts
Due: eslint --fix

feat(module:collapse): add nzCollapsible support
  components/collapse/collapse-panel.component.ts
  components/collapse/collapse.spec.ts
  components/collapse/demo/collapsible.md
  components/collapse/demo/collapsible.ts
  components/collapse/doc/index.en-US.md
  components/collapse/doc/index.zh-CN.md
  components/collapse/style/index.less
Due: stylelint --fix, eslint --fix

feat(module:check-list): add badge
  components/check-list/check-list-content.component.ts
  components/check-list/check-list.component.ts
  components/check-list/demo/basic.ts
  components/check-list/demo/custom.ts
  components/check-list/doc/index.en-US.md
  components/check-list/doc/index.zh-CN.md
  components/check-list/style/index.less
  components/check-list/typings.ts
Due: stylelint --fix, eslint --fix

feat(module:divider): support `nzSize` (#9346)
  components/divider/demo/size.md
  components/divider/demo/size.ts
  components/divider/divider.component.ts
  components/divider/divider.spec.ts
  components/divider/doc/index.en-US.md
  components/divider/doc/index.zh-CN.md
  components/divider/style/patch.less
Due: stylelint --fix, eslint --fix

feat(module:collapse): support `nzSize` (#9348)
  components/collapse/collapse.component.ts
  components/collapse/collapse.spec.ts
  components/collapse/demo/size.md
  components/collapse/demo/size.ts
  components/collapse/doc/index.en-US.md
  components/collapse/doc/index.zh-CN.md
  components/collapse/style/index.less
Due: stylelint --fix, eslint --fix

perf: enable eslint concurrency
  .lintstagedrc
  package.json
Due: none

refactor(module:range-picker): clear outline on mouse leave/close
  components/date-picker/inner-popup.component.ts
Due: eslint --fix

refactor(module:collapse): implement Laffery's review
  components/collapse/demo/collapsible.md
Due: none

refactor(module:collapse): implement hyperlife'review
  components/collapse/collapse-panel.component.ts
  components/collapse/style/index.less
Due: stylelint --fix, eslint --fix

fix(module:collapse): test collapsible failed
  components/collapse/collapse.spec.ts
Due: eslint --fix

Update components/collapse/collapse.spec.ts
  components/collapse/collapse.spec.ts
Due: eslint --fix

refactor(module:range-picker): clear outline on mouse leave/close
  components/date-picker/date-range-popup.component.ts
  components/date-picker/inner-popup.component.ts
Due: eslint --fix

feat(module:collapse): add nzCollapsible support (#9349)
  components/collapse/collapse-panel.component.ts
  components/collapse/collapse.spec.ts
  components/collapse/demo/collapsible.md
  components/collapse/demo/collapsible.ts
  components/collapse/doc/index.en-US.md
  components/collapse/doc/index.zh-CN.md
Due: eslint --fix
