Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

feat(module:check-list): add badge
  components/check-list/check-list-content.component.ts
  components/check-list/check-list.component.ts
  components/check-list/demo/basic.ts
  components/check-list/demo/custom.ts
  components/check-list/doc/index.en-US.md
  components/check-list/doc/index.zh-CN.md
  components/check-list/style/index.less
  components/check-list/typings.ts
Due: stylelint --fix, eslint --fix

refactor(module:*): enhance popup arrow positioning and styles
  components/core/overlay/overlay-position.ts
  components/date-picker/style/index.less
  components/dropdown/dropdown.directive.ts
  components/dropdown/style/index.less
  components/dropdown/style/patch.less
  components/popconfirm/popconfirm.ts
  components/popover/popover.ts
  components/popover/style/index.less
  components/style/mixins/index.less
  components/style/mixins/placement-arrow.less
  components/style/mixins/rounded-arrow.less
  components/style/themes/default.less
  components/style/themes/variable.less
  components/tooltip/base.ts
  components/tooltip/style/index.less
  components/tooltip/style/rtl.less
  components/tooltip/tooltip.ts
Due: stylelint --fix, eslint --fix

feat(module:carousel): support nzArrows
  components/carousel/carousel.component.ts
  components/carousel/carousel.spec.ts
  components/carousel/demo/arrow.md
  components/carousel/demo/arrow.ts
  components/carousel/doc/index.en-US.md
  components/carousel/doc/index.zh-CN.md
  components/carousel/style/index.less
  components/carousel/style/rtl.less
Due: stylelint --fix, eslint --fix

feat(module:segmented): support nzVertical
  components/core/animation/thumb.ts
  components/segmented/demo/vertical.md
  components/segmented/demo/vertical.ts
  components/segmented/doc/index.en-US.md
  components/segmented/doc/index.zh-CN.md
  components/segmented/segmented-item.component.ts
  components/segmented/segmented.component.ts
  components/segmented/segmented.spec.ts
  components/segmented/style/index.less
Due: stylelint --fix, eslint --fix

refactor(module:*): fix positioning for dropdown without arrow
  components/dropdown/style/patch.less
  components/style/themes/default.less
  components/style/themes/variable.less
Due: stylelint --fix

docs(module:form): using form array to update the dynamic form item demo
  components/form/demo/dynamic-form-item.ts
Due: eslint --fix

refactor(module:*): fix style for dropdown without arrow
  components/dropdown/style/index.less
  components/dropdown/style/patch.less
  components/style/themes/default.less
Due: stylelint --fix

fix(module:carousel): dot postion when left and rigth
  components/carousel/carousel.component.ts
Due: eslint --fix

refactor(module:*): fix ci errors
  components/dropdown/style/patch.less
  components/popover/style/index.less
  components/style/themes/default.less
Due: stylelint --fix

docs(module:form): using form array to update the dynamic form item demo (#9361)
  components/form/demo/dynamic-form-item.ts
Due: eslint --fix

refactor(module:*): enhance popup arrow positioning and styles (#9360)
  components/core/overlay/overlay-position.ts
  components/date-picker/style/index.less
  components/dropdown/dropdown.directive.ts
  components/dropdown/style/index.less
  components/dropdown/style/patch.less
  components/popconfirm/popconfirm.ts
  components/popover/popover.ts
  components/popover/style/index.less
  components/style/mixins/index.less
  components/style/mixins/placement-arrow.less
  components/style/mixins/rounded-arrow.less
  components/style/themes/default.less
  components/style/themes/variable.less
  components/tooltip/base.ts
  components/tooltip/style/index.less
  components/tooltip/style/rtl.less
  components/tooltip/tooltip.ts
Due: stylelint --fix, eslint --fix

fix(module:carousel): wrong dot postion when placement is left or right (#9358)
  components/carousel/carousel.component.ts
Due: eslint --fix

docs: improve header navigator style
  components/affix/doc/index.zh-CN.md
  components/grid/row.directive.ts
  components/slider/demo/reverse.ts
  scripts/site/_site/doc/app/app.component.ts
  scripts/site/_site/doc/app/app.service.ts
  scripts/site/_site/doc/app/components-overview/components-overview.component.html
  scripts/site/_site/doc/app/components-overview/components-overview.component.ts
  scripts/site/_site/doc/app/header/header.component.html
  scripts/site/_site/doc/app/header/header.component.ts
  scripts/site/_site/doc/app/header/header.less
  scripts/site/_site/doc/app/side/side.component.ts
  scripts/site/_site/doc/style/dark.less
Due: stylelint --fix, eslint --fix

docs: improve header navigator style
  scripts/site/_site/doc/app/header/header.less
Due: stylelint --fix

fix(module:range-picker): clear outline on mouse leaving (#9352)
  components/date-picker/date-range-popup.component.ts
  components/date-picker/inner-popup.component.ts
Due: eslint --fix

feat(module:segmented): support `nzVertical` (#9359)
  components/core/animation/thumb.ts
  components/segmented/demo/vertical.md
  components/segmented/demo/vertical.ts
  components/segmented/doc/index.en-US.md
  components/segmented/doc/index.zh-CN.md
  components/segmented/segmented-item.component.ts
  components/segmented/segmented.component.ts
  components/segmented/segmented.spec.ts
  components/segmented/style/index.less
Due: stylelint --fix, eslint --fix

fix(module:segmented): should render single element in item if icon-only
  components/segmented/segmented-item.component.ts
  components/segmented/segmented.component.ts
  components/segmented/segmented.spec.ts
Due: eslint --fix

docs: improve header navigator style (#9362)
  components/affix/doc/index.zh-CN.md
  components/grid/row.directive.ts
  components/slider/demo/reverse.ts
  scripts/site/_site/doc/app/app.component.ts
  scripts/site/_site/doc/app/app.service.ts
  scripts/site/_site/doc/app/components-overview/components-overview.component.html
  scripts/site/_site/doc/app/components-overview/components-overview.component.ts
  scripts/site/_site/doc/app/header/header.component.html
  scripts/site/_site/doc/app/header/header.component.ts
  scripts/site/_site/doc/app/header/header.less
  scripts/site/_site/doc/app/side/side.component.ts
  scripts/site/_site/doc/style/dark.less
Due: stylelint --fix, eslint --fix

fix(module:segmented): should render single element in item if icon-only (#9363)
  components/segmented/segmented-item.component.ts
  components/segmented/segmented.component.ts
  components/segmented/segmented.spec.ts
Due: eslint --fix

refactor(module:float-button): refactor float button with signal
  components/core/config/with-config-signal.ts
  components/core/util/class-name.ts
  components/core/util/public-api.ts
  components/float-button/doc/index.en-US.md
  components/float-button/float-button-content.component.ts
  components/float-button/float-button-group.component.spec.ts
  components/float-button/float-button-group.component.ts
  components/float-button/float-button-top.component.spec.ts
  components/float-button/float-button-top.component.ts
  components/float-button/float-button.component.spec.ts
  components/float-button/float-button.component.ts
  components/float-button/public-api.ts
  components/float-button/typings.ts
Due: eslint --fix

docs(module:float-button): add tooltip demo for float-button
  components/float-button/demo/group-menu.md
  components/float-button/demo/group-placement.md
  components/float-button/demo/group.md
  components/float-button/demo/open.md
  components/float-button/demo/tooltip.md
  components/float-button/demo/tooltip.ts
  components/float-button/demo/top.md
Due: eslint --fix

docs(module:float-button): add tooltip showcase (#9365)
  components/float-button/demo/group-menu.md
  components/float-button/demo/group-placement.md
  components/float-button/demo/group.md
  components/float-button/demo/open.md
  components/float-button/demo/tooltip.md
  components/float-button/demo/tooltip.ts
  components/float-button/demo/top.md
Due: eslint --fix

chore(release): release 20.2.0
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix

chore(release): release 20.2.0 (#9366)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix

feat(module:segmented): support nzShape
  components/segmented/demo/shape.md
  components/segmented/demo/shape.ts
  components/segmented/doc/index.en-US.md
  components/segmented/doc/index.zh-CN.md
  components/segmented/segmented.component.ts
  components/segmented/segmented.spec.ts
  components/segmented/style/index.less
Due: stylelint --fix, eslint --fix

feat(module:segmented): support nzName
  components/segmented/demo/name.md
  components/segmented/demo/name.ts
  components/segmented/doc/index.en-US.md
  components/segmented/doc/index.zh-CN.md
  components/segmented/segmented-item.component.ts
  components/segmented/segmented.component.ts
  components/segmented/segmented.spec.ts
Due: eslint --fix

fix(module:segmented): correctly render with-icon & icon-only
  components/segmented/segmented-item.component.ts
  components/segmented/segmented.spec.ts
Due: eslint --fix

feat(module:mention): support nzAllowClear
  components/mention/demo/clear.md
  components/mention/demo/clear.ts
  components/mention/doc/index.en-US.md
  components/mention/doc/index.zh-CN.md
  components/mention/mention-trigger.ts
  components/mention/mention.component.ts
  components/mention/mention.spec.ts
  components/mention/style/index.less
Due: stylelint --fix, eslint --fix

refactor(module:mention): avoid using promise.resolve and use signal
  components/mention/mention-trigger.ts
  components/mention/mention.component.ts
  components/mention/mention.spec.ts
Due: eslint --fix

fix(module:segmented): correctly render with-icon & icon-only (#9367)
  components/segmented/segmented-item.component.ts
  components/segmented/segmented.spec.ts
Due: eslint --fix

chore(release): release 20.2.1
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix

feat(module:segmented): wip support `nzName` and keyboard interactions
  components/segmented/demo/block.md
  components/segmented/demo/block.ts
  components/segmented/demo/custom.md
  components/segmented/demo/custom.ts
  components/segmented/demo/disabled.md
  components/segmented/demo/disabled.ts
  components/segmented/demo/dynamic.md
  components/segmented/demo/dynamic.ts
  components/segmented/demo/icon.md
  components/segmented/demo/icon.ts
  components/segmented/demo/size.md
  components/segmented/demo/size.ts
  components/segmented/demo/value.md
  components/segmented/demo/value.ts
  components/segmented/demo/vertical.md
  components/segmented/demo/vertical.ts
  components/segmented/demo/with-icon-only.md
  components/segmented/demo/with-icon-only.ts
  components/segmented/demo/with-name.md
  components/segmented/demo/with-name.ts
  components/segmented/doc/index.en-US.md
  components/segmented/doc/index.zh-CN.md
  components/segmented/segmented-item.component.ts
  components/segmented/segmented.component.ts
  components/segmented/segmented.service.ts
  components/segmented/segmented.spec.ts
Due: eslint --fix

refactor(module:mention): remove mention service to use signal
  components/mention/mention-trigger.ts
  components/mention/mention.component.ts
  components/mention/mention.service.ts
  components/mention/mention.spec.ts
  components/mention/public-api.ts
Due: eslint --fix

chore(release): release 20.2.1 (#9372)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix

feat(module:segmented): wip support `nzName` and keyboard interactions (#9373)
  components/segmented/demo/block.md
  components/segmented/demo/block.ts
  components/segmented/demo/custom.md
  components/segmented/demo/custom.ts
  components/segmented/demo/disabled.md
  components/segmented/demo/disabled.ts
  components/segmented/demo/dynamic.md
  components/segmented/demo/dynamic.ts
  components/segmented/demo/icon.md
  components/segmented/demo/icon.ts
  components/segmented/demo/size.md
  components/segmented/demo/size.ts
  components/segmented/demo/value.md
  components/segmented/demo/value.ts
  components/segmented/demo/vertical.md
  components/segmented/demo/vertical.ts
  components/segmented/demo/with-icon-only.md
  components/segmented/demo/with-icon-only.ts
  components/segmented/demo/with-name.md
  components/segmented/demo/with-name.ts
  components/segmented/doc/index.en-US.md
  components/segmented/doc/index.zh-CN.md
  components/segmented/segmented-item.component.ts
  components/segmented/segmented.component.ts
  components/segmented/segmented.service.ts
  components/segmented/segmented.spec.ts
Due: eslint --fix

feat(module:core): add `WithConfigSignal` decorator on `input` function
  components/core/config/config.service.ts
Due: eslint --fix

refactor(module:mention): implement laffery's review
  components/mention/mention.component.ts
Due: eslint --fix

refactor(module:segmented): implement Laffery's review
  components/segmented/demo/shape.ts
  components/segmented/segmented.component.ts
  components/segmented/style/index.less
Due: stylelint --fix, eslint --fix

Path conditions:
  stylelint --fix: any of: *.less
  eslint --fix: any of: *.{html,ts}
