Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix --concurrency=auto

.lintstagedrc:

{
  "*.less": "stylelint --fix",
  "*.{md,html,ts}": "eslint --fix --concurrency=auto"
}

fix(module:select): prevent parent form ngModel warning (#9945)
  components/cascader/cascader.spec.ts
  components/select/select-search.component.ts
  components/select/select.spec.ts
Due: eslint --fix --concurrency=auto

feat(module:auto-complete): support custom overlay origin
  components/auto-complete/autocomplete-origin.directive.ts
  components/auto-complete/autocomplete-trigger.directive.ts
  components/auto-complete/autocomplete.module.ts
  components/auto-complete/autocomplete.spec.ts
  components/auto-complete/demo/custom-origin.md
  components/auto-complete/demo/custom-origin.ts
  components/auto-complete/doc/index.en-US.md
  components/auto-complete/doc/index.zh-CN.md
  components/auto-complete/public-api.ts
Due: eslint --fix --concurrency=auto

test(module:auto-complete): reuse origin fixture
  components/auto-complete/autocomplete.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:icon): preserve custom aria-label (#9934)
  components/icon/icon.directive.ts
  components/icon/icon.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:auto-complete): experiment with Angular Aria
  components/auto-complete/autocomplete-option.component.ts
  components/auto-complete/autocomplete-trigger.directive.ts
  components/auto-complete/autocomplete.component.ts
  components/auto-complete/autocomplete.spec.ts
  components/package.json
  package-lock.json
  package.json
Due: eslint --fix --concurrency=auto

fix(module:graph): remove units from SVG transforms
  components/graph/graph-node.component.spec.ts
  components/graph/graph-node.component.ts
Due: eslint --fix --concurrency=auto

fix(module:segmented): thumb style not recomputed (#9937)
  components/segmented/segmented.component.ts
  components/segmented/segmented.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:colorpicker): preserve hue when reapplying equivalent grayscale values (#9938)
  components/color-picker/src/ng-antd-color-picker.component.spec.ts
  components/color-picker/src/ng-antd-color-picker.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:*): fix ribbon position
  components/avatar/demo/badge.ts
  components/avatar/demo/basic.ts
  components/avatar/demo/dynamic.ts
  components/avatar/demo/type.ts
  components/avatar/doc/index.en-US.md
  components/avatar/doc/index.zh-CN.md
  components/badge/demo/basic.ts
  components/badge/demo/dot.ts
  components/badge/demo/overflow.ts
  components/badge/demo/size.ts
  components/badge/style/index.less
  components/badge/style/patch.less
  components/badge/style/ribbon.less
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:*): remove deprecated button group styles
  components/badge/style/index.less
  components/badge/style/rtl.less
  components/breadcrumb/style/index.less
  components/breadcrumb/style/patch.less
  components/button/style/index.less
  components/button/style/mixin.less
Due: stylelint --fix

refactor(module:*): fix anchor link padding size
  components/affix/style/entry.less
  components/alert/style/index.less
  components/anchor/style/entry.less
  components/anchor/style/index.less
  components/auto-complete/style/entry.less
  components/comment/style/entry.less
  components/descriptions/style/entry.less
  components/empty/style/entry.less
  components/list/style/entry.less
  components/mention/style/entry.less
  components/ng-zorro-antd.aliyun.less
  components/ng-zorro-antd.compact.less
  components/ng-zorro-antd.dark.less
  components/page-header/style/entry.less
  components/result/style/entry.less
  components/style/themes/compact.less
  components/style/themes/default.less
  components/style/themes/variable.less
  components/tree-select/style/entry.less
  components/typography/style/index.less
  components/upload/style/entry.less
  components/upload/style/index.less
Due: stylelint --fix

fix(module:*): apply review suggestions
  components/badge/style/patch.less
  components/experimental-image/demo/preloading.md
  components/float-button/demo/group-placement.ts
  components/table/style/index.less
  components/transfer/demo/table-transfer.ts
  components/tree-select/style/index.less
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:*): consolidate rtl styles
  components/button/style/index.less
  components/button/style/mixin.less
  components/checkbox/style/mixin.less
  components/date-picker/style/Calendar.less
  components/date-picker/style/RangePicker.less
  components/date-picker/style/TimePicker.less
  components/dropdown/style/index.less
  components/form/style/index.less
  components/tooltip/demo/placement.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:*): fix breadcrumb unicode-bidi
  components/breadcrumb/style/patch.less
Due: stylelint --fix

feat(module:core-time): support date adapter config factories
  components/core/time/date-adapter.ts
  components/core/time/date-fns-adapter.spec.ts
  components/core/time/date-fns-adapter.ts
  components/core/time/native-adapter.spec.ts
  components/core/time/native-adapter.ts
  components/core/time/public-api.ts
  docs/date-adapter.en-US.md
  docs/date-adapter.zh-CN.md
Due: eslint --fix --concurrency=auto

refactor(module:core-time): simplify config factory providers
  components/core/time/date-adapter.ts
  components/core/time/date-fns-adapter.spec.ts
Due: eslint --fix --concurrency=auto

feat(module:dropdown): add nzTriggerDelay
  components/dropdown/demo/trigger-delay.md
  components/dropdown/demo/trigger-delay.ts
  components/dropdown/doc/index.en-US.md
  components/dropdown/doc/index.zh-CN.md
  components/dropdown/dropdown.directive.spec.ts
  components/dropdown/dropdown.directive.ts
Due: eslint --fix --concurrency=auto

fix(module:descriptions): lost data on resizing
  components/descriptions/descriptions.component.ts
  components/descriptions/descriptions.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:descriptions): review Hyperlife
  components/descriptions/descriptions.component.ts
Due: eslint --fix --concurrency=auto

fix(module:graph): remove units from SVG transforms (#9950)
  components/graph/graph-node.component.spec.ts
  components/graph/graph-node.component.ts
Due: eslint --fix --concurrency=auto

fix(module:core-time): resolve config factories once
  components/core/time/date-adapter.ts
  components/core/time/date-fns-adapter.spec.ts
  components/core/time/date-fns-adapter.ts
Due: eslint --fix --concurrency=auto

refactor(module:core-time): unify config provider setup
  components/core/time/date-adapter.ts
Due: eslint --fix --concurrency=auto

revert(module:descriptions): track by item
  components/descriptions/descriptions.component.ts
Due: eslint --fix --concurrency=auto

fix(module:descriptions): lost data on resizing (#9942)
  components/descriptions/descriptions.component.ts
  components/descriptions/descriptions.spec.ts
Due: eslint --fix --concurrency=auto

feat(module:input-number): support nzString mode
  components/input-number/demo/string-mode.md
  components/input-number/demo/string-mode.ts
  components/input-number/doc/index.en-US.md
  components/input-number/doc/index.zh-CN.md
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
  components/input-number/mini-decimal.ts
Due: eslint --fix --concurrency=auto

feat(module:core-time): support date adapter config factories (#9952)
  components/core/time/date-adapter.ts
  components/core/time/date-fns-adapter.spec.ts
  components/core/time/date-fns-adapter.ts
  components/core/time/native-adapter.spec.ts
  components/core/time/native-adapter.ts
  components/core/time/public-api.ts
  docs/date-adapter.en-US.md
  docs/date-adapter.zh-CN.md
Due: eslint --fix --concurrency=auto

fix(module:select): prevent dropdown option overflow (#9849)
  components/select/style/patch.less
Due: stylelint --fix

fix(module:select): prevent dropdown option overflow (#9849) (#9957)
  components/select/style/patch.less
Due: stylelint --fix

feat(module:auto-complete): support custom overlay origin (#9946)
  components/auto-complete/autocomplete-origin.directive.ts
  components/auto-complete/autocomplete-trigger.directive.ts
  components/auto-complete/autocomplete.module.ts
  components/auto-complete/autocomplete.spec.ts
  components/auto-complete/demo/custom-origin.md
  components/auto-complete/demo/custom-origin.ts
  components/auto-complete/doc/index.en-US.md
  components/auto-complete/doc/index.zh-CN.md
  components/auto-complete/public-api.ts
Due: eslint --fix --concurrency=auto

chore(release): release 22.1.0
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

docs: document features introduced in 22.1.0
  components/auto-complete/demo/custom-origin.md
  components/auto-complete/doc/index.en-US.md
  components/auto-complete/doc/index.zh-CN.md
  components/avatar/demo/responsive.md
  components/avatar/doc/index.en-US.md
  components/avatar/doc/index.zh-CN.md
  components/cron-expression/demo/form.md
  components/cron-expression/demo/status.md
  components/cron-expression/doc/index.en-US.md
  components/cron-expression/doc/index.zh-CN.md
  components/icon/doc/index.en-US.md
  components/icon/doc/index.zh-CN.md
  docs/date-adapter.en-US.md
  docs/date-adapter.zh-CN.md
Due: eslint --fix --concurrency=auto

docs: limit 22.1.0 documentation updates to version tags
  components/auto-complete/demo/custom-origin.md
  components/auto-complete/doc/index.en-US.md
  components/auto-complete/doc/index.zh-CN.md
  components/avatar/demo/responsive.md
  components/avatar/doc/index.en-US.md
  components/avatar/doc/index.zh-CN.md
  components/cron-expression/demo/form.md
  components/cron-expression/doc/index.en-US.md
  components/cron-expression/doc/index.zh-CN.md
  components/icon/doc/index.en-US.md
  components/icon/doc/index.zh-CN.md
  docs/date-adapter.en-US.md
  docs/date-adapter.zh-CN.md
Due: eslint --fix --concurrency=auto

docs: require version tags for minor and major releases
  .agents/skills/version-release/SKILL.md
Due: eslint --fix --concurrency=auto

chore(release): release 22.1.0 (#9958)
  .agents/skills/version-release/SKILL.md
  CHANGELOG.md
  components/auto-complete/demo/custom-origin.md
  components/auto-complete/doc/index.en-US.md
  components/auto-complete/doc/index.zh-CN.md
  components/avatar/demo/responsive.md
  components/avatar/doc/index.en-US.md
  components/avatar/doc/index.zh-CN.md
  components/cron-expression/demo/form.md
  components/cron-expression/demo/status.md
  components/cron-expression/doc/index.en-US.md
  components/cron-expression/doc/index.zh-CN.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

feat(module:tree-select): add nzMaxCount
  components/tree-select/demo/max-count.md
  components/tree-select/demo/max-count.ts
  components/tree-select/doc/index.en-US.md
  components/tree-select/doc/index.zh-CN.md
  components/tree-select/style/index.less
  components/tree-select/tree-select.component.ts
  components/tree-select/tree-select.spec.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

fix(module:table): fix column take the wrong box width
  components/table/src/table/tr-measure.component.spec.ts
  components/table/src/table/tr-measure.component.ts
Due: eslint --fix --concurrency=auto

fix(module:slider): slider not initiate correctly with signal
  components/slider/slider.component.ts
  components/slider/slider.spec.ts
Due: eslint --fix --concurrency=auto
