Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

chore: add mcp for other ide
  .claude/.mcp.json
  .gemini/settings.json
  .gitignore
  .junie/mcp.json
  .vscode/mcp.json
Due: none

Update components/message/demo/custom-style.md
  components/message/demo/custom-style.md
Due: none

chore: add mcp configuration (#9423)
  .claude/.mcp.json
  .cursor/mcp.json
  .gemini/settings.json
  .gitignore
  .junie/mcp.json
  .vscode/mcp.json
Due: none

feat(module:input): introducing the input-wrapper component
  components/core/form/nz-form-no-status.service.ts
  components/input/demo/addon.md
  components/input/demo/addon.ts
  components/input/demo/allow-clear.md
  components/input/demo/allow-clear.ts
  components/input/demo/autosize-textarea.md
  components/input/demo/basic.ts
  components/input/demo/compact.md
  components/input/demo/compact.ts
  components/input/demo/otp.md
  components/input/demo/password-input.md
  components/input/demo/password-input.ts
  components/input/demo/presuffix.md
  components/input/demo/presuffix.ts
  components/input/demo/search-input.md
  components/input/demo/search-input.ts
  components/input/demo/size.md
  components/input/demo/size.ts
  components/input/demo/status.md
  components/input/demo/status.ts
  components/input/demo/textarea-with-character-count.md
  components/input/demo/textarea.md
  components/input/demo/tooltip.md
  components/input/demo/variant.md
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/input/input-group-slot.component.ts
  components/input/input-group.component.ts
  components/input/input-wrapper.component.spec.ts
  components/input/input-wrapper.component.ts
  components/input/input.directive.ts
  components/input/input.module.ts
  components/input/public-api.ts
  components/input/tokens.ts
  components/space/space-compact.component.spec.ts
Due: eslint --fix

fix(module:splitter): ensure panels sum to 100% after resize
  components/splitter/splitter.component.ts
Due: eslint --fix

refactor(showcase): split markdown module
  scripts/site/utils/generate-demo-code-files.js
  scripts/site/utils/generate-docs.js
  scripts/site/utils/get-meta.js
  scripts/site/utils/parse-demo-md.js
  scripts/site/utils/parse-doc-md.js
Due: none

refactor(module:input): deprecated autosize directive
  components/drawer/demo/from-drawer.ts
  components/input/autosize.directive.ts
  components/input/demo/autosize-textarea.md
  components/input/demo/autosize-textarea.ts
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/mention/demo/preview.ts
  components/mention/mention.spec.ts
Due: eslint --fix

refactor(module:*): remove important for variant style
  components/cascader/demo/variant.md
  components/date-picker/style/index.less
  components/input-number/demo/variant.md
  components/input-number/style/index.less
  components/input/demo/variant.md
  components/input/style/mixin.less
  components/select/demo/variant.md
  components/select/style/index.less
  components/time-picker/demo/variant.md
  components/tree-select/demo/variant.md
Due: stylelint --fix

feat(module:pagination): support nzAlign
  components/pagination/demo/align.md
  components/pagination/demo/align.ts
  components/pagination/doc/index.en-US.md
  components/pagination/doc/index.zh-CN.md
  components/pagination/pagination.component.ts
  components/pagination/pagination.spec.ts
  components/pagination/pagination.types.ts
  components/pagination/style/index.less
Due: stylelint --fix, eslint --fix

refactor: rewrite scripts with typescript
  package-lock.json
  package.json
  scripts/build/aliyun-vars.ts
  scripts/build/compact-vars.ts
  scripts/build/compile-styles.ts
  scripts/build/dark-vars.ts
  scripts/build/generate-less-vars.ts
  scripts/build/less.d.ts
  scripts/build/migration-styles.ts
  scripts/generate-llms.ts
  scripts/gulp/tasks/site.ts
  scripts/gulp/tsconfig.json
  scripts/prerender/minify.ts
  scripts/release/release.ts
  scripts/schematics/copy-resources.ts
  scripts/schematics/demo2schematics.ts
  scripts/schematics/set-version.ts
  scripts/site/generate-site.js
  scripts/site/generate-theme.js
  scripts/site/replace-scope-prefix.js
  scripts/site/template/demo-component.standalone.template.ts
  scripts/site/template/demo-component.template.ts
  scripts/site/template/demo-module.template.ts
  scripts/site/template/iframe.routes.template.ts
  scripts/site/template/title.template.html
  scripts/site/utils/angular-nonbindable.js
  scripts/site/utils/camelcase.js
  scripts/site/utils/capitalize-first-letter.js
  scripts/site/utils/generate-code-box.js
  scripts/site/utils/generate-demo-code-files.js
  scripts/site/utils/generate-demo.js
  scripts/site/utils/generate-docs.js
  scripts/site/utils/generate-routes.js
  scripts/site/utils/generate.title.js
  scripts/site/utils/get-meta.js
  scripts/site/utils/marked.js
  scripts/site/utils/name-without-suffix.js
  scripts/site/utils/parse-demo-md.js
  scripts/site/utils/parse-doc-md.js
  scripts/site/utils/prism.js
Due: eslint --fix

chore: update .gitignore
  .gitignore
  components/tabs/tabs.component.spec.ts
  scripts/site/_site/doc/app/demo/demo.component.ts
  scripts/site/generate-site.ts
  scripts/site/generate-theme.ts
  scripts/site/markdown/index.ts
  scripts/site/markdown/prism.ts
  scripts/site/markdown/renderer.ts
  scripts/site/replace-scope-prefix.ts
  scripts/site/template/demo-component.template.ts
  scripts/site/template/doc-component.template.ts
  scripts/site/types.ts
  scripts/site/utils/angular-non-bindable.ts
  scripts/site/utils/generate-code-box.ts
  scripts/site/utils/generate-demo-code-files.ts
  scripts/site/utils/generate-demo.ts
  scripts/site/utils/generate-docs.ts
  scripts/site/utils/generate-routes.ts
  scripts/site/utils/generate-title.ts
  scripts/site/utils/get-meta.ts
  scripts/site/utils/parse-doc-md.ts
Due: eslint --fix

chore: update claude rules
  .claude/DOCUMENTATION.md
  .claude/NG-ZORRO.md
Due: none

refactor(module:pagination): implement review
  components/pagination/doc/index.en-US.md
  components/pagination/doc/index.zh-CN.md
  components/pagination/pagination.component.ts
  components/pagination/pagination.spec.ts
  components/pagination/pagination.types.ts
  components/pagination/style/index.less
Due: stylelint --fix, eslint --fix

Update components/pagination/style/index.less
  components/pagination/style/index.less
Due: stylelint --fix

docs: update TOC depth and fix some issues
  docs/direction.en-US.md
  docs/direction.zh-CN.md
  docs/i18n.en-US.md
  docs/i18n.zh-CN.md
  scripts/site/_site/doc/app/side/side.component.html
  scripts/site/_site/doc/style/dark.less
  scripts/site/_site/doc/style/demo.less
  scripts/site/_site/doc/style/patch.less
  scripts/site/_site/doc/style/toc.less
  scripts/site/template/code-box.template.html
  scripts/site/template/doc-component.template.ts
  scripts/site/utils/generate-demo.ts
  scripts/site/utils/generate-docs.ts
  scripts/site/utils/parse-doc-md.ts
Due: stylelint --fix, eslint --fix

docs: update TOC depth and fix some issues
  scripts/site/_site/doc/style/demo.less
  scripts/site/_site/doc/style/patch.less
  scripts/site/utils/generate-demo.ts
Due: stylelint --fix, eslint --fix

docs: update TOC depth and fix some issues (#9437)
  docs/direction.en-US.md
  docs/direction.zh-CN.md
  docs/i18n.en-US.md
  docs/i18n.zh-CN.md
  scripts/site/_site/doc/app/side/side.component.html
  scripts/site/_site/doc/style/dark.less
  scripts/site/_site/doc/style/patch.less
  scripts/site/_site/doc/style/toc.less
  scripts/site/template/code-box.template.html
  scripts/site/template/doc-component.template.ts
  scripts/site/utils/generate-demo.ts
  scripts/site/utils/generate-docs.ts
  scripts/site/utils/parse-doc-md.ts
Due: stylelint --fix, eslint --fix

docs(module:auto-complete): add demo for nzVariant (#9426)
  components/auto-complete/demo/variant.md
  components/auto-complete/demo/variant.ts
Due: eslint --fix

chore: bump dev deps
  package-lock.json
  package.json
  scripts/site/markdown/index.ts
  scripts/site/markdown/prism.ts
  scripts/site/utils/generate-demo-code-files.ts
  scripts/site/utils/parse-doc-md.ts
Due: eslint --fix

chore: bump dev deps (#9440)
  package-lock.json
  package.json
  scripts/site/markdown/index.ts
  scripts/site/markdown/prism.ts
  scripts/site/utils/generate-demo-code-files.ts
  scripts/site/utils/parse-doc-md.ts
Due: eslint --fix

Update components/pagination/pagination.spec.ts
  components/pagination/pagination.spec.ts
Due: eslint --fix

refactor(module:uplaod): avoid calling the hook if file not exist
  components/upload/upload.component.ts
Due: eslint --fix

feat(module:pagination): support `nzAlign` (#9433)
  components/pagination/demo/align.md
  components/pagination/demo/align.ts
  components/pagination/doc/index.en-US.md
  components/pagination/doc/index.zh-CN.md
  components/pagination/pagination.component.ts
  components/pagination/pagination.spec.ts
  components/pagination/pagination.types.ts
  components/pagination/style/index.less
Due: stylelint --fix, eslint --fix

refactor(module:*): remove important for variant style (#9432)
  components/cascader/demo/variant.md
  components/date-picker/style/index.less
  components/input-number/demo/variant.md
  components/input-number/style/index.less
  components/input/demo/variant.md
  components/input/style/mixin.less
  components/select/demo/variant.md
  components/select/style/index.less
  components/time-picker/demo/variant.md
  components/tree-select/demo/variant.md
Due: stylelint --fix

feat(module:message): add support for custom styles and classes (#9427)
  components/message/demo/custom-style.md
  components/message/demo/custom-style.ts
  components/message/doc/index.en-US.md
  components/message/doc/index.zh-CN.md
  components/message/message-container.component.ts
  components/message/message.component.ts
  components/message/message.spec.ts
  components/message/typings.ts
Due: eslint --fix

perf(module:*): remove description of injection tokens in prod
  components/carousel/typings.ts
  components/checkbox/tokens.ts
  components/core/config/config.ts
  components/core/render/after-next-render.ts
  components/core/tree/nz-tree-service.resolver.ts
  components/core/wave/nz-wave.directive.ts
  components/drawer/drawer-options.ts
  components/empty/config.ts
  components/i18n/date-config.ts
  components/i18n/nz-i18n.token.ts
  components/icon/icon.service.ts
  components/menu/menu.token.ts
  components/modal/modal-config.ts
  components/space/space-compact.token.ts
  components/tabs/tab.component.ts
Due: eslint --fix

perf(module:*): remove description of injection tokens in prod (#9446)
  components/carousel/typings.ts
  components/checkbox/tokens.ts
  components/core/config/config.ts
  components/core/render/after-next-render.ts
  components/core/tree/nz-tree-service.resolver.ts
  components/core/wave/nz-wave.directive.ts
  components/drawer/drawer-options.ts
  components/empty/config.ts
  components/i18n/date-config.ts
  components/i18n/nz-i18n.token.ts
  components/icon/icon.service.ts
  components/menu/menu.token.ts
  components/modal/modal-config.ts
  components/space/space-compact.token.ts
  components/tabs/tab.component.ts
Due: eslint --fix

feat(module:input): introducing the input-wrapper component
  .stylelintrc.json
  components/core/form/nz-form-no-status.service.ts
  components/input/demo/addon.md
  components/input/demo/addon.ts
  components/input/demo/allow-clear.md
  components/input/demo/allow-clear.ts
  components/input/demo/autosize-textarea.md
  components/input/demo/basic.ts
  components/input/demo/compact.md
  components/input/demo/compact.ts
  components/input/demo/otp.md
  components/input/demo/password-input.md
  components/input/demo/password-input.ts
  components/input/demo/presuffix.md
  components/input/demo/presuffix.ts
  components/input/demo/search-input.md
  components/input/demo/search-input.ts
  components/input/demo/size.md
  components/input/demo/size.ts
  components/input/demo/status.md
  components/input/demo/status.ts
  components/input/demo/textarea-with-character-count.md
  components/input/demo/textarea.md
  components/input/demo/tooltip.md
  components/input/demo/variant.md
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/input/input-group-slot.component.ts
  components/input/input-group.component.ts
  components/input/input-wrapper.component.spec.ts
  components/input/input-wrapper.component.ts
  components/input/input.directive.ts
  components/input/input.module.ts
  components/input/public-api.ts
  components/input/style/index.less
  components/input/tokens.ts
  components/space/space-compact.component.spec.ts
Due: stylelint --fix, eslint --fix

feat(module:cascader): control the visibility of menu by nzOpen
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
  components/cascader/demo/open.ts
Due: eslint --fix

feat(module:input): introduce new component `nz-input-wrapper` (#9408)
  .stylelintrc.json
  components/core/form/nz-form-no-status.service.ts
  components/input/demo/addon.md
  components/input/demo/addon.ts
  components/input/demo/allow-clear.md
  components/input/demo/allow-clear.ts
  components/input/demo/autosize-textarea.md
  components/input/demo/basic.ts
  components/input/demo/compact.md
  components/input/demo/compact.ts
  components/input/demo/otp.md
  components/input/demo/password-input.md
  components/input/demo/password-input.ts
  components/input/demo/presuffix.md
  components/input/demo/presuffix.ts
  components/input/demo/search-input.md
  components/input/demo/search-input.ts
  components/input/demo/size.md
  components/input/demo/size.ts
  components/input/demo/status.md
  components/input/demo/status.ts
  components/input/demo/textarea-with-character-count.md
  components/input/demo/textarea.md
  components/input/demo/tooltip.md
  components/input/demo/variant.md
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/input/input-group-slot.component.ts
  components/input/input-group.component.ts
  components/input/input-wrapper.component.spec.ts
  components/input/input-wrapper.component.ts
  components/input/input.directive.ts
  components/input/input.module.ts
  components/input/public-api.ts
  components/input/style/index.less
  components/input/tokens.ts
  components/space/space-compact.component.spec.ts
Due: stylelint --fix, eslint --fix

refactor(module:form): add optional span
  components/form/demo/required-style.ts
  components/form/form-label.component.ts
  components/form/form-label.spec.ts
Due: eslint --fix

feat(module:form): support nzRequiredMark
  components/form/demo/required-style.md
  components/form/demo/required-style.ts
  components/form/doc/index.en-US.md
  components/form/doc/index.zh-CN.md
  components/form/form-label.component.ts
  components/form/form-label.spec.ts
  components/form/form.directive.ts
  components/form/form.spec.ts
  components/form/public-api.ts
  components/form/types.ts
Due: eslint --fix

fix(module:auto-complete): test failed
  components/auto-complete/autocomplete.spec.ts
Due: eslint --fix

test(module:auto-complete): introduce valueSignal to MockDirectionality (#9449)
  components/auto-complete/autocomplete.spec.ts
Due: eslint --fix

Path conditions:
  stylelint --fix: any of: *.less
  eslint --fix: any of: *.{html,ts}
