Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix --concurrency=auto

.lintstagedrc:

{
  "*.less": "stylelint --fix",
  "*.{md,html,ts}": "eslint --fix --concurrency=auto"
}

refactor(module:segmented): use native animation (#9619)
  components/core/animation/public-api.ts
  components/core/animation/thumb.ts
  components/segmented/segmented-item.component.ts
  components/segmented/segmented.component.ts
  components/segmented/segmented.service.ts
  components/segmented/segmented.spec.ts
  components/segmented/style/index.less
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:message,notification): use native animation
  components/message/base.ts
  components/message/message.component.ts
  components/notification/notification.component.ts
  components/notification/notification.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:message,notification): fix ut
  components/notification/notification.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:message,notification): use native animation (#9609)
  components/core/animation/move.ts
  components/core/animation/notification.ts
  components/core/animation/public-api.ts
  components/message/base.ts
  components/message/message.component.ts
  components/message/message.spec.ts
  components/message/style/animation.less
  components/message/style/index.less
  components/message/typings.ts
  components/notification/notification.component.ts
  components/notification/notification.spec.ts
  components/notification/style/index.less
  components/notification/style/placement.less
Due: stylelint --fix, eslint --fix --concurrency=auto

chore(release): release 21.0.0-beta.0
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

chore(release): release 21.0.0-beta.0 (#9621)
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

removed height fix from index.less and added to patch.less file.
  components/carousel/style/index.less
  components/carousel/style/patch.less
Due: stylelint --fix

refactor(module:date-picker): use native animations
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:date-picker): simplify inline mode template
  components/date-picker/date-picker.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:date-picker): use prefixCls variable instead hardcoded
  components/date-picker/date-picker.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:date-picker): compute dropdown class names
  components/date-picker/date-picker.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:date-picker): use native animation (#9622)
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:time-picker): use native animation
  components/time-picker/time-picker.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:time-picker): bindings and enhance overlay class logic
  components/date-picker/date-picker.component.ts
  components/time-picker/time-picker.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:badge): use native animation
  components/badge/badge-sup.component.ts
  components/badge/badge.component.ts
  components/badge/badge.spec.ts
  components/badge/style/index.less
  components/badge/style/rtl.less
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:time-picker): use native animation (#9623)
  components/date-picker/date-picker.component.ts
  components/time-picker/time-picker.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:badge): use native animation (#9624)
  components/badge/badge-sup.component.ts
  components/badge/badge.component.ts
  components/badge/badge.spec.ts
  components/badge/style/index.less
  components/badge/style/rtl.less
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:tooltip): use native animation
  components/popconfirm/popconfirm.ts
  components/popconfirm/style/entry.less
  components/popover/popover.ts
  components/popover/style/entry.less
  components/popover/style/index.less
  components/style/core/motion/zoom.less
  components/tooltip/base.ts
  components/tooltip/style/entry.less
  components/tooltip/style/index.less
  components/tooltip/tooltip.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:tooltip): fix sub-pixel rendering issues
  components/popconfirm/popconfirm.ts
  components/popover/popover.ts
  components/style/patch.less
  components/tooltip/base.ts
  components/tooltip/tooltip.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:tooltip): mark `NzElementPatchModule` as deprecated
  components/core/animation/no-animation.ts
  components/core/element-patch/element-patch.module.ts
  components/tooltip/base.ts
  components/tooltip/demo/origin.md
  components/tooltip/tooltip.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:tooltip,popover,popconfirm) usage native animation (#9625)
  components/core/animation/no-animation.ts
  components/core/element-patch/element-patch.module.ts
  components/popconfirm/popconfirm.ts
  components/popconfirm/style/entry.less
  components/popover/popover.ts
  components/popover/style/entry.less
  components/popover/style/index.less
  components/style/core/motion/zoom.less
  components/style/patch.less
  components/tooltip/base.ts
  components/tooltip/demo/origin.md
  components/tooltip/style/entry.less
  components/tooltip/style/index.less
  components/tooltip/tooltip.spec.ts
  components/tooltip/tooltip.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:menu): use native animation
  components/core/animation/public-api.ts
  components/core/animation/slide.ts
  components/core/animation/zoom.ts
  components/core/util/class-name.ts
  components/menu/demo/inline-collapsed.ts
  components/menu/menu-item.component.ts
  components/menu/menu.directive.ts
  components/menu/menu.spec.ts
  components/menu/submenu-inline-child.component.ts
  components/menu/submenu-non-inline-child.component.ts
  components/menu/submenu-title.component.ts
  components/menu/submenu.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:menu): update comments
  components/core/util/class-name.spec.ts
  components/core/util/class-name.ts
  components/menu/submenu-inline-child.component.ts
  components/menu/submenu-title.component.ts
  components/menu/submenu.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:collapse): use native animation
  components/collapse/collapse-panel.component.ts
  components/collapse/collapse.component.ts
  components/collapse/collapse.spec.ts
  components/collapse/demo/custom.ts
  components/core/animation/collapse.ts
  components/menu/submenu-inline-child.component.ts
  components/menu/submenu.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:collapse): fix cyclic dependencies
  components/core/animation/collapse.ts
Due: eslint --fix --concurrency=auto

refactor(module:menu,collapse): use native animation (#9626)
  components/collapse/collapse-panel.component.ts
  components/collapse/collapse.component.ts
  components/collapse/collapse.spec.ts
  components/collapse/demo/custom.ts
  components/core/animation/collapse.ts
  components/core/animation/public-api.ts
  components/core/animation/slide.ts
  components/core/animation/zoom.ts
  components/core/util/class-name.spec.ts
  components/core/util/class-name.ts
  components/menu/demo/inline-collapsed.ts
  components/menu/menu-item.component.ts
  components/menu/menu.directive.ts
  components/menu/menu.spec.ts
  components/menu/submenu-inline-child.component.ts
  components/menu/submenu-non-inline-child.component.ts
  components/menu/submenu-title.component.ts
  components/menu/submenu.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:tree,tree-view): use native animation
  components/core/animation/collapse.ts
  components/tree-view/demo/search.ts
  components/tree-view/node.ts
  components/tree-view/tree-view.ts
  components/tree-view/tree-virtual-scroll-view.ts
  components/tree/style/mixin.less
  components/tree/tree-node.component.ts
  components/tree/tree.component.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:auto-complete): use native animations
  components/auto-complete/autocomplete-trigger.directive.ts
  components/auto-complete/autocomplete.component.ts
  components/auto-complete/autocomplete.spec.ts
Due: eslint --fix --concurrency=auto

feat(module:time-picker): support nzPlacement
  components/core/types/direction.ts
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/date-picker/public-api.ts
  components/time-picker/demo/placement.md
  components/time-picker/demo/placement.ts
  components/time-picker/doc/index.en-US.md
  components/time-picker/doc/index.zh-CN.md
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:tree-select): use native animation
  components/core/animation/collapse.ts
  components/tree-select/tree-select.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:auto-complete): implement laffery review
  components/auto-complete/autocomplete.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:auto-complete): use native animations (#9629)
  components/auto-complete/autocomplete-trigger.directive.ts
  components/auto-complete/autocomplete.component.ts
  components/auto-complete/autocomplete.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:tree,tree-view,tree-select): use native animation (#9628)
  components/core/animation/collapse.ts
  components/tree-select/tree-select.component.ts
  components/tree-view/demo/search.ts
  components/tree-view/node.ts
  components/tree-view/tree-view.ts
  components/tree-view/tree-virtual-scroll-view.ts
  components/tree/style/mixin.less
  components/tree/tree-node.component.ts
  components/tree/tree.component.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:time-picker): implement review
  components/time-picker/demo/placement.ts
Due: eslint --fix --concurrency=auto

refactor(module:modal): use native animation
  components/modal/modal-animations.ts
  components/modal/modal-confirm-container.component.ts
  components/modal/modal-container.component.ts
  components/modal/modal-container.directive.ts
  components/modal/modal-ref.ts
  components/modal/modal.component.ts
  components/modal/modal.spec.ts
  components/modal/public-api.ts
  components/modal/style/index.less
  components/style/core/motion/zoom.less
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:graph): use native animation
  components/graph/doc/index.en-US.md
  components/graph/doc/index.zh-CN.md
  components/graph/graph-node.component.ts
  components/graph/graph.component.ts
Due: eslint --fix --concurrency=auto

docs: promotion docs support native animation well
  components/auto-complete/autocomplete.component.ts
  components/color-picker/doc/index.en-US.md
  components/color-picker/doc/index.zh-CN.md
  components/core/animation/slide.ts
  components/input-number/doc/index.en-US.md
  components/input-number/doc/index.zh-CN.md
  docs/animations.en-US.md
  docs/animations.zh-CN.md
  docs/migration-v21.en-US.md
  docs/migration-v21.zh-CN.md
  scripts/site/doc/app/app.config.ts
  scripts/site/doc/app/online-ide/files/app.config.ts
  scripts/site/doc/app/online-ide/files/package.json.ts
Due: eslint --fix --concurrency=auto

docs: promotion docs support native animation well (#9633)
  components/auto-complete/autocomplete.component.ts
  components/color-picker/doc/index.en-US.md
  components/color-picker/doc/index.zh-CN.md
  components/core/animation/slide.ts
  components/input-number/doc/index.en-US.md
  components/input-number/doc/index.zh-CN.md
  docs/animations.en-US.md
  docs/animations.zh-CN.md
  docs/migration-v21.en-US.md
  docs/migration-v21.zh-CN.md
  scripts/site/doc/app/app.config.ts
  scripts/site/doc/app/online-ide/files/app.config.ts
  scripts/site/doc/app/online-ide/files/package.json.ts
Due: eslint --fix --concurrency=auto

Apply suggestion from @Copilot
  components/modal/modal-ref.ts
Due: eslint --fix --concurrency=auto
