Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix --concurrency=auto

fix(module:tree): read initial state of nzNodes getting half-checked nodes from checked nodes, setting matchedNodeList not needed (no "matched" in NzTreeNodeOptions); added tests
  components/core/tree/nz-tree-base.service.ts
  components/tree/tree.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:menu): submenu should respect `provideNzNoAnimation` (#9661)
  components/style/patch.less
Due: stylelint --fix

fix(module:form): error message never disapear if animation is disabled (#9660)
  components/form/form-control.component.ts
  components/form/form-control.spec.ts
Due: eslint --fix --concurrency=auto

chore(release): release 21.0.2
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

chore(release): release 21.0.2 (#9664)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

chore: bump angular to 21.1
  components/core/services/scroll.spec.ts
  components/core/services/scroll.ts
  package-lock.json
  package.json
Due: eslint --fix --concurrency=auto

chore: bump angular to 21.1 (#9665)
  components/core/services/scroll.spec.ts
  components/core/services/scroll.ts
  package-lock.json
  package.json
Due: eslint --fix --concurrency=auto

feat(module:time-picker): add prefix support (#9647)
  components/date-picker/style/index.less
  components/time-picker/demo/prefix-suffix.md
  components/time-picker/demo/prefix-suffix.ts
  components/time-picker/doc/index.en-US.md
  components/time-picker/doc/index.zh-CN.md
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:transfer): replace `transfer-search` with `nz-input-wrapper` (#9641)
  components/transfer/transfer-list.component.ts
  components/transfer/transfer-search.component.ts
  components/transfer/transfer.spec.ts
Due: eslint --fix --concurrency=auto

feat(module:time-picker): support nzNeedConfirmation
  components/time-picker/demo/confirmation.md
  components/time-picker/demo/confirmation.ts
  components/time-picker/doc/index.en-US.md
  components/time-picker/doc/index.zh-CN.md
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:timepicker): implement laffery review
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
Due: eslint --fix --concurrency=auto

feat(module:time-picker): support `nzNeedConfirm` (#9638)
  components/time-picker/demo/confirmation.md
  components/time-picker/demo/confirmation.ts
  components/time-picker/doc/index.en-US.md
  components/time-picker/doc/index.zh-CN.md
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
Due: eslint --fix --concurrency=auto

docs: fix scroll styles
  scripts/site/doc/style/common.less
Due: stylelint --fix

docs: fix scroll styles (#9666)
  scripts/site/doc/style/common.less
Due: stylelint --fix

feat(module:time-picker): support nzPlacement
  components/core/types/direction.ts
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/date-picker/public-api.ts
  components/time-picker/demo/placement.md
  components/time-picker/demo/placement.ts
  components/time-picker/doc/index.en-US.md
  components/time-picker/doc/index.zh-CN.md
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:time-picker): remove useless test
  components/time-picker/time-picker.component.spec.ts
Due: eslint --fix --concurrency=auto

feat(module:time-picker): support `nzPlacement` (#9630)
  components/core/types/direction.ts
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/date-picker/public-api.ts
  components/time-picker/demo/placement.md
  components/time-picker/demo/placement.ts
  components/time-picker/doc/index.en-US.md
  components/time-picker/doc/index.zh-CN.md
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
Due: eslint --fix --concurrency=auto

feat(module:form): support nzSize
  components/button/button.component.ts
  components/button/button.spec.ts
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
  components/color-picker/color-picker.component.spec.ts
  components/color-picker/color-picker.component.ts
  components/core/form/nz-form-size.token.ts
  components/core/form/public-api.ts
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/form/demo/size.md
  components/form/demo/size.ts
  components/form/doc/index.en-US.md
  components/form/doc/index.zh-CN.md
  components/form/form.directive.ts
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
  components/input/input.directive.ts
  components/input/input.spec.ts
  components/radio/radio-group.component.ts
  components/radio/radio.spec.ts
  components/select/select.component.ts
  components/select/select.spec.ts
  components/space/space-compact.component.spec.ts
  components/space/space-compact.component.ts
  components/switch/switch.component.ts
  components/switch/switch.spec.ts
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
  components/tree-select/tree-select.component.ts
  components/tree-select/tree-select.spec.ts
Due: eslint --fix --concurrency=auto

Apply suggestion from @Copilot
  components/input/demo/advance-count.ts
Due: eslint --fix --concurrency=auto

feat(module:form): support `nzSize` (#9606)
  components/button/button.component.ts
  components/button/button.spec.ts
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
  components/color-picker/color-picker.component.spec.ts
  components/color-picker/color-picker.component.ts
  components/core/form/nz-form-size.token.ts
  components/core/form/public-api.ts
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/form/demo/size.md
  components/form/demo/size.ts
  components/form/doc/index.en-US.md
  components/form/doc/index.zh-CN.md
  components/form/form.directive.ts
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
  components/input/input.directive.ts
  components/input/input.spec.ts
  components/radio/radio-group.component.ts
  components/radio/radio.spec.ts
  components/select/select.component.ts
  components/select/select.spec.ts
  components/space/space-compact.component.spec.ts
  components/space/space-compact.component.ts
  components/switch/switch.component.ts
  components/switch/switch.spec.ts
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
  components/tree-select/tree-select.component.ts
  components/tree-select/tree-select.spec.ts
Due: eslint --fix --concurrency=auto

chore: update lint config
  components/style/patch.less
  components/upload/upload-btn.component.html
  components/upload/upload-list.component.html
  components/upload/upload.component.html
  eslint.config.mjs
  package-lock.json
  package.json
Due: stylelint --fix, eslint --fix --concurrency=auto

chore(release): release 21.1.0
  CHANGELOG.md
  components/form/doc/index.en-US.md
  components/form/doc/index.zh-CN.md
  components/package.json
  components/time-picker/doc/index.en-US.md
  components/time-picker/doc/index.zh-CN.md
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

style: apply prefer-at-empty rule
  components/list/demo/basic.ts
  components/mention/mention.component.ts
  eslint.config.mjs
Due: eslint --fix --concurrency=auto

style: apply prefer-contextual-for-variables rule
  components/card/card.component.ts
  components/check-list/check-list-content.component.ts
  components/descriptions/descriptions.spec.ts
  components/form/demo/dynamic-form-item.ts
  components/image/image-preview.component.ts
  components/list/list.component.ts
  components/skeleton/skeleton.component.ts
  components/slider/slider.component.ts
  components/space/space.component.ts
  components/splitter/splitter.component.ts
  components/table/demo/colspan-rowspan.ts
  components/table/demo/custom-column.ts
  components/tabs/demo/custom-add-trigger.ts
  components/tabs/tabs.component.spec.ts
  components/tabs/tabs.component.ts
  components/tag/demo/control.ts
  components/tree/tree-indent.component.ts
  eslint.config.mjs
Due: eslint --fix --concurrency=auto

chore: update lint config
  eslint.config.mjs
Due: none

refactor(module:input): update updateCount method
  components/input/input-wrapper.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:input): modify to be computed signal
  components/input/input-wrapper.component.ts
Due: eslint --fix --concurrency=auto

test(module:date-picker): add unit tests for week mode persistence
  components/date-picker/lib/lib-packer.spec.ts
  components/date-picker/week-picker.component.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:input): imporve count logic
  components/input/input-wrapper.component.spec.ts
  components/input/input-wrapper.component.ts
Due: eslint --fix --concurrency=auto

feat(module:progress): add indeterminate state
  components/progress/demo/indeterminate.md
  components/progress/demo/indeterminate.ts
  components/progress/doc/index.en-US.md
  components/progress/doc/index.zh-CN.md
  components/progress/progress.component.ts
  components/progress/progress.spec.ts
  components/progress/style/index.less
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:progress): boolean attribute for nzIndeterminate
  components/progress/progress.component.ts
Due: eslint --fix --concurrency=auto

fix(module:collapse): apply pointer cursor to full header
  components/collapse/style/index.less
Due: stylelint --fix

fix(module:select): add position relative to selection-item for tooltip visibility of custom template (#9673)
  components/select/style/index.less
Due: stylelint --fix

fix: sync DOM and styles with ant-design
  components/collapse/collapse-panel.component.ts
  components/collapse/collapse.spec.ts
  components/collapse/style/index.less
Due: stylelint --fix, eslint --fix --concurrency=auto

fix(module:collapse): apply pointer cursor to full header (#9678)
  components/collapse/collapse-panel.component.ts
  components/collapse/collapse.spec.ts
  components/collapse/style/index.less
Due: stylelint --fix, eslint --fix --concurrency=auto

feat(module:collapse): sync latest antd styles
  components/collapse/collapse-panel.component.ts
  components/collapse/collapse.component.ts
  components/collapse/demo/size.ts
  components/collapse/style/index.less
  components/collapse/style/rtl.less
  components/style/themes/compact.less
  components/style/themes/default.less
  components/style/themes/variable.less
Due: stylelint --fix, eslint --fix --concurrency=auto

Path conditions:
  stylelint --fix: any of: *.less
  eslint --fix --concurrency=auto: any of: *.{md,html,ts}
