Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

docs(module:input-number): add `nzKeyboard` description
  components/input-number/doc/index.en-US.md
  components/input-number/doc/index.zh-CN.md
Due: none

docs(module:input-number): add `nzKeyboard` description (#9317)
  components/input-number/doc/index.en-US.md
  components/input-number/doc/index.zh-CN.md
Due: none

chore(release): release 20.1.2
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix

chore(release): release 20.1.2 (#9321)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix

fix(module:popconfirm): correctly render icon & title
  components/popconfirm/demo/basic.ts
  components/popconfirm/doc/index.en-US.md
  components/popconfirm/doc/index.zh-CN.md
  components/popconfirm/popconfirm.ts
Due: eslint --fix

fix(module:popconfirm): correctly render icon & title (#9322)
  components/popconfirm/demo/basic.ts
  components/popconfirm/doc/index.en-US.md
  components/popconfirm/doc/index.zh-CN.md
  components/popconfirm/popconfirm.ts
Due: eslint --fix

feat(module:float-button): `nzIcon` support string type
  components/float-button/demo/description.ts
  components/float-button/demo/group-menu.ts
  components/float-button/demo/group-placement.ts
  components/float-button/demo/group.ts
  components/float-button/demo/open.ts
  components/float-button/demo/shape.ts
  components/float-button/demo/type.ts
  components/float-button/doc/index.en-US.md
  components/float-button/doc/index.zh-CN.md
  components/float-button/float-button-content.component.ts
  components/float-button/float-button-group.component.spec.ts
  components/float-button/float-button-group.component.ts
  components/float-button/float-button-top.component.ts
  components/float-button/float-button.component.spec.ts
  components/float-button/float-button.component.ts
Due: eslint --fix

chore: update lint-staged config to include markdown
  .lintstagedrc
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README-zh_CN.md
  components/popconfirm/doc/index.en-US.md
  components/popconfirm/doc/index.zh-CN.md
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  eslint.config.mjs
Due: none

chore: update lint-staged config to include markdown (#9323)
  .lintstagedrc
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README-zh_CN.md
  components/popconfirm/doc/index.en-US.md
  components/popconfirm/doc/index.zh-CN.md
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  eslint.config.mjs
Due: none

feat(module:tour): init nz-tour component
  .github/CODEOWNERS
  components/components.less
  components/tour/demo/basic.md
  components/tour/demo/basic.ts
  components/tour/demo/module
  components/tour/doc/index.en-US.md
  components/tour/doc/index.zh-CN.md
  components/tour/index.ts
  components/tour/ng-package.json
  components/tour/public-api.ts
  components/tour/style/entry.less
  components/tour/style/index.less
  components/tour/tour-step.ts
  components/tour/tour.module.ts
  components/tour/tour.service.ts
  components/tour/tour.spec.ts
  components/tour/tour.ts
  scripts/prerender/route-paths.txt
Due: stylelint --fix, eslint --fix

feat(module:tour): init connected overlay
  components/tour/demo/basic.ts
  components/tour/demo/module
  components/tour/doc/index.en-US.md
  components/tour/doc/index.zh-CN.md
  components/tour/mask.ts
  components/tour/public-api.ts
  components/tour/style/index.less
  components/tour/tour-step.ts
  components/tour/tour.service.ts
  components/tour/tour.spec.ts
  components/tour/tour.ts
  components/tour/types.ts
Due: stylelint --fix, eslint --fix

feat(module:tour): tour mask
  components/tour/mask.ts
  components/tour/style/index.less
  components/tour/tour.ts
Due: stylelint --fix, eslint --fix

feat(module:tour): improve styles
  components/tour/mask.ts
  components/tour/style/index.less
  components/tour/tour.ts
Due: stylelint --fix, eslint --fix

feat(module:tour): add overlay module
  components/core/overlay/nz-connected-overlay.ts
  components/tour/tour.ts
Due: eslint --fix

feat(module:tour): add tour component
  components/tour/demo/actions-render.md
  components/tour/demo/actions-render.ts
  components/tour/demo/gap.md
  components/tour/demo/gap.ts
  components/tour/demo/indicator.md
  components/tour/demo/indicator.ts
  components/tour/demo/mask.md
  components/tour/demo/mask.ts
  components/tour/demo/non-modal.md
  components/tour/demo/non-modal.ts
  components/tour/demo/placement.md
  components/tour/demo/placement.ts
  components/tour/doc/index.en-US.md
  components/tour/tour.service.ts
  components/tour/tour.ts
  scripts/site/_site/doc/style/common.less
  scripts/site/_site/doc/style/drawer.less
Due: stylelint --fix, eslint --fix

feat(module:tour): support non-modal
  components/tour/demo/non-modal.ts
  components/tour/tour.service.ts
  components/tour/tour.ts
Due: eslint --fix

feat(module:select): support `nzPrefix`
  components/select/demo/custom-content.md
  components/select/demo/custom-dropdown-menu.md
  components/select/demo/hide-selected.md
  components/select/demo/prefix-and-suffix.md
  components/select/demo/prefix-and-suffix.ts
  components/select/demo/scroll-load.md
  components/select/doc/index.en-US.md
  components/select/doc/index.zh-CN.md
  components/select/select-arrow.component.ts
  components/select/select-search.component.ts
  components/select/select-top-control.component.ts
  components/select/select.component.ts
  components/select/style/index.less
  components/select/style/multiple.less
  components/select/style/patch.less
  components/select/style/rtl.less
  components/select/style/single.less
  components/select/style/status.less
  components/style/themes/variable.less
Due: stylelint --fix, eslint --fix

feat(module:tree-select): support `nzPrefix` and `nzSuffixIcon`
  components/tree-select/demo/placement.ts
  components/tree-select/demo/prefix-and-suffix.md
  components/tree-select/demo/prefix-and-suffix.ts
  components/tree-select/demo/variant.md
  components/tree-select/demo/variant.ts
  components/tree-select/doc/index.en-US.md
  components/tree-select/doc/index.zh-CN.md
  components/tree-select/tree-select.component.ts
Due: eslint --fix

feat(module:cascader): support `nzPrefix`
  components/cascader/cascader.component.ts
  components/cascader/demo/placement.md
  components/cascader/demo/prefix-and-suffix.md
  components/cascader/demo/prefix-and-suffix.ts
  components/cascader/demo/status.md
  components/cascader/doc/index.en-US.md
  components/cascader/doc/index.zh-CN.md
  components/cascader/style/index.less
Due: stylelint --fix, eslint --fix

ci: fix build issue and add unit tests
  components/cascader/cascader.spec.ts
  components/cascader/demo/prefix-and-suffix.ts
  components/select/select.spec.ts
  components/style/themes/default.less
  components/tree-select/tree-select.spec.ts
Due: stylelint --fix, eslint --fix

docs(module:cascader): update showcase for nzExpandIcon
  components/cascader/demo/prefix-and-suffix.md
Due: none

feat(module:dropdown): display array for content dropdown
  components/dropdown/demo/arrow.md
  components/dropdown/demo/arrow.ts
  components/dropdown/doc/index.en-US.md
  components/dropdown/doc/index.zh-CN.md
  components/dropdown/dropdown-menu.component.ts
  components/dropdown/dropdown.directive.spec.ts
  components/dropdown/dropdown.directive.ts
Due: eslint --fix

refactor(module:dropdown): apply suggestion
  components/dropdown/demo/arrow.ts
Due: eslint --fix

fix(module:dropdown): i18n trad
  components/dropdown/demo/arrow.md
Due: none

fix(module:statistic): correct DOM structure and naming
  components/statistic/public-api.ts
  components/statistic/statistic-content-value.component.spec.ts
  components/statistic/statistic-content-value.component.ts
  components/statistic/statistic.component.ts
  components/statistic/statistic.module.ts
Due: eslint --fix

feat(module:tour): start with service
  components/core/overlay/overlay-position.ts
  components/style/themes/aliyun.less
  components/style/themes/default.less
  components/style/themes/variable.less
  components/tour/demo/basic.ts
  components/tour/demo/non-modal.ts
  components/tour/demo/placement.ts
  components/tour/mask.ts
  components/tour/style/entry.less
  components/tour/style/index.less
  components/tour/style/patch.less
  components/tour/tour-ref.ts
  components/tour/tour.service.ts
  components/tour/tour.ts
  components/tour/types.ts
  components/tour/utils.ts
Due: stylelint --fix, eslint --fix

feat(module:dropdown): display arrow for content dropdown
  components/dropdown/demo/arrow.md
  components/dropdown/demo/arrow.ts
  components/dropdown/doc/index.en-US.md
  components/dropdown/doc/index.zh-CN.md
  components/dropdown/dropdown-menu.component.ts
  components/dropdown/dropdown.directive.spec.ts
  components/dropdown/dropdown.directive.ts
Due: eslint --fix

fix(module:dropdown): play only dropdown test
  components/dropdown/dropdown.directive.spec.ts
Due: eslint --fix

Apply suggestion from @HyperLife1119
  components/dropdown/demo/arrow.md
Due: none

feat(module:tour): support mask and gap props
  components/tour/constant.ts
  components/tour/demo/actions-render.md
  components/tour/demo/basic.ts
  components/tour/demo/gap.md
  components/tour/demo/gap.ts
  components/tour/demo/mask.md
  components/tour/demo/mask.ts
  components/tour/demo/placement.md
  components/tour/mask.ts
  components/tour/public-api.ts
  components/tour/style/index.less
  components/tour/tour-ref.ts
  components/tour/tour.service.ts
  components/tour/tour.ts
  components/tour/types.ts
  components/tour/utils.ts
Due: stylelint --fix, eslint --fix

feat(module:cascader,select,tree-select): use autoclose tag
  components/cascader/cascader.component.ts
  components/select/select-top-control.component.ts
  components/select/select.component.ts
  components/tree-select/tree-select.component.ts
Due: eslint --fix

fix(module:slider): fix slider hover flicker
  components/slider/style/index.less
Due: stylelint --fix

fix(module:i18n): expand cs_CZ locale translations
  components/i18n/languages/cs_CZ.ts
Due: eslint --fix

fix(module:i18n): expand sk_SK locale translations
  components/i18n/languages/sk_SK.ts
Due: eslint --fix

feat(module:tour): add i18n
  components/i18n/languages/default.ts
  components/i18n/languages/en_AU.ts
  components/i18n/languages/en_GB.ts
  components/i18n/languages/en_US.ts
  components/i18n/languages/zh_CN.ts
  components/i18n/nz-i18n.interface.ts
  components/tour/demo/actions-render.md
  components/tour/demo/actions-render.ts
  components/tour/tour-ref.ts
  components/tour/tour.ts
Due: eslint --fix

feat(module:tour): custom indicators
  components/tour/demo/indicator.ts
  components/tour/tour-ref.ts
  components/tour/tour.ts
  components/tour/types.ts
Due: eslint --fix

fix(module:i18n): add missing translations to `cs_CZ` (#9334)
  components/i18n/languages/cs_CZ.ts
Due: eslint --fix

fix(module:i18n): add missing translations to `sk_SK` (#9335)
  components/i18n/languages/sk_SK.ts
Due: eslint --fix

docs(module:tree-select,select): turn on nzAllowClear for multi-select
  components/select/demo/multiple.ts
  components/tree-select/demo/multiple.ts
  components/tree-select/demo/variant.ts
Due: eslint --fix

Path conditions:
  stylelint --fix: any of: *.less
  eslint --fix: any of: *.{html,ts}
