Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc:

{
  "*.less": "stylelint --fix",
  "*.{html,ts}": "eslint --fix"
}

feat(module:input-number): add affix and addon inputs
  components/input-number/demo/addon.ts
  components/input-number/demo/prefix.ts
  components/input-number/doc/index.en-US.md
  components/input-number/doc/index.zh-CN.md
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
Due: eslint --fix

feat(module:input): add input-wrapper with affix and addon inputs
  components/input/demo/addon.ts
  components/input/demo/presuffix.ts
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/input/input-wrapper.component.spec.ts
  components/input/input-wrapper.component.ts
Due: eslint --fix

feat(module:input): add affix and addon inputs to `nz-input-wrapper` (#9450)
  components/input/demo/addon.ts
  components/input/demo/presuffix.ts
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/input/input-wrapper.component.spec.ts
  components/input/input-wrapper.component.ts
Due: eslint --fix

feat(module:input-number): add affix and addon inputs (#9451)
  components/input-number/demo/addon.ts
  components/input-number/demo/prefix.ts
  components/input-number/doc/index.en-US.md
  components/input-number/doc/index.zh-CN.md
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
Due: eslint --fix

refactor(module:icon): enhanced accessibility & simplify code
  components/icon/icon.directive.ts
Due: eslint --fix

test(module:check-list): introduce checked to mock
  components/check-list/check-list.component.spec.ts
Due: eslint --fix

refactor(module:icon): enhanced accessibility & simplify code (#9453)
  components/icon/icon.directive.ts
Due: eslint --fix

feat(module:input): support for allow clear
  components/input/demo/allow-clear.ts
  components/input/demo/search-input.ts
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/input/input-wrapper.component.spec.ts
  components/input/input-wrapper.component.ts
  components/input/input.directive.ts
Due: eslint --fix

feat(module:input): add `nzAllowClear` input and `nzClear` callback (#9452)
  components/input/demo/allow-clear.ts
  components/input/demo/search-input.ts
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/input/input-wrapper.component.spec.ts
  components/input/input-wrapper.component.ts
  components/input/input.directive.ts
Due: eslint --fix

feat(module:cascader): fold the menu when no column activated
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
Due: eslint --fix

feat(module:cascader): control the visibility of popup panel by `nzOpen` (#9448)
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
  components/cascader/demo/open.ts
Due: eslint --fix

feat(module:modal): support global nzCentered configuration
  components/core/config/config.ts
  components/modal/doc/index.en-US.md
  components/modal/doc/index.zh-CN.md
  components/modal/modal-container.component.ts
  components/modal/modal-container.directive.ts
  components/modal/modal-types.ts
  components/modal/modal.component.ts
  components/modal/modal.service.ts
  components/modal/modal.spec.ts
Due: eslint --fix

fix(module:cascader): display activated column correctly
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
Due: eslint --fix

refactor(module:form): implement review
  components/form/demo/required-style.ts
  components/form/form-label.component.ts
  components/form/form-label.spec.ts
  components/form/form.spec.ts
  components/form/style/index.less
Due: stylelint --fix, eslint --fix

feat(module:cascader): switch checked status of option by ENTER key
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
Due: eslint --fix

docs(module:form): fix form-register demo
  components/form/demo/register.ts
Due: eslint --fix

feat(module:input): introduce nz-input-password directive
  components/icon/icons.ts
  components/input/demo/password-input.ts
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/input/input-password.directive.spec.ts
  components/input/input-password.directive.ts
  components/input/input-wrapper.component.ts
  components/input/input.directive.ts
  components/input/input.module.ts
  components/input/input.spec.ts
  components/input/public-api.ts
  components/input/style/index.less
Due: stylelint --fix, eslint --fix

docs(module:form): fix form-register demo (#9459)
  components/form/demo/register.ts
Due: eslint --fix

docs(module:dropdown): fix disable demo
  components/dropdown/demo/dropdown-button.ts
Due: eslint --fix

docs(module:dropdown): fix disable demo (#9462)
  components/dropdown/demo/dropdown-button.ts
Due: eslint --fix

fix(module:cascader): display activated column correctly when reopen the popup panel (#9456)
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
Due: eslint --fix

feat(module:segmented): add default name if `nzName` is not provided
  components/segmented/segmented.component.ts
  components/segmented/segmented.service.ts
  components/segmented/segmented.spec.ts
Due: eslint --fix

feat(module:input): introduce nz-input-password directive (#9460)
  components/icon/icons.ts
  components/input/demo/password-input.ts
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/input/input-password.directive.spec.ts
  components/input/input-password.directive.ts
  components/input/input-wrapper.component.ts
  components/input/input.directive.ts
  components/input/input.module.ts
  components/input/input.spec.ts
  components/input/public-api.ts
  components/input/style/index.less
Due: stylelint --fix, eslint --fix

feat(module:segmented): add default name if `nzName` is not provided (#9466)
  components/segmented/segmented.component.ts
  components/segmented/segmented.service.ts
  components/segmented/segmented.spec.ts
Due: eslint --fix

fix(module:input): fix input-group-wrapper-compact styles
  components/input-number/style/index.less
  components/input/style/index.less
  components/input/style/mixin.less
Due: stylelint --fix

docs: add version to input docs
  components/input/demo/allow-clear.md
  components/input/demo/compact.md
  components/input/demo/password-input.md
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  scripts/site/doc/app/side/side.component.html
Due: eslint --fix

docs: add version to input docs (#9468)
  components/input/demo/allow-clear.md
  components/input/demo/compact.md
  components/input/demo/password-input.md
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  scripts/site/doc/app/side/side.component.html
Due: eslint --fix

docs: add FAQ section regarding overlay scroll behavior
  components/auto-complete/doc/index.en-US.md
  components/auto-complete/doc/index.zh-CN.md
  components/cascader/doc/index.en-US.md
  components/cascader/doc/index.zh-CN.md
  components/color-picker/doc/index.en-US.md
  components/color-picker/doc/index.zh-CN.md
  components/date-picker/doc/index.en-US.md
  components/date-picker/doc/index.zh-CN.md
  components/dropdown/doc/index.en-US.md
  components/dropdown/doc/index.zh-CN.md
  components/mention/doc/index.en-US.md
  components/mention/doc/index.zh-CN.md
  components/modal/doc/index.en-US.md
  components/popconfirm/doc/index.en-US.md
  components/popconfirm/doc/index.zh-CN.md
  components/popover/doc/index.en-US.md
  components/popover/doc/index.zh-CN.md
  components/select/doc/index.en-US.md
  components/select/doc/index.zh-CN.md
  components/time-picker/doc/index.en-US.md
  components/time-picker/doc/index.zh-CN.md
  components/tooltip/doc/index.en-US.md
  components/tooltip/doc/index.zh-CN.md
  components/tree-select/doc/index.en-US.md
  components/tree-select/doc/index.zh-CN.md
Due: none

docs: add FAQ section regarding overlay scroll behavior (#9470)
  components/auto-complete/doc/index.en-US.md
  components/auto-complete/doc/index.zh-CN.md
  components/cascader/doc/index.en-US.md
  components/cascader/doc/index.zh-CN.md
  components/color-picker/doc/index.en-US.md
  components/color-picker/doc/index.zh-CN.md
  components/date-picker/doc/index.en-US.md
  components/date-picker/doc/index.zh-CN.md
  components/dropdown/doc/index.en-US.md
  components/dropdown/doc/index.zh-CN.md
  components/mention/doc/index.en-US.md
  components/mention/doc/index.zh-CN.md
  components/modal/doc/index.en-US.md
  components/popconfirm/doc/index.en-US.md
  components/popconfirm/doc/index.zh-CN.md
  components/popover/doc/index.en-US.md
  components/popover/doc/index.zh-CN.md
  components/select/doc/index.en-US.md
  components/select/doc/index.zh-CN.md
  components/time-picker/doc/index.en-US.md
  components/time-picker/doc/index.zh-CN.md
  components/tooltip/doc/index.en-US.md
  components/tooltip/doc/index.zh-CN.md
  components/tree-select/doc/index.en-US.md
  components/tree-select/doc/index.zh-CN.md
Due: none

fix(module:input): fix input-group-wrapper-compact styles (#9467)
  components/input-number/style/index.less
  components/input/style/index.less
  components/input/style/mixin.less
Due: stylelint --fix

docs: build site
  .github/workflows/docs.yml
Due: none

fix(module:button): improve icon-only logic
  components/button/button.component.ts
  components/button/button.spec.ts
Due: eslint --fix

refactor(module:input): move class settings to NzInputPassword directive
  components/input/input-password.directive.ts
  components/input/input-wrapper.component.ts
Due: eslint --fix

refactor(module:input): move class settings to NzInputPassword directive (#9484)
  components/input/input-password.directive.ts
  components/input/input-wrapper.component.ts
Due: eslint --fix

chore(module:button): deprecated nzSearch input
  components/button/button.component.ts
Due: eslint --fix

feat(module:input): introduce nz-input-search directive
  components/input/demo/allow-clear.md
  components/input/demo/autosize-textarea.md
  components/input/demo/compact.ts
  components/input/demo/otp.md
  components/input/demo/password-input.md
  components/input/demo/presuffix.md
  components/input/demo/search-input-loading.md
  components/input/demo/search-input-loading.ts
  components/input/demo/search-input.md
  components/input/demo/search-input.ts
  components/input/demo/status.md
  components/input/demo/textarea-with-character-count.md
  components/input/demo/textarea.md
  components/input/demo/tooltip.md
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/input/input-search.directive.spec.ts
  components/input/input-search.directive.ts
  components/input/input-wrapper.component.ts
  components/input/input.directive.ts
  components/input/input.module.ts
  components/input/public-api.ts
Due: eslint --fix

refactor(module:badge): simplify code
  components/badge/badge-sup.component.ts
  components/badge/badge.component.ts
  components/badge/doc/index.en-US.md
  components/badge/doc/index.zh-CN.md
  components/badge/ribbon.component.ts
Due: eslint --fix
