Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

feat(module:avatar): add `loading` and `fetchpriority` attributes
  components/avatar/avatar.component.ts
  components/avatar/avatar.spec.ts
  components/avatar/doc/index.en-US.md
Due: eslint --fix

fix(module:water-mark): make server-side compatible (#9250)
  components/water-mark/water-mark.component.ts
  components/water-mark/water-mark.spec.ts
Due: eslint --fix

feat(module:popconfirm): implement disable for cancel button
  components/popconfirm/doc/index.en-US.md
  components/popconfirm/doc/index.zh-CN.md
  components/popconfirm/popconfirm-option.ts
  components/popconfirm/popconfirm.spec.ts
  components/popconfirm/popconfirm.ts
  components/popconfirm/public-api.ts
Due: eslint --fix

Update index.zh-CN.md
  components/avatar/doc/index.zh-CN.md
Due: none

Update index.en-US.md
  components/avatar/doc/index.en-US.md
Due: none

feat(module:avatar): add `loading` and `fetchpriority` attributes (#7347)
  components/avatar/avatar.component.ts
  components/avatar/avatar.spec.ts
  components/avatar/doc/index.en-US.md
  components/avatar/doc/index.zh-CN.md
Due: eslint --fix

feat(module:popconfirm): implement disable for cancel button (#9245)
  components/popconfirm/doc/index.en-US.md
  components/popconfirm/doc/index.zh-CN.md
  components/popconfirm/popconfirm-option.ts
  components/popconfirm/popconfirm.spec.ts
  components/popconfirm/popconfirm.ts
  components/popconfirm/public-api.ts
Due: eslint --fix

chore(release): release 20.0.0
  CHANGELOG.md
  README-zh_CN.md
  README.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  docs/introduce.en-US.md
  docs/introduce.zh-CN.md
  scripts/site/_site/doc/app/online-ide/files/package.json.ts
Due: eslint --fix

chore: update 19.3.x archive
  scripts/site/_site/doc/app/header/header.component.ts
Due: eslint --fix

chore: update route-paths
  scripts/prerender/route-paths.txt
Due: none

chore(release): release 20.0.0 (#9253)
  CHANGELOG.md
  README-zh_CN.md
  README.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  docs/introduce.en-US.md
  docs/introduce.zh-CN.md
  scripts/prerender/route-paths.txt
  scripts/site/_site/doc/app/header/header.component.ts
  scripts/site/_site/doc/app/online-ide/files/package.json.ts
Due: eslint --fix

feat(module:input-number): accepted numbers with commas
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
Due: eslint --fix

fix(module:icon): debounce icon rendering on animation frame
  components/icon/icon.directive.ts
Due: eslint --fix

fix(module:icon): debounce icon rendering on animation frame (#8579)
  components/icon/icon.directive.ts
Due: eslint --fix

refactor: reduce config service boilerplate
  components/alert/alert.component.ts
  components/button/button.component.ts
  components/card/card.component.ts
  components/cascader/cascader.component.ts
  components/code-editor/code-editor.service.ts
  components/collapse/collapse-panel.component.ts
  components/collapse/collapse.component.ts
  components/core/config/config.service.ts
  components/empty/embed-empty.component.ts
  components/experimental/image/image.component.ts
  components/icon/icon.service.ts
  components/message/base.ts
  components/message/message-container.component.ts
  components/modal/modal-container.directive.ts
  components/notification/notification-container.component.ts
  components/progress/progress.component.ts
  components/rate/rate.component.ts
  components/select/select.component.ts
  components/spin/spin.component.ts
  components/table/src/table/table.component.ts
  components/tree-select/tree-select.component.ts
Due: eslint --fix

refactor: add `onConfigChangeEventForComponent` to reduce config service boilerplate (#9257)
  components/alert/alert.component.ts
  components/button/button.component.ts
  components/card/card.component.ts
  components/cascader/cascader.component.ts
  components/code-editor/code-editor.service.ts
  components/collapse/collapse-panel.component.ts
  components/collapse/collapse.component.ts
  components/core/config/config.service.ts
  components/empty/embed-empty.component.ts
  components/experimental/image/image.component.ts
  components/icon/icon.service.ts
  components/message/base.ts
  components/message/message-container.component.ts
  components/modal/modal-container.directive.ts
  components/notification/notification-container.component.ts
  components/progress/progress.component.ts
  components/rate/rate.component.ts
  components/select/select.component.ts
  components/spin/spin.component.ts
  components/table/src/table/table.component.ts
  components/tree-select/tree-select.component.ts
Due: eslint --fix

fix(module:tree-select): render title of selected node in innerHTML
  components/cascader/cascader.component.ts
  components/select/select-item.component.ts
  components/select/select-top-control.component.ts
  components/tree-select/tree-select.component.ts
Due: eslint --fix

refactor(module:highlight): deprecate `NzHighlightModule`
  components/cascader/cascader-option.component.ts
  components/core/highlight/highlight.module.ts
  components/core/highlight/highlight.pipe.ts
  components/core/pipe/time-range.pipe.ts
  components/core/util/encode-entities.ts
  components/core/util/public-api.ts
  components/tree/tree-node-title.component.ts
Due: eslint --fix

fix(module:inputnumber): variant filled style
  components/input/style/mixin.less
Due: stylelint --fix

refactor(module:highlight): deprecate `NzHighlightModule` (#9260)
  components/cascader/cascader-option.component.ts
  components/core/highlight/highlight.module.ts
  components/core/highlight/highlight.pipe.ts
  components/core/pipe/time-range.pipe.ts
  components/core/util/encode-entities.ts
  components/core/util/public-api.ts
  components/tree/tree-node-title.component.ts
Due: eslint --fix

fix(module:input): style filled variant
  components/input/input.directive.ts
  components/input/style/mixin.less
Due: stylelint --fix, eslint --fix

refactor: no explicit FocusMonitor#stopMonitor invocation
  components/checkbox/checkbox-group.component.ts
  components/checkbox/checkbox.component.ts
  components/input-number/input-number.component.ts
  components/input/input-group.component.ts
  components/radio/radio.component.ts
  components/select/select.component.ts
  components/switch/switch.component.ts
Due: eslint --fix

Apply suggestions from code review
  components/input/input.directive.ts
  components/input/style/mixin.less
Due: stylelint --fix, eslint --fix

refactor(module:input): stop monitoring correctly
  components/input/input.directive.ts
Due: eslint --fix

fix(module:input): style filled variant (#9262)
  components/input/input.directive.ts
  components/input/style/mixin.less
Due: stylelint --fix, eslint --fix

feat(module:tree-select): render title of selected node in innerHTML (#9259)
  components/cascader/cascader.component.ts
  components/select/select-item.component.ts
  components/select/select-top-control.component.ts
  components/tree-select/tree-select.component.ts
Due: eslint --fix

docs: update changelog of v20
  CHANGELOG.md
  components/affix/doc/index.en-US.md
  components/affix/doc/index.zh-CN.md
  components/anchor/doc/index.en-US.md
  components/anchor/doc/index.zh-CN.md
  components/notification/doc/index.en-US.md
  components/notification/doc/index.zh-CN.md
  components/pagination/doc/index.en-US.md
  components/pagination/doc/index.zh-CN.md
  components/segmented/demo/icon.md
  components/segmented/demo/with-icon-only.md
  components/steps/doc/index.en-US.md
  components/steps/doc/index.zh-CN.md
  components/tabs/doc/index.en-US.md
  components/tabs/doc/index.zh-CN.md
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  docs/migration-v20.en-US.md
  docs/migration-v20.zh-CN.md
Due: none

docs: update changelog of v20
  docs/changelog.zh-CN.md
Due: none

docs: update changelog of v20 (#9266)
  CHANGELOG.md
  components/affix/doc/index.en-US.md
  components/affix/doc/index.zh-CN.md
  components/anchor/doc/index.en-US.md
  components/anchor/doc/index.zh-CN.md
  components/notification/doc/index.en-US.md
  components/notification/doc/index.zh-CN.md
  components/pagination/doc/index.en-US.md
  components/pagination/doc/index.zh-CN.md
  components/segmented/demo/icon.md
  components/segmented/demo/with-icon-only.md
  components/steps/doc/index.en-US.md
  components/steps/doc/index.zh-CN.md
  components/tabs/doc/index.en-US.md
  components/tabs/doc/index.zh-CN.md
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  docs/migration-v20.en-US.md
  docs/migration-v20.zh-CN.md
Due: none

feat(module:float-button): support nzPlacement
  components/float-button/demo/group-menu.ts
  components/float-button/demo/group-placement.md
  components/float-button/demo/group-placement.ts
  components/float-button/demo/group.ts
  components/float-button/demo/top.md
  components/float-button/doc/index.en-US.md
  components/float-button/doc/index.zh-CN.md
  components/float-button/float-button-group.component.spec.ts
  components/float-button/float-button-group.component.ts
  components/float-button/style/index.less
Due: stylelint --fix, eslint --fix

test(module:float-button): add unit test case
  components/float-button/float-button-group.component.spec.ts
Due: eslint --fix

feat(module:input): input-otp supports keyboard control positioning
  components/input/input-otp.component.ts
Due: eslint --fix

fix(module:input-number): ngModel value can be undefined
  components/input-number/input-number.component.ts
Due: eslint --fix

refactor(module:float-button): refactor the usage of ng-content
  components/float-button/float-button-group.component.ts
  components/float-button/style/index.less
Due: stylelint --fix, eslint --fix

refactor(module:float-button): refactor host class
  components/float-button/float-button-group.component.ts
Due: eslint --fix

feat(module:popconfirm): add nzDanger support to cancel button
  components/popconfirm/popconfirm.spec.ts
  components/popconfirm/popconfirm.ts
Due: eslint --fix

docs: fix typo in changelog
  docs/changelog.en-US.md
Due: none

docs: fix typo in changelog (#9271)
  docs/changelog.en-US.md
Due: none

Path conditions:
  stylelint --fix: any of: *.less
  eslint --fix: any of: *.{html,ts}
