Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

fix(module:upload): typo
  components/upload/upload-btn.component.ts
Due: eslint --fix

fix(module:select): refactor multiple select styles
  components/select/style/index.less
  components/select/style/multiple.less
  components/style/themes/aliyun.less
  components/style/themes/default.less
  components/style/themes/variable.less
Due: stylelint --fix

Update components/upload/demo/transform-file.md
  components/upload/demo/transform-file.md
Due: none

refactor(schematics): remove unnecessary module imports in ng-add
  schematics/ng-add/index.spec.ts
  schematics/ng-add/setup-project/add-required-modules.ts
  schematics/ng-add/setup-project/index.ts
  schematics/ng-add/standalone.spec.ts
Due: eslint --fix

refactor(schematics): remove unnecessary module imports in ng-add (#9411)
  schematics/ng-add/index.spec.ts
  schematics/ng-add/setup-project/add-required-modules.ts
  schematics/ng-add/setup-project/index.ts
  schematics/ng-add/standalone.spec.ts
Due: eslint --fix

docs: add Claude context (#9389)
  .claude/CLAUDE.md
  .claude/DEVELOPMENT.md
  .claude/DOCUMENTATION.md
  .claude/NG-ZORRO.md
  .claude/TESTING.md
Due: none

fix(module:select): simplify and unify styles for single mode
  components/select/style/multiple.less
  components/select/style/single.less
Due: stylelint --fix

refactor(module:input): migrate to signals (#9403)
  components/input/input-group.component.ts
  components/input/input.directive.ts
  components/input/input.spec.ts
Due: eslint --fix

fix(schematics): add less if choosing custom theme in non-less project
  schematics/ng-add/index.spec.ts
  schematics/ng-add/index.ts
  schematics/utils/package-config.ts
Due: eslint --fix

fix(schematics): add `less` as devDependencies if choosing custom theme in non-less project (#9412)
  schematics/ng-add/index.spec.ts
  schematics/ng-add/index.ts
  schematics/utils/package-config.ts
Due: eslint --fix

fix(module:select): refactor multiple select styles (#9409)
  components/select/style/index.less
  components/select/style/multiple.less
  components/select/style/single.less
  components/style/themes/aliyun.less
  components/style/themes/default.less
  components/style/themes/variable.less
Due: stylelint --fix

fix(module:form): fix form-validate-reactive demo (#9405)
  components/form/demo/validate-reactive.ts
Due: eslint --fix

Apply suggestion from @Laffery
  components/upload/demo/png-only.md
Due: none

Apply suggestion from @Laffery
  components/upload/demo/transform-file.md
Due: none

chore: bump gulp to v5
  .claude/NG-ZORRO.md
  package-lock.json
  package.json
  scripts/code-check/export-as-fix.js
Due: none

feat(module:upload): support promise return type for `nzBeforeUpload` (#9402)
  components/upload/demo/png-only.md
  components/upload/demo/png-only.ts
  components/upload/demo/transform-file.md
  components/upload/demo/transform-file.ts
  components/upload/doc/index.en-US.md
  components/upload/doc/index.zh-CN.md
  components/upload/interface.ts
  components/upload/upload-btn.component.ts
  components/upload/upload.component.ts
  components/upload/upload.spec.ts
Due: eslint --fix

build: bump gulp to v5 and upgrade dev tools
  package-lock.json
  package.json
  scripts/gulp/gulpfile.ts
  scripts/gulp/tasks/library.ts
  scripts/gulp/tasks/schematic.ts
  scripts/gulp/tasks/site.ts
  scripts/gulp/tasks/unit-test.ts
  scripts/gulp/tsconfig.json
  scripts/gulp/util/task-helpers.ts
  scripts/release/release.ts
Due: eslint --fix

chore: remove resolve-bin
  package-lock.json
  package.json
Due: none

chore: fix esModuleInterop issue
  scripts/build/compile-styles.ts
Due: eslint --fix

build: bump gulp to v5 and upgrade dev tools (#9414)
  .claude/NG-ZORRO.md
  package-lock.json
  package.json
  scripts/build/compile-styles.ts
  scripts/code-check/export-as-fix.js
  scripts/gulp/gulpfile.ts
  scripts/gulp/tasks/library.ts
  scripts/gulp/tasks/schematic.ts
  scripts/gulp/tasks/site.ts
  scripts/gulp/tasks/unit-test.ts
  scripts/gulp/tsconfig.json
  scripts/gulp/util/task-helpers.ts
  scripts/release/release.ts
Due: eslint --fix

chore(release): release 20.3.0
  .gitignore
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix

chore(release): release 20.3.0
  docs/changelog.zh-CN.md
Due: none

chore(release): release 20.3.0 (#9415)
  .gitignore
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix

docs: fixed version select width
  scripts/site/_site/doc/app/header/header.component.html
Due: eslint --fix

fix(module:drawer): fix NG0203
  components/drawer/drawer.service.ts
Due: eslint --fix

Update scripts/site/_site/doc/app/header/header.component.html
  scripts/site/_site/doc/app/header/header.component.html
Due: eslint --fix

fix(module:drawer): fix `NG0203` (#9418)
  components/drawer/drawer.service.ts
Due: eslint --fix

docs: fix version select width (#9419)
  scripts/site/_site/doc/app/header/header.component.html
Due: eslint --fix

feat(module:float-button): add pop animation to float button menu
  components/float-button/float-button-group.component.spec.ts
  components/float-button/float-button-group.component.ts
  components/float-button/float-button-top.component.ts
  components/float-button/style/animation.less
  components/float-button/style/entry.less
Due: stylelint --fix, eslint --fix

chore(release): release 20.3.1
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix

chore(release): release 20.3.1 (#9420)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix

chore: add cursor mcp configuration
  .cursor/mcp.json
Due: none

feat(module:upload): add `nzMaxCount` feature
  components/upload/demo/max-count.md
  components/upload/demo/max-count.ts
  components/upload/doc/index.en-US.md
  components/upload/doc/index.zh-CN.md
  components/upload/upload.component.ts
  components/upload/upload.spec.ts
Due: eslint --fix

docs(module:auto-complete): add demo for nzVariant
  components/auto-complete/demo/variant.md
  components/auto-complete/demo/variant.ts
Due: eslint --fix

feat(module:message): add support for custom styles and classes
  components/message/demo/custom-style.md
  components/message/demo/custom-style.ts
  components/message/doc/index.en-US.md
  components/message/doc/index.zh-CN.md
  components/message/message-container.component.ts
  components/message/message.component.ts
  components/message/message.spec.ts
  components/message/typings.ts
Due: eslint --fix

refactor(module:message): implement review
  components/message/demo/custom-style.ts
  components/message/doc/index.en-US.md
  components/message/doc/index.zh-CN.md
  components/message/message.component.ts
  components/message/message.spec.ts
  components/message/typings.ts
Due: eslint --fix

refactor(module:upload): implement review
  components/upload/upload.component.ts
Due: eslint --fix

Path conditions:
  stylelint --fix: any of: *.less
  eslint --fix: any of: *.{html,ts}
