Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix --concurrency=auto

chore(release): release 20.4.2 (#9545)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

refactor(module:watermark): rename WaterMark to Watermark (#9528)
  .github/CODEOWNERS
  components/components.less
  components/package.json
  components/water-mark/demo/basic.ts
  components/water-mark/demo/multi-line.ts
  components/water-mark/style/entry.less
  components/water-mark/style/index.less
  components/watermark/demo/basic.md
  components/watermark/demo/basic.ts
  components/watermark/demo/custom.md
  components/watermark/demo/custom.ts
  components/watermark/demo/image.md
  components/watermark/demo/image.ts
  components/watermark/demo/multi-line.md
  components/watermark/demo/multi-line.ts
  components/watermark/doc/index.en-US.md
  components/watermark/doc/index.zh-CN.md
  components/watermark/index.ts
  components/watermark/ng-package.json
  components/watermark/public-api.ts
  components/watermark/typings.ts
  components/watermark/util.ts
  components/watermark/watermark.component.ts
  components/watermark/watermark.module.ts
  components/watermark/watermark.spec.ts
  scripts/prerender/route-paths.txt
Due: stylelint --fix, eslint --fix --concurrency=auto

chore: bump angular to v21
  components/tsconfig.lib.json
  package-lock.json
  package.json
  tsconfig.json
Due: none

chore: fix lint and test errors
  components/skeleton/skeleton-element.component.ts
  components/tree/tree-node-checkbox.component.ts
  components/tree/tree-node.component.ts
  docs/migration-v21.en-US.md
  docs/migration-v21.zh-CN.md
  eslint.config.mjs
  schematics/migration.json
  schematics/ng-update/data/attribute-selectors.ts
  schematics/ng-update/data/class-names.ts
  schematics/ng-update/data/constructor-checks.ts
  schematics/ng-update/data/css-selectors.ts
  schematics/ng-update/data/css-tokens.ts
  schematics/ng-update/data/element-selectors.ts
  schematics/ng-update/data/import-specifiers.ts
  schematics/ng-update/data/input-names.ts
  schematics/ng-update/data/method-call-checks.ts
  schematics/ng-update/data/output-names.ts
  schematics/ng-update/data/property-names.ts
  schematics/ng-update/data/symbol-removal.ts
  schematics/ng-update/index.ts
  scripts/prerender/route-paths.txt
Due: eslint --fix --concurrency=auto

refactor(module:input): deprecated autosize directive
  components/drawer/demo/from-drawer.ts
  components/input/autosize.directive.ts
  components/input/demo/autosize-textarea.md
  components/input/demo/autosize-textarea.ts
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/mention/demo/preview.ts
  components/mention/mention.spec.ts
Due: eslint --fix --concurrency=auto

test(module:*): add provideZoneChangeDetection temporarily
  components/core/wave/nz-wave.spec.ts
  components/dropdown/context-menu.service.spec.ts
  components/form/form-item.spec.ts
  components/form/form-split.spec.ts
  components/form/form-text.spec.ts
  components/tree-select/tree-select.component.ts
Due: eslint --fix --concurrency=auto

test(module:*): remove redundant waitForAsync
  components/affix/affix.spec.ts
  components/alert/alert.spec.ts
  components/breadcrumb/breadcrumb.spec.ts
  components/calendar/calendar-header.spec.ts
  components/calendar/calendar.spec.ts
  components/drawer/drawer.spec.ts
  components/float-button/float-button-group.component.spec.ts
  components/float-button/float-button-top.component.spec.ts
  components/float-button/float-button.component.spec.ts
  components/icon/icon.spec.ts
  components/mention/mention.spec.ts
  components/pagination/pagination.spec.ts
  components/resizable/resizable.spec.ts
  components/timeline/timeline.spec.ts
Due: eslint --fix --concurrency=auto

feat(module:qrcode): support nzType && nzBoostLevel, delete nzPadding
  components/qr-code/demo/padding.md
  components/qr-code/demo/type.md
  components/qr-code/demo/type.ts
  components/qr-code/doc/index.en-US.md
  components/qr-code/doc/index.zh-CN.md
  components/qr-code/public-api.ts
  components/qr-code/qrcode-canvas.component.ts
  components/qr-code/qrcode-svg.component.ts
  components/qr-code/qrcode.component.spec.ts
  components/qr-code/qrcode.component.ts
  components/qr-code/qrcode.module.ts
  components/qr-code/qrcode.spec.ts
  components/qr-code/qrcode.ts
  components/qr-code/typing.ts
  components/qr-code/useQRCode.ts
  components/qr-code/utils.ts
Due: eslint --fix --concurrency=auto

refactor(module:input): deprecated `nzAutosize` directive (#9431)
  components/drawer/demo/from-drawer.ts
  components/input/autosize.directive.ts
  components/input/demo/autosize-textarea.md
  components/input/demo/autosize-textarea.ts
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/mention/demo/preview.ts
  components/mention/mention.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:*): drop IE polyfills
  components/badge/style/ribbon.less
  components/core/testing/event-objects.ts
  components/drawer/drawer.component.ts
  components/modal/modal-container.directive.ts
  components/popconfirm/popconfirm.ts
  components/style/core/global.less
  components/tree/doc/index.en-US.md
  components/tree/style/patch.less
  docs/customize-theme-variable.en-US.md
  docs/customize-theme-variable.zh-CN.md
  scripts/site/doc/browserslist
Due: stylelint --fix, eslint --fix --concurrency=auto

feat(module:modal): support global nzCentered configuration
  components/core/config/config.ts
  components/modal/doc/index.en-US.md
  components/modal/doc/index.zh-CN.md
  components/modal/modal-container.component.ts
  components/modal/modal-container.directive.ts
  components/modal/modal-types.ts
  components/modal/modal.component.ts
  components/modal/modal.service.ts
  components/modal/modal.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:tooltip): deprecate `cdkConnectedOverlayPush` input (#9542)
  components/tooltip/base.ts
  components/tooltip/tooltip.ts
Due: eslint --fix --concurrency=auto

chore: bump angular-eslint to v21
  package-lock.json
  package.json
Due: none

feat(module:form): add form validation message animation
  components/core/animation/form.ts
  components/core/animation/public-api.ts
  components/form/doc/index.en-US.md
  components/form/form-control.component.ts
  components/form/style/animation.less
  components/form/style/index.less
Due: stylelint --fix, eslint --fix --concurrency=auto

revert: form doc back with master
  components/form/doc/index.en-US.md
Due: eslint --fix --concurrency=auto

chore: code clean ups
  components/form/style/animation.less
Due: stylelint --fix

test(module:form): unit tests validation message
  components/form/form-control.spec.ts
Due: eslint --fix --concurrency=auto

test(module:form): unit tests validation change to static
  components/form/form-control.spec.ts
Due: eslint --fix --concurrency=auto

test(module:*): overlay backdrop dom structure changed
  components/cascader/cascader.spec.ts
  components/date-picker/date-picker.component.spec.ts
  components/popconfirm/popconfirm.spec.ts
  components/popover/popover.spec.ts
  components/select/select.spec.ts
  components/time-picker/time-picker.component.spec.ts
  components/tree-select/tree-select.spec.ts
  eslint.config.mjs
Due: eslint --fix --concurrency=auto

refactor(module:*): remove IE polyfills (#9550)
  components/badge/style/ribbon.less
  components/core/testing/event-objects.ts
  components/drawer/drawer.component.ts
  components/modal/modal-container.directive.ts
  components/popconfirm/popconfirm.ts
  components/style/core/global.less
  components/tree/doc/index.en-US.md
  components/tree/style/patch.less
  docs/customize-theme-variable.en-US.md
  docs/customize-theme-variable.zh-CN.md
  scripts/site/doc/browserslist
Due: stylelint --fix, eslint --fix --concurrency=auto

chore: review comments
  components/form/form-control.component.ts
  components/form/form-control.spec.ts
  components/form/style/animation.less
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:input): fix dependency cycle
  components/input/input-search.directive.ts
  components/input/input.directive.ts
  components/input/tokens.ts
  eslint.config.mjs
Due: eslint --fix --concurrency=auto

fix(module:input): fix dependency cycle (#9559)
  components/input/input-search.directive.ts
  components/input/input.directive.ts
  components/input/tokens.ts
  eslint.config.mjs
Due: eslint --fix --concurrency=auto

fix(module:input): fix dependency cycle (#9561)
  components/input/input-search.directive.ts
  components/input/input.directive.ts
  components/input/tokens.ts
  eslint.config.mjs
Due: eslint --fix --concurrency=auto

refactor(module:form): migrate form validation message animation to native api (#9552)
  components/core/animation/form.ts
  components/core/animation/public-api.ts
  components/form/form-control.component.ts
  components/form/form-control.spec.ts
  components/form/style/animation.less
  components/form/style/index.less
Due: stylelint --fix, eslint --fix --concurrency=auto

feat(module:core): add `provideNzNoAnimation`
  components/core/no-animation/no-animation.ts
  components/core/no-animation/nz-no-animation.directive.ts
  components/core/no-animation/nz-no-animation.module.ts
  components/core/no-animation/public-api.ts
  components/float-button/float-button-group.component.ts
  components/page-header/demo/content.ts
  components/popover/demo/arrow-point-at-center.ts
  docs/animations.en-US.md
  docs/animations.zh-CN.md
Due: eslint --fix --concurrency=auto

test(module:float-button): remove unused `provideNoopAnimations`
  components/float-button/float-button-group.component.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:core): move no-animation to animation folder
  components/auto-complete/autocomplete.component.ts
  components/badge/badge-sup.component.ts
  components/badge/badge.component.ts
  components/badge/badge.spec.ts
  components/cascader/cascader.component.ts
  components/collapse/collapse-panel.component.ts
  components/core/animation/no-animation.ts
  components/core/animation/public-api.ts
  components/core/no-animation/index.ts
  components/core/no-animation/ng-package.json
  components/core/no-animation/public-api.ts
  components/core/wave/nz-wave.directive.ts
  components/date-picker/date-picker.component.ts
  components/drawer/drawer.component.ts
  components/drawer/drawer.spec.ts
  components/dropdown/dropdown-menu.component.ts
  components/float-button/float-button-group.component.ts
  components/graph/graph.component.ts
  components/menu/submenu.component.ts
  components/page-header/demo/content.ts
  components/popconfirm/popconfirm.ts
  components/popover/demo/arrow-point-at-center.ts
  components/popover/popover.ts
  components/segmented/segmented-item.component.ts
  components/select/select-top-control.component.ts
  components/select/select.component.ts
  components/tabs/tabs-ink-bar.directive.ts
  components/tag/demo/control.ts
  components/tooltip/base.ts
  components/tooltip/tooltip.ts
  components/tree-select/tree-select.component.ts
  components/tree-view/demo/search.ts
  components/tree-view/tree.ts
  components/tree/tree-node.component.ts
  components/tree/tree.component.ts
Due: eslint --fix --concurrency=auto

test(module:core): add ut
  components/core/animation/no-animation.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:form): use withAnimationCheck
  components/float-button/style/animation.less
  components/form/form-control.component.ts
  components/form/form-control.spec.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

fix(module:form): animation should respect NoopAnimations
  components/core/no-animation/nz-no-animation.directive.ts
  components/core/wave/nz-wave.directive.ts
  components/form/form-control.component.ts
  components/segmented/segmented-item.component.ts
  components/tabs/tabs-ink-bar.directive.ts
Due: eslint --fix --concurrency=auto

Path conditions:
  stylelint --fix: any of: *.less
  eslint --fix --concurrency=auto: any of: *.{md,html,ts}
