Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix --concurrency=auto

.lintstagedrc:

{
  "*.less": "stylelint --fix",
  "*.{md,html,ts}": "eslint --fix --concurrency=auto"
}

fix(module:steps): keep description below line when nzTitle is not set
  components/steps/demo/description-only.md
  components/steps/demo/description-only.ts
  components/steps/doc/index.en-US.md
  components/steps/doc/index.zh-CN.md
  components/steps/step.component.ts
  components/steps/style/index.less
Due: stylelint --fix, eslint --fix --concurrency=auto

Apply suggestion from @Laffery
  components/style/themes/compact.less
Due: stylelint --fix

feat(module:collapse): sync the latest antd styles (#9680)
  components/collapse/collapse-panel.component.ts
  components/collapse/collapse.component.ts
  components/collapse/demo/size.ts
  components/collapse/style/index.less
  components/collapse/style/rtl.less
  components/style/themes/compact.less
  components/style/themes/default.less
  components/style/themes/variable.less
Due: stylelint --fix, eslint --fix --concurrency=auto

chore(release): release 21.1.0
  CHANGELOG.md
  components/form/doc/index.en-US.md
  components/form/doc/index.zh-CN.md
  components/package.json
  components/time-picker/doc/index.en-US.md
  components/time-picker/doc/index.zh-CN.md
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

docs: add open issues
  CHANGELOG.md
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  scripts/site/doc/app/component-meta/component-meta.component.html
  scripts/site/doc/app/component-meta/component-meta.component.ts
Due: eslint --fix --concurrency=auto

docs: update i18n
  scripts/site/doc/app/component-meta/component-meta.component.html
Due: eslint --fix --concurrency=auto

docs: update i18n
  scripts/site/doc/app/component-meta/component-meta.component.html
  scripts/site/doc/app/component-meta/component-meta.component.ts
Due: eslint --fix --concurrency=auto

chore(release): release 21.1.0 (#9670)
  CHANGELOG.md
  components/form/doc/index.en-US.md
  components/form/doc/index.zh-CN.md
  components/package.json
  components/time-picker/doc/index.en-US.md
  components/time-picker/doc/index.zh-CN.md
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  scripts/site/doc/app/component-meta/component-meta.component.html
  scripts/site/doc/app/component-meta/component-meta.component.ts
Due: eslint --fix --concurrency=auto

fix(module:steps): synchronize antd6 styles with dom structure
  components/steps/step.component.ts
  components/steps/steps.spec.ts
  components/steps/style/custom-icon.less
  components/steps/style/index.less
  components/steps/style/label-placement.less
  components/steps/style/nav.less
  components/steps/style/progress-dot.less
  components/steps/style/progress.less
  components/steps/style/rtl.less
  components/steps/style/small.less
  components/steps/style/vertical.less
Due: stylelint --fix, eslint --fix --concurrency=auto

fix: ant-steps-item-section layer
  components/steps/step.component.ts
  components/steps/style/index.less
  components/steps/style/vertical.less
Due: stylelint --fix, eslint --fix --concurrency=auto

fix: wrapper style
  components/steps/style/index.less
Due: stylelint --fix

build: routes generated using angular prerender
  angular.json
  scripts/prerender/route-paths.txt
  scripts/prerender/sitemap.ts
Due: eslint --fix --concurrency=auto

Update scripts/prerender/sitemap.ts
  scripts/prerender/sitemap.ts
Due: eslint --fix --concurrency=auto

fix: fix bug
  scripts/prerender/sitemap.ts
Due: eslint --fix --concurrency=auto

docs: update changelog
  CHANGELOG.md
  components/form/demo/size.md
  components/time-picker/demo/confirmation.md
  components/time-picker/demo/placement.md
  components/time-picker/demo/prefix-suffix.md
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

fix(module:anchor): support number id in nzHref
  components/anchor/anchor.component.ts
  components/anchor/anchor.spec.ts
Due: eslint --fix --concurrency=auto

docs: update changelog (#9684)
  CHANGELOG.md
  components/form/demo/size.md
  components/time-picker/demo/confirmation.md
  components/time-picker/demo/placement.md
  components/time-picker/demo/prefix-suffix.md
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

build: routes generated using angular prerender (#9682)
  angular.json
  scripts/prerender/route-paths.txt
  scripts/prerender/sitemap.ts
Due: eslint --fix --concurrency=auto

fix: antdv6 styles and dom structure
  components/steps/step.component.ts
  components/steps/style/index.less
  components/steps/style/label-placement.less
  components/steps/style/nav.less
  components/steps/style/progress-dot.less
  components/steps/style/progress.less
  components/steps/style/rtl.less
  components/steps/style/small.less
  components/steps/style/vertical.less
Due: stylelint --fix, eslint --fix --concurrency=auto

fix: lint
  components/steps/demo/description-only.ts
Due: eslint --fix --concurrency=auto

fix(module:anchor): support number id in `nzHref` (#9683)
  components/anchor/anchor.component.ts
  components/anchor/anchor.spec.ts
Due: eslint --fix --concurrency=auto

docs: enable toc for changelog and support toc config
  .stylelintrc.json
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  scripts/site/doc/app/app.component.ts
  scripts/site/doc/style/patch.less
  scripts/site/types.ts
  scripts/site/utils/generate-docs.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

fix: revert doc
  components/steps/doc/index.en-US.md
Due: eslint --fix --concurrency=auto

chore: style
  components/steps/style/index.less
Due: stylelint --fix

fix: remove rail after pseudo element
  components/steps/step.component.ts
  components/steps/style/index.less
  components/steps/style/progress-dot.less
  components/steps/style/small.less
  components/steps/style/vertical.less
Due: stylelint --fix, eslint --fix --concurrency=auto

docs(module:space): Fix invalid translation of column titles
  components/space/doc/index.en-US.md
Due: eslint --fix --concurrency=auto

fix: debounce nz-select search
  components/select/select-top-control.component.ts
Due: eslint --fix --concurrency=auto

fix: debounce nz-select search
  components/select/select-top-control.component.ts
  components/select/select.component.ts
  components/select/select.spec.ts
Due: eslint --fix --concurrency=auto

fix: add type='number' to nz-input-number
  components/input-number/input-number.component.ts
Due: eslint --fix --concurrency=auto

docs: enable toc for changelog and support toc config (#9685)
  .stylelintrc.json
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  scripts/site/doc/app/app.component.ts
  scripts/site/doc/style/patch.less
  scripts/site/types.ts
  scripts/site/utils/generate-docs.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

docs(module:space): fix invalid translation of column titles (#9688)
  components/space/doc/index.en-US.md
Due: eslint --fix --concurrency=auto

feat(module:form): support nzVariant
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
  components/core/form/nz-form-variant.token.ts
  components/core/form/public-api.ts
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/form/demo/variant.md
  components/form/demo/variant.ts
  components/form/doc/index.en-US.md
  components/form/doc/index.zh-CN.md
  components/form/form.directive.ts
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
  components/input/input.directive.ts
  components/input/input.spec.ts
  components/mention/mention.component.ts
  components/mention/mention.spec.ts
  components/select/select.component.ts
  components/select/select.spec.ts
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
  components/tree-select/tree-select.component.ts
  components/tree-select/tree-select.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:mention): initialization of variant signal
  components/mention/mention.component.ts
Due: eslint --fix --concurrency=auto

feat(module:nz-tree-select): nzDropdownRender
  components/tree-select/demo/custom-dropdown-header.md
  components/tree-select/demo/custom-dropdown-header.ts
  components/tree-select/doc/index.en-US.md
  components/tree-select/doc/index.zh-CN.md
  components/tree-select/tree-select.component.ts
  components/tree-select/tree-select.spec.ts
Due: eslint --fix --concurrency=auto

docs(module:drawer): add nzExtra example
  components/drawer/demo/extra.md
  components/drawer/demo/extra.ts
Due: eslint --fix --concurrency=auto

feat(module:alert): add loop text
  components/alert/alert-marquee.component.ts
  components/alert/alert-marquee.spec.ts
  components/alert/alert.component.ts
  components/alert/alert.module.ts
  components/alert/demo/loop-banner.md
  components/alert/demo/loop-banner.ts
  components/alert/doc/index.en-US.md
  components/alert/doc/index.zh-CN.md
  components/alert/public-api.ts
  components/alert/style/patch.less
Due: stylelint --fix, eslint --fix --concurrency=auto

fix(module:cascader): wrong padding size
  components/cascader/style/index.less
  components/cascader/style/patch.less
Due: stylelint --fix

fix(module:input): update disable logic to support Angular Signal Forms
  components/input/input.directive.ts
Due: eslint --fix --concurrency=auto

feat(module:tabs): support nzIndicator
  components/tabs/demo/indicator.md
  components/tabs/demo/indicator.ts
  components/tabs/doc/index.en-US.md
  components/tabs/doc/index.zh-CN.md
  components/tabs/interfaces.ts
  components/tabs/tab-nav-bar.component.ts
  components/tabs/tabs-ink-bar.directive.ts
  components/tabs/tabs.component.spec.ts
  components/tabs/tabs.component.ts
Due: eslint --fix --concurrency=auto
