Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

feat(module:splitter): observe to container size change
  components/splitter/demo/complex.ts
  components/splitter/splitter-bar.component.ts
  components/splitter/splitter.component.ts
Due: eslint --fix

docs(module:tabs): add draggable tabs example
  components/tabs/demo/draggable.md
  components/tabs/demo/draggable.ts
  components/tabs/tabset.component.ts
Due: eslint --fix

docs(module:tabs): add draggable tabs example (#9066)
  components/tabs/demo/draggable.md
  components/tabs/demo/draggable.ts
  components/tabs/tabset.component.ts
Due: eslint --fix

docs(module:tabs): fix style pollution
  components/tabs/demo/draggable.ts
Due: eslint --fix

fix(module:tabs): update active router tab after tabs changed
  components/tabs/demo/link-router.ts
  components/tabs/tabset.component.spec.ts
  components/tabs/tabset.component.ts
Due: eslint --fix

docs(module:tabs): fix style pollution (#9067)
  components/tabs/demo/draggable.ts
Due: eslint --fix

Update link-router.ts
  components/tabs/demo/link-router.ts
Due: eslint --fix

Update tabset.component.spec.ts
  components/tabs/tabset.component.spec.ts
Due: eslint --fix

fix(module:tabs): update active router tab after tabs changed (#7649)
  components/tabs/demo/link-router.ts
  components/tabs/tabset.component.spec.ts
  components/tabs/tabset.component.ts
Due: eslint --fix

feat(module:splitter): add splitter component (#8987)
  .github/CODEOWNERS
  .github/nz-boot.yml
  components/components.less
  components/splitter/demo/basic.md
  components/splitter/demo/basic.ts
  components/splitter/demo/collapsible.md
  components/splitter/demo/collapsible.ts
  components/splitter/demo/complex.md
  components/splitter/demo/complex.ts
  components/splitter/demo/control.md
  components/splitter/demo/control.ts
  components/splitter/demo/lazy.md
  components/splitter/demo/lazy.ts
  components/splitter/demo/multiple.md
  components/splitter/demo/multiple.ts
  components/splitter/demo/vertical.md
  components/splitter/demo/vertical.ts
  components/splitter/doc/index.en-US.md
  components/splitter/doc/index.zh-CN.md
  components/splitter/index.ts
  components/splitter/ng-package.json
  components/splitter/public-api.ts
  components/splitter/splitter-bar.component.ts
  components/splitter/splitter-panel.component.ts
  components/splitter/splitter.component.ts
  components/splitter/splitter.module.ts
  components/splitter/splitter.spec.ts
  components/splitter/style/entry.less
  components/splitter/style/index.less
  components/splitter/style/patch.less
  components/splitter/style/rtl.less
  components/splitter/typings.ts
  components/splitter/utils.ts
  components/style/themes/dark.less
  components/style/themes/default.less
  components/style/themes/variable.less
  scripts/prerender/route-paths.txt
Due: stylelint --fix, eslint --fix

fix(module:select): ngModel change should update state of `nzMaxMultipleCount` reached (#9056)
  components/select/option-container.component.ts
  components/select/select-arrow.component.ts
  components/select/select.component.ts
  components/select/select.spec.ts
Due: eslint --fix

fix(module:tree-select): enable overflow-x for virtual scroll (#9045)
  components/tree-select/style/patch.less
  components/tree-select/tree-select.spec.ts
Due: stylelint --fix, eslint --fix

fix(module:select): disable `nzMaxMultipleCount` in default mode
  components/core/util/convert.ts
  components/select/select-arrow.component.ts
  components/select/select.component.ts
  components/select/select.spec.ts
Due: eslint --fix

fix(module:select): disable `nzMaxMultipleCount` in default mode (#9068)
  components/core/util/convert.ts
  components/select/select-arrow.component.ts
  components/select/select.component.ts
  components/select/select.spec.ts
Due: eslint --fix

chore(release): release 19.2.0
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix

docs: update npm stat
  docs/join.zh-CN.md
Due: none

chore(release): release 19.2.0 (#9069)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
  docs/join.zh-CN.md
Due: eslint --fix

chore(release): release 19.2.0
  components/package.json
Due: none

refactor(module:select): remove internal comment from select-arrow
  components/select/select-arrow.component.ts
Due: eslint --fix

refactor(module:select): remove internal comment from select-arrow (#9074)
  components/select/select-arrow.component.ts
Due: eslint --fix

chore(release): release 19.2.1
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix

chore(release): release 19.2.1 (#9075)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix

docs(module:*): replace all NgModule with standalone mode
  README-zh_CN.md
  README.md
  components/calendar/doc/index.en-US.md
  components/calendar/doc/index.zh-CN.md
  components/code-editor/doc/index.en-US.md
  components/code-editor/doc/index.zh-CN.md
  components/date-picker/doc/index.en-US.md
  components/date-picker/doc/index.zh-CN.md
  components/experimental-image/demo/src-loader.md
  components/icon/doc/index.en-US.md
  components/icon/doc/index.zh-CN.md
  docs/animations.en-US.md
  docs/animations.zh-CN.md
  docs/customize-theme-variable.en-US.md
  docs/customize-theme-variable.zh-CN.md
  docs/customize-theme.en-US.md
  docs/customize-theme.zh-CN.md
  docs/getting-started.en-US.md
  docs/getting-started.zh-CN.md
  docs/global-config.en-US.md
  docs/global-config.zh-CN.md
  docs/i18n.en-US.md
  docs/i18n.zh-CN.md
  docs/introduce.en-US.md
  docs/introduce.zh-CN.md
  docs/recommendation.en-US.md
  docs/recommendation.zh-CN.md
Due: none

docs(module:*): replace all NgModule with standalone mode (#9076)
  README-zh_CN.md
  README.md
  components/calendar/doc/index.en-US.md
  components/calendar/doc/index.zh-CN.md
  components/code-editor/doc/index.en-US.md
  components/code-editor/doc/index.zh-CN.md
  components/date-picker/doc/index.en-US.md
  components/date-picker/doc/index.zh-CN.md
  components/experimental-image/demo/src-loader.md
  components/icon/doc/index.en-US.md
  components/icon/doc/index.zh-CN.md
  docs/animations.en-US.md
  docs/animations.zh-CN.md
  docs/customize-theme-variable.en-US.md
  docs/customize-theme-variable.zh-CN.md
  docs/customize-theme.en-US.md
  docs/customize-theme.zh-CN.md
  docs/getting-started.en-US.md
  docs/getting-started.zh-CN.md
  docs/global-config.en-US.md
  docs/global-config.zh-CN.md
  docs/i18n.en-US.md
  docs/i18n.zh-CN.md
  docs/introduce.en-US.md
  docs/introduce.zh-CN.md
  docs/recommendation.en-US.md
  docs/recommendation.zh-CN.md
Due: none

chore: update vite to 6.2.4 due to a security issues
  README-zh_CN.md
  README.md
  package-lock.json
  package.json
Due: none

chore: update vite to 6.2.4 due to a security issues (#9079)
  README-zh_CN.md
  README.md
  package-lock.json
  package.json
Due: none

fix(module:select): limit number of pasted item to nzMaxMultipleCount
  components/select/select-top-control.component.ts
  components/select/select.component.ts
  components/select/select.spec.ts
Due: eslint --fix

fix(module:input-number): fix parser when type not working
  components/input-number/input-number.component.ts
Due: eslint --fix

fix(module:drawer): fix NZ_MODAL_DATA instead NZ_DRAWER_DATA
  components/drawer/doc/index.en-US.md
Due: none

fix(module:drawer): fix NZ_MODAL_DATA instead NZ_DRAWER_DATA (#9088)
  components/drawer/doc/index.en-US.md
Due: none

fix(module:carousel): unable to trigger set nzDotPosition
  components/carousel/carousel.component.ts
Due: eslint --fix

feat(module:avatar): support custom icon
  components/avatar/avatar.component.ts
  components/avatar/demo/group.ts
Due: eslint --fix

fix(module:select): limit number of pasted item to nzMaxMultipleCount
  components/select/select.component.ts
  components/select/select.spec.ts
Due: eslint --fix

feat(module:transfer): support multiple row selection with Shift key
  components/transfer/transfer.component.ts
  components/transfer/transfer.spec.ts
Due: eslint --fix

docs(module:*): refactor to make header more semantic
  components/avatar/doc/index.en-US.md
  components/avatar/doc/index.zh-CN.md
  components/breadcrumb/doc/index.en-US.md
  components/breadcrumb/doc/index.zh-CN.md
  components/cascader/doc/index.en-US.md
  components/cascader/doc/index.zh-CN.md
  components/check-list/doc/index.en-US.md
  components/check-list/doc/index.zh-CN.md
  components/checkbox/doc/index.en-US.md
  components/checkbox/doc/index.zh-CN.md
  components/empty/doc/index.en-US.md
  components/empty/doc/index.zh-CN.md
  components/splitter/doc/index.en-US.md
  components/splitter/doc/index.zh-CN.md
  components/tree-view/doc/index.en-US.md
  components/tree/doc/index.zh-CN.md
  package-lock.json
  package.json
Due: none

docs(module:*): refactor to make header more semantic
  components/cascader/doc/index.zh-CN.md
  package-lock.json
Due: none

docs(module:*): fix input borderless style when in dark theme
  scripts/site/_site/doc/app/components-overview/components-overview.component.less
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: *.less
  eslint --fix: any of: *.{html,ts}
