Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix --concurrency=auto

.lintstagedrc:

{
  "*.less": "stylelint --fix",
  "*.{md,html,ts}": "eslint --fix --concurrency=auto"
}

refactor(module:modal): use coerceCssPixelValue for drag position
  components/modal/modal-container.component.ts
Due: eslint --fix --concurrency=auto

Fix left position calculation in modal drag handler
  components/modal/modal-container.component.ts
Due: eslint --fix --concurrency=auto

Apply suggestion from @Laffery
  components/modal/modal-container.component.ts
Due: eslint --fix --concurrency=auto

Apply suggestion from @Laffery
  components/modal/modal.spec.ts
Due: eslint --fix --concurrency=auto

Apply suggestions from code review
  components/modal/modal-container.component.ts
Due: eslint --fix --concurrency=auto

fix(module:modal): keep dragged position on close (#9884)
  components/modal/modal-container.component.ts
  components/modal/modal.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:select): scroll to initial selected option
  components/select/select.component.ts
  components/select/select.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:input): support Signal Forms state
  components/input/input.directive.ts
  components/input/input.spec.ts
  components/input/textarea-count.component.ts
  components/input/textarea-count.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:input): use Signal Forms token
  components/input/input.directive.ts
Due: eslint --fix --concurrency=auto

refactor(module:*): fix anchor link padding size
  components/affix/style/entry.less
  components/alert/style/index.less
  components/anchor/style/entry.less
  components/anchor/style/index.less
  components/auto-complete/style/entry.less
  components/comment/style/entry.less
  components/descriptions/style/entry.less
  components/empty/style/entry.less
  components/list/style/entry.less
  components/mention/style/entry.less
  components/ng-zorro-antd.aliyun.less
  components/ng-zorro-antd.compact.less
  components/ng-zorro-antd.dark.less
  components/page-header/style/entry.less
  components/result/style/entry.less
  components/style/themes/compact.less
  components/style/themes/default.less
  components/style/themes/variable.less
  components/tree-select/style/entry.less
  components/typography/style/index.less
  components/upload/style/entry.less
  components/upload/style/index.less
Due: stylelint --fix

refactor(module:*): fix ribbon position
  components/avatar/demo/badge.ts
  components/avatar/demo/basic.ts
  components/avatar/demo/dynamic.ts
  components/avatar/demo/type.ts
  components/avatar/doc/index.en-US.md
  components/avatar/doc/index.zh-CN.md
  components/badge/demo/basic.ts
  components/badge/demo/dot.ts
  components/badge/demo/overflow.ts
  components/badge/demo/size.ts
  components/badge/style/index.less
  components/badge/style/patch.less
  components/badge/style/ribbon.less
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:*): remove deprecated button group styles
  components/badge/style/index.less
  components/badge/style/rtl.less
  components/breadcrumb/style/index.less
  components/breadcrumb/style/patch.less
  components/button/style/index.less
  components/button/style/mixin.less
Due: stylelint --fix

refactor(module:*): fix breadcrumb unicode-bidi
  components/breadcrumb/style/patch.less
Due: stylelint --fix

fix(module:input): support Signal Forms state (#9891)
  components/input/input.directive.ts
  components/input/input.spec.ts
  components/input/textarea-count.component.ts
  components/input/textarea-count.spec.ts
Due: eslint --fix --concurrency=auto

feat(module:cron-expression): support nzStatus and form status sync
  components/cron-expression/cron-expression.component.ts
  components/cron-expression/cron-expression.spec.ts
  components/cron-expression/demo/form.ts
  components/cron-expression/demo/status.md
  components/cron-expression/demo/status.ts
  components/cron-expression/doc/index.en-US.md
  components/cron-expression/doc/index.zh-CN.md
  components/cron-expression/style/index.less
Due: stylelint --fix, eslint --fix --concurrency=auto

fix(module:select): scroll to initial selected option (#9890)
  components/select/select.component.ts
  components/select/select.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:mention): trigger behavior aligned with antd
  components/mention/mention.component.ts
  components/mention/mention.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:dropdown): fix slide animations direction
  components/dropdown/dropdown-menu.component.ts
  components/dropdown/dropdown.directive.ts
Due: eslint --fix --concurrency=auto

test(module:dropdown): enable test
  components/dropdown/dropdown.directive.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:mention): allow mention triggers after non-space characters (#9896)
  components/mention/mention.component.ts
  components/mention/mention.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:dropdown): fix slide animations direction (#9897)
  components/dropdown/dropdown-menu.component.ts
  components/dropdown/dropdown.directive.spec.ts
  components/dropdown/dropdown.directive.ts
Due: eslint --fix --concurrency=auto

chore(release): release 22.0.1
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

chore(release): release 22.0.1 (#9901)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

feat(module:auto-complete): support `nzDropdownMatchSelectWidth` (#9879)
  components/auto-complete/autocomplete-trigger.directive.ts
  components/auto-complete/autocomplete.component.ts
  components/auto-complete/autocomplete.spec.ts
  components/auto-complete/doc/index.en-US.md
  components/auto-complete/doc/index.zh-CN.md
Due: eslint --fix --concurrency=auto

feat(module:avatar): support responsive size (#9801)
  components/avatar/avatar.component.ts
  components/avatar/avatar.spec.ts
  components/avatar/demo/responsive.md
  components/avatar/demo/responsive.ts
  components/avatar/doc/index.en-US.md
  components/avatar/doc/index.zh-CN.md
  components/avatar/types.ts
  components/core/config/config.ts
Due: eslint --fix --concurrency=auto

chore: bump angular to v22.1
  package-lock.json
  package.json
Due: none

test: configure zoneless change detection
  components/project.json
  components/vitest-setup.ts
  components/vitest.config.mjs
  package-lock.json
  package.json
Due: eslint --fix --concurrency=auto

chore: bump angular to v22.1 (#9902)
  components/project.json
  components/vitest-setup.ts
  components/vitest.config.mjs
  package-lock.json
  package.json
Due: eslint --fix --concurrency=auto

fix(module:input): support writing value with Signal Forms
  components/input/input-wrapper.component.spec.ts
  components/input/input-wrapper.component.ts
  components/input/input.directive.ts
Due: eslint --fix --concurrency=auto

fix(module:input): support writing value with Signal Forms
  components/input/input-wrapper.component.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:*): consolidate rtl styles
  components/button/style/index.less
  components/button/style/mixin.less
  components/checkbox/style/mixin.less
  components/date-picker/style/Calendar.less
  components/date-picker/style/RangePicker.less
  components/date-picker/style/TimePicker.less
  components/dropdown/style/index.less
  components/form/style/index.less
  components/tooltip/demo/placement.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

feat(showcase): add 17 brand icons
  components/icon/page/index.ts
  components/package.json
  package-lock.json
  package.json
Due: eslint --fix --concurrency=auto

feat(module:icon): add new icons (#9909)
  components/icon/page/index.ts
  components/package.json
  package-lock.json
  package.json
Due: eslint --fix --concurrency=auto

fix(module:drawer): avoid overwriting signal inputs with data (#9889)
  components/drawer/drawer-options.ts
  components/drawer/drawer.component.ts
  components/drawer/drawer.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:input): support writing value with Signal Forms
  components/input/input-wrapper.component.spec.ts
  components/input/input.directive.ts
Due: eslint --fix --concurrency=auto

fix(module:date-picker): support range picker with signal forms
  components/date-picker/date-picker.component.ts
  components/date-picker/range-picker.component.spec.ts
Due: eslint --fix --concurrency=auto

feat(module:border-beam): add animated border beam
  components/border-beam/border-beam.directive.spec.ts
  components/border-beam/border-beam.directive.ts
  components/border-beam/border-beam.module.ts
  components/border-beam/demo/basic.md
  components/border-beam/demo/basic.ts
  components/border-beam/demo/custom.md
  components/border-beam/demo/custom.ts
  components/border-beam/doc/index.en-US.md
  components/border-beam/doc/index.zh-CN.md
  components/border-beam/index.ts
  components/border-beam/ng-package.json
  components/border-beam/public-api.ts
  components/border-beam/style/entry.less
  components/border-beam/style/index.less
  components/components.less
  components/package.json
Due: stylelint --fix, eslint --fix --concurrency=auto
