Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

refactor(module:mention): remove mention service and use signal instead (#9371)
  components/mention/mention-trigger.ts
  components/mention/mention.component.ts
  components/mention/mention.service.ts
  components/mention/mention.spec.ts
  components/mention/public-api.ts
Due: eslint --fix

fix(module:badge): after setting `nzColor`, display incorrect
  components/badge/badge.component.ts
  components/badge/badge.spec.ts
Due: eslint --fix

feat(module:check-list): add badge
  components/check-list/check-list-content.component.ts
  components/check-list/check-list.component.ts
  components/check-list/demo/basic.ts
  components/check-list/demo/custom.ts
  components/check-list/doc/index.en-US.md
  components/check-list/doc/index.zh-CN.md
  components/check-list/style/index.less
  components/check-list/typings.ts
Due: stylelint --fix, eslint --fix

fix(module:segmented): lint failed
  components/segmented/doc/index.zh-CN.md
Due: none

fix(module:tree): read initial state of nzNodes
  components/core/tree/nz-tree-base.service.ts
Due: eslint --fix

feat(module:mention): support nzVariant
  components/mention/demo/variant.md
  components/mention/demo/variant.ts
  components/mention/doc/index.en-US.md
  components/mention/doc/index.zh-CN.md
  components/mention/mention-trigger.ts
  components/mention/mention.component.ts
  components/mention/mention.spec.ts
  components/mention/style/index.less
Due: stylelint --fix, eslint --fix

fix(module:tree): read initial state of nzNodes read state recursively (including all descendant nodes)
  components/core/tree/nz-tree-base.service.ts
Due: eslint --fix

feat(module:check-list): add badge and default checked (#9343)
  components/check-list/check-list-content.component.ts
  components/check-list/check-list.component.ts
  components/check-list/demo/basic.ts
  components/check-list/demo/custom.ts
  components/check-list/doc/index.en-US.md
  components/check-list/doc/index.zh-CN.md
  components/check-list/style/index.less
  components/check-list/typings.ts
Due: stylelint --fix, eslint --fix

feat(module:segmented): support `nzShape`(#9368)
  components/segmented/demo/shape.md
  components/segmented/demo/shape.ts
  components/segmented/doc/index.en-US.md
  components/segmented/doc/index.zh-CN.md
  components/segmented/segmented.component.ts
  components/segmented/segmented.spec.ts
  components/segmented/style/index.less
Due: stylelint --fix, eslint --fix

feat(module:mention): style documentation
  components/mention/doc/index.en-US.md
  components/mention/doc/index.zh-CN.md
Due: none

feat(module:core): add `withConfigFactory` function
  components/core/config/config.service.ts
  components/core/config/config.spec.ts
Due: eslint --fix

feat(module:core): support `withConfigFactory` for `input` properties (#9374)
  components/core/config/config.service.ts
  components/core/config/config.spec.ts
Due: eslint --fix

refactor(module:mention): implement Hyperlife's review
  components/mention/mention-trigger.ts
  components/mention/mention.component.ts
Due: eslint --fix

feat(module:mention): support nzVariant (#9379)
  components/mention/demo/variant.md
  components/mention/demo/variant.ts
  components/mention/doc/index.en-US.md
  components/mention/doc/index.zh-CN.md
  components/mention/mention-trigger.ts
  components/mention/mention.component.ts
  components/mention/mention.spec.ts
  components/mention/style/index.less
Due: stylelint --fix, eslint --fix

refactor(module:float-button): refactor float button with signal
  components/core/config/config.service.ts
  components/core/util/class-name.ts
  components/core/util/public-api.ts
  components/float-button/doc/index.en-US.md
  components/float-button/float-button-content.component.ts
  components/float-button/float-button-group.component.spec.ts
  components/float-button/float-button-group.component.ts
  components/float-button/float-button-top.component.spec.ts
  components/float-button/float-button-top.component.ts
  components/float-button/float-button.component.spec.ts
  components/float-button/float-button.component.ts
  components/float-button/public-api.ts
  components/float-button/typings.ts
Due: eslint --fix

feat(module:carousel): support nzArrows
  components/carousel/carousel.component.ts
  components/carousel/carousel.spec.ts
  components/carousel/demo/arrow.md
  components/carousel/demo/arrow.ts
  components/carousel/doc/index.en-US.md
  components/carousel/doc/index.zh-CN.md
  components/carousel/style/index.less
  components/carousel/style/rtl.less
Due: stylelint --fix, eslint --fix

fix(module:carousel): positionning arrow in rtl mode
  components/carousel/style/index.less
  components/carousel/style/rtl.less
Due: stylelint --fix

refactor(module:carousel): impolement laffery's changes
  components/carousel/carousel.spec.ts
Due: eslint --fix

refactor(module:*): replace overlay service with standalone functions
  components/auto-complete/autocomplete-trigger.directive.ts
  components/drawer/drawer.component.ts
  components/drawer/drawer.service.ts
  components/dropdown/context-menu.service.ts
  components/dropdown/dropdown.directive.ts
  components/image/image.service.ts
  components/mention/mention.component.ts
  components/message/base.ts
  components/modal/modal.service.ts
Due: eslint --fix

fix(module:segmented): fix NG0950 error
  components/segmented/segmented.component.ts
Due: eslint --fix

feat(module:mention): support autosize
  components/mention/demo/auto-size.md
  components/mention/demo/auto-size.ts
Due: eslint --fix

docs: add Claude guidance for Ng-Zorro project development
  CLAUDE.md
Due: none

feat(module:mention): support nzClear
  components/mention/demo/clear.md
  components/mention/demo/clear.ts
  components/mention/doc/index.en-US.md
  components/mention/doc/index.zh-CN.md
  components/mention/mention-trigger.ts
  components/mention/mention.component.ts
  components/mention/mention.spec.ts
  components/mention/style/index.less
Due: stylelint --fix, eslint --fix

fix(module:mention): build failed
  components/mention/mention.component.ts
Due: eslint --fix

refactor(module:mention): dom structure
  components/mention/mention-trigger.ts
  components/mention/mention.component.ts
  components/mention/mention.spec.ts
  components/mention/style/index.less
Due: stylelint --fix, eslint --fix

refactor(module:mention): some adjustments
  components/mention/demo/clear.ts
  components/mention/mention.component.ts
  components/mention/style/index.less
Due: stylelint --fix, eslint --fix

refactor(module:mention): some adjustments
  components/mention/demo/auto-size.md
  components/mention/demo/auto-size.ts
  components/mention/demo/multilines.md
  components/mention/demo/multilines.ts
Due: eslint --fix

chore: add ai configs
  .claude/CLAUDE.md
  .cursor/rules/cursor.mdc
  .gemini/GEMINI.md
  .github/copilot-instructions.md
  .junie/guidelines.md
  .windsurf/rules/guidelines.md
Due: none

chore(module:mention): format less
  components/mention/style/index.less
Due: stylelint --fix

chore: add ai configs (#9390)
  .claude/CLAUDE.md
  .cursor/rules/cursor.mdc
  .gemini/GEMINI.md
  .github/copilot-instructions.md
  .junie/guidelines.md
  .windsurf/rules/guidelines.md
Due: none

fix(module:segmented): fix NG0950 error (#9386)
  components/segmented/segmented.component.ts
Due: eslint --fix

docs(module:mention): add autoSize showcase (#9384)
  components/mention/demo/auto-size.md
  components/mention/demo/auto-size.ts
  components/mention/demo/multilines.md
  components/mention/demo/multilines.ts
Due: eslint --fix

refactor(module:*): some adjustments
  components/auto-complete/autocomplete-trigger.directive.ts
  components/mention/mention.component.ts
Due: eslint --fix

fix(module:badge): showSup will hide the status
  components/badge/badge.component.ts
  components/badge/badge.spec.ts
Due: eslint --fix

fix(module:badge): move class and style to badge sup
  components/badge/badge-sup.component.ts
  components/badge/badge.component.ts
Due: eslint --fix

fix(module:mention): handle non-string values
  components/mention/mention-trigger.ts
Due: eslint --fix

feat(module:mention): support `nzClear` (#9377)
  components/mention/demo/clear.md
  components/mention/demo/clear.ts
  components/mention/doc/index.en-US.md
  components/mention/doc/index.zh-CN.md
  components/mention/mention-trigger.ts
  components/mention/mention.component.ts
  components/mention/mention.spec.ts
  components/mention/style/index.less
Due: stylelint --fix, eslint --fix

feat(module:carousel): support nzArrows (#9355)
  components/carousel/carousel.component.ts
  components/carousel/carousel.spec.ts
  components/carousel/demo/arrow.md
  components/carousel/demo/arrow.ts
  components/carousel/doc/index.en-US.md
  components/carousel/doc/index.zh-CN.md
  components/carousel/style/index.less
  components/carousel/style/rtl.less
Due: stylelint --fix, eslint --fix

refactor(module:*): replace overlay service with standalone functions (#9385)
  components/auto-complete/autocomplete-trigger.directive.ts
  components/drawer/drawer.component.ts
  components/drawer/drawer.service.ts
  components/dropdown/context-menu.service.ts
  components/dropdown/dropdown.directive.ts
  components/image/image.service.ts
  components/mention/mention.component.ts
  components/message/base.ts
  components/modal/modal.service.ts
Due: eslint --fix

feat(module:tour): init nz-tour component
  .github/CODEOWNERS
  components/components.less
  components/tour/demo/basic.md
  components/tour/demo/basic.ts
  components/tour/demo/module
  components/tour/doc/index.en-US.md
  components/tour/doc/index.zh-CN.md
  components/tour/index.ts
  components/tour/ng-package.json
  components/tour/public-api.ts
  components/tour/style/entry.less
  components/tour/style/index.less
  components/tour/tour-step.ts
  components/tour/tour.module.ts
  components/tour/tour.service.ts
  components/tour/tour.spec.ts
  components/tour/tour.ts
  scripts/prerender/route-paths.txt
Due: stylelint --fix, eslint --fix

Path conditions:
  stylelint --fix: any of: *.less
  eslint --fix: any of: *.{html,ts}
