Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix --concurrency=auto

feat(module:grid): add `nzWrap` input to row directive
  components/grid/demo/flex-stretch.ts
  components/grid/doc/index.en-US.md
  components/grid/doc/index.zh-CN.md
  components/grid/grid.spec.ts
  components/grid/row.directive.ts
  components/grid/style/index.less
  components/grid/style/mixin.less
  components/grid/style/rtl.less
Due: stylelint --fix, eslint --fix --concurrency=auto

Update components/grid/row.directive.ts
  components/grid/row.directive.ts
Due: eslint --fix --concurrency=auto

Potential fix for pull request finding
  components/grid/doc/index.en-US.md
Due: eslint --fix --concurrency=auto

feat(module:grid): add `nzWrap` input to row directive (#9789)
  components/grid/demo/flex-stretch.ts
  components/grid/doc/index.en-US.md
  components/grid/doc/index.zh-CN.md
  components/grid/grid.spec.ts
  components/grid/row.directive.ts
  components/grid/style/index.less
  components/grid/style/mixin.less
  components/grid/style/rtl.less
Due: stylelint --fix, eslint --fix --concurrency=auto

feat(module:grid): support responsive object type
  components/grid/doc/index.en-US.md
  components/grid/doc/index.zh-CN.md
  components/grid/grid.spec.ts
  components/grid/row.directive.ts
Due: eslint --fix --concurrency=auto

feat(module:grid): support responsive object type (#9790)
  components/grid/doc/index.en-US.md
  components/grid/doc/index.zh-CN.md
  components/grid/grid.spec.ts
  components/grid/row.directive.ts
Due: eslint --fix --concurrency=auto

feat(module:grid): add `xxxl` (1920px) breakpoint for FHD screen
  components/core/services/breakpoint.ts
  components/descriptions/descriptions.component.ts
  components/descriptions/descriptions.spec.ts
  components/grid/col.directive.ts
  components/grid/demo/responsive.md
  components/grid/doc/index.en-US.md
  components/grid/doc/index.zh-CN.md
  components/grid/grid.spec.ts
  components/grid/row.directive.ts
  components/grid/style/index.less
  components/layout/doc/index.en-US.md
  components/layout/doc/index.zh-CN.md
  components/layout/layout.component.ts
  components/layout/layout.spec.ts
  components/layout/sider-trigger.component.ts
  components/layout/sider.component.ts
  components/list/interface.ts
  components/list/list.component.ts
  components/style/themes/default.less
  components/style/themes/variable.less
Due: stylelint --fix, eslint --fix --concurrency=auto

Apply suggestions from code review
  components/layout/doc/index.en-US.md
  components/layout/doc/index.zh-CN.md
Due: eslint --fix --concurrency=auto

feat(module:grid): add `xxxl` (1920px) breakpoint for FHD screen (#9792)
  components/core/services/breakpoint.ts
  components/descriptions/descriptions.component.ts
  components/descriptions/descriptions.spec.ts
  components/grid/col.directive.ts
  components/grid/demo/responsive.md
  components/grid/doc/index.en-US.md
  components/grid/doc/index.zh-CN.md
  components/grid/grid.spec.ts
  components/grid/row.directive.ts
  components/grid/style/index.less
  components/layout/doc/index.en-US.md
  components/layout/doc/index.zh-CN.md
  components/layout/layout.component.ts
  components/layout/layout.spec.ts
  components/layout/sider-trigger.component.ts
  components/layout/sider.component.ts
  components/list/interface.ts
  components/list/list.component.ts
  components/style/themes/default.less
  components/style/themes/variable.less
Due: stylelint --fix, eslint --fix --concurrency=auto

chore(dev-deps): update angular packages and related dev dependencies
  package-lock.json
  package.json
Due: none

chore(release): release 21.3.0
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

docs(module:grid): fix API table
  components/grid/doc/index.en-US.md
  components/grid/doc/index.zh-CN.md
Due: eslint --fix --concurrency=auto

docs(module:grid): fix API table (#9795)
  components/grid/doc/index.en-US.md
  components/grid/doc/index.zh-CN.md
Due: eslint --fix --concurrency=auto

fix(module:menu): fix menu doc
  components/menu/doc/index.en-US.md
  components/menu/doc/index.zh-CN.md
Due: eslint --fix --concurrency=auto

fix(packaging): rename Less plugin files to .cjs for ESM compatibility
  components/style/color/bezierEasing.cjs
  components/style/color/bezierEasing.less
  components/style/color/colorPalette.cjs
  components/style/color/colorPalette.less
  components/style/color/tinyColor.cjs
  components/style/color/tinyColor.less
  components/style/color/tinycolor2.cjs
Due: stylelint --fix

docs(module:menu): fix menu doc (#9796)
  components/menu/doc/index.en-US.md
  components/menu/doc/index.zh-CN.md
Due: eslint --fix --concurrency=auto

doc: Apply suggestions from code review
  CHANGELOG.md
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

build(deps): update angular packages and related dev dependencies (#9793)
  components/style/color/bezierEasing.cjs
  components/style/color/bezierEasing.less
  components/style/color/colorPalette.cjs
  components/style/color/colorPalette.less
  components/style/color/tinyColor.cjs
  components/style/color/tinyColor.less
  components/style/color/tinycolor2.cjs
  package-lock.json
  package.json
Due: stylelint --fix

chore(release): release 21.3.0 (#9794)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

fix(module:color-picker): hue slider invisible with nzDisabledAlpha
  components/color-picker/style/index.less
Due: stylelint --fix

docs: add draggable tag demo
  components/tag/demo/draggable.md
  components/tag/demo/draggable.ts
Due: eslint --fix --concurrency=auto

docs: refine draggable tag sorting
  components/tag/demo/draggable.ts
Due: eslint --fix --concurrency=auto

feat(module:avatar): support responsive size
  components/avatar/avatar.component.ts
  components/avatar/avatar.spec.ts
  components/avatar/demo/responsive.md
  components/avatar/demo/responsive.ts
  components/avatar/doc/index.en-US.md
  components/avatar/doc/index.zh-CN.md
  components/avatar/types.ts
  components/core/config/config.ts
Due: eslint --fix --concurrency=auto

docs(module:tag): add draggable tag demo (#9800)
  components/tag/demo/draggable.md
  components/tag/demo/draggable.ts
Due: eslint --fix --concurrency=auto

fix(module:color-picker): fix slider styles
  components/color-picker/style/index.less
Due: stylelint --fix

Apply suggestions from code review
  components/color-picker/style/index.less
Due: stylelint --fix

fix(module:color-picker): restore rgba syntax in alpha slider gradient
  components/color-picker/style/index.less
Due: stylelint --fix

chore: disabled color-function-alias-notation stylelint rule
  .stylelintrc.json
Due: none

feat: add design token css variable bridge
  components/style/themes/token-css-variables.less
  components/style/themes/variable.less
  components/style/tokens/README.md
  components/style/tokens/definitions.ts
  components/style/tokens/token-map.md
  package.json
  scripts/build/generate-design-tokens.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

Apply suggestions from code review
  package-lock.json
Due: none

chore: disabled color-function-alias-notation stylelint rule (#9803)
  .stylelintrc.json
Due: none

fix(module:color-picker): fix slider styles (#9802)
  components/color-picker/style/index.less
Due: stylelint --fix

fix(module:*): apply outlined variant class
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
  components/core/util/variant-utils.ts
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/input-number/input-number.component.spec.ts
  components/input/input-wrapper.component.spec.ts
  components/input/input.directive.ts
  components/input/input.spec.ts
  components/mention/mention.component.ts
  components/mention/mention.spec.ts
  components/select/select.component.ts
  components/select/select.spec.ts
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
  components/tree-select/tree-select.component.ts
  components/tree-select/tree-select.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:*): apply outlined variant class (#9806)
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
  components/core/util/variant-utils.ts
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/input-number/input-number.component.spec.ts
  components/input/input-wrapper.component.spec.ts
  components/input/input.directive.ts
  components/input/input.spec.ts
  components/mention/mention.component.ts
  components/mention/mention.spec.ts
  components/select/select.component.ts
  components/select/select.spec.ts
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
  components/tree-select/tree-select.component.ts
  components/tree-select/tree-select.spec.ts
Due: eslint --fix --concurrency=auto

docs(module:collapse): update collapsible demo
  components/collapse/demo/accordion.ts
  components/collapse/demo/basic.ts
  components/collapse/demo/borderless.ts
  components/collapse/demo/custom.ts
  components/collapse/demo/extra.ts
  components/collapse/demo/mix.ts
  components/collapse/demo/noarrow.ts
Due: eslint --fix --concurrency=auto

docs(module:upload): remove `nzTransformFile`
  components/upload/demo/transform-file.md
  components/upload/demo/transform-file.ts
  components/upload/doc/index.en-US.md
  components/upload/doc/index.zh-CN.md
  components/upload/upload-btn.component.ts
Due: eslint --fix --concurrency=auto

Update package-lock.json
  package-lock.json
Due: none

refactor(module:cascader,select,tree-select): clean up styles
  components/cascader/cascader.component.ts
  components/cascader/style/patch.less
  components/select/select.component.ts
  components/select/style/patch.less
  components/tree-select/style/patch.less
  components/tree-select/tree-select.component.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:cascader,select,tree-select): clean up styles (#9808)
  components/cascader/cascader.component.ts
  components/cascader/style/patch.less
  components/select/select.component.ts
  components/select/style/patch.less
  components/tree-select/style/patch.less
  components/tree-select/tree-select.component.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

Path conditions:
  stylelint --fix: any of: *.less
  eslint --fix --concurrency=auto: any of: *.{md,html,ts}
