Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc:

{
  "*.less": "stylelint --fix",
  "*.{html,ts}": "eslint --fix"
}

chore: drop dev deps @typescript-eslint/*
  package-lock.json
  package.json
Due: none

chore: drop dev deps @typescript-eslint/* (#9059)
  package-lock.json
  package.json
Due: none

feat(module:splitter): basic usage
  components/splitter/demo/basic.ts
  components/splitter/demo/complex.ts
  components/splitter/demo/multiple.ts
  components/splitter/demo/vertical.ts
  components/splitter/doc/index.en-US.md
  components/splitter/doc/index.zh-CN.md
  components/splitter/splitter-panel.component.ts
  components/splitter/splitter.component.spec.ts
  components/splitter/splitter.component.ts
  components/splitter/splitter.module.ts
  components/splitter/splitter.spec.ts
  components/splitter/style/index.less
  components/splitter/tokens.ts
  components/splitter/typings.ts
  components/splitter/utils.ts
  components/style/themes/dark.less
  components/style/themes/default.less
  components/style/themes/variable.less
Due: stylelint --fix, eslint --fix

feat(module:splitter): opt styles
  components/splitter/public-api.ts
  components/splitter/splitter-bar.component.ts
  components/splitter/splitter.component.ts
  components/splitter/style/index.less
  components/style/themes/dark.less
  components/style/themes/variable.less
Due: stylelint --fix, eslint --fix

feat(module:splitter): add split bar directive
  components/splitter/demo/vertical.md
  components/splitter/splitter-bar.component.ts
  components/splitter/splitter-panel.component.ts
  components/splitter/splitter.component.ts
Due: eslint --fix

feat(module:splitter): lazy mode
  components/splitter/demo/lazy.ts
  components/splitter/splitter-bar.component.ts
  components/splitter/splitter.component.ts
  components/splitter/style/index.less
Due: stylelint --fix, eslint --fix

feat(module:splitter): handle resizing
  components/splitter/doc/index.en-US.md
  components/splitter/doc/index.zh-CN.md
  components/splitter/splitter-bar.component.ts
  components/splitter/splitter.component.ts
  components/splitter/splitter.spec.ts
  components/splitter/tokens.ts
Due: eslint --fix

feat(module:splitter): init showcases
  .github/CODEOWNERS
  .github/nz-boot.yml
  components/components.less
  components/splitter/demo/basic.md
  components/splitter/demo/basic.ts
  components/splitter/demo/collapsible.md
  components/splitter/demo/collapsible.ts
  components/splitter/demo/complex.md
  components/splitter/demo/complex.ts
  components/splitter/demo/control.md
  components/splitter/demo/control.ts
  components/splitter/demo/lazy.md
  components/splitter/demo/lazy.ts
  components/splitter/demo/multiple.md
  components/splitter/demo/multiple.ts
  components/splitter/demo/vertical.md
  components/splitter/demo/vertical.ts
  components/splitter/doc/index.en-US.md
  components/splitter/doc/index.zh-CN.md
  components/splitter/index.ts
  components/splitter/ng-package.json
  components/splitter/public-api.ts
  components/splitter/splitter.component.spec.ts
  components/splitter/splitter.component.ts
  components/splitter/splitter.module.ts
  components/splitter/style/entry.less
  components/splitter/style/index.less
  components/splitter/style/patch.less
  components/splitter/style/rtl.less
  scripts/prerender/route-paths.txt
Due: stylelint --fix, eslint --fix

feat(module:splitter): control mode
  components/splitter/demo/control.ts
  components/splitter/splitter.component.ts
  components/style/themes/default.less
Due: stylelint --fix, eslint --fix

feat(module:splitter): add comments
  components/splitter/doc/index.en-US.md
  components/splitter/doc/index.zh-CN.md
  components/splitter/splitter-bar.component.ts
  components/splitter/splitter-panel.component.ts
  components/splitter/splitter.component.ts
Due: eslint --fix

feat(module:splitter): add placeholder of tests
  components/splitter/splitter.component.ts
  components/splitter/splitter.spec.ts
Due: eslint --fix

feat(module:splitter): improve collapsible logic
  components/splitter/splitter-bar.component.ts
  components/splitter/splitter.component.ts
  components/splitter/utils.ts
Due: eslint --fix

feat(module:splitter): add collapse
  components/splitter/splitter-bar.component.ts
  components/splitter/splitter-panel.component.ts
  components/splitter/splitter.component.ts
  components/splitter/style/index.less
Due: stylelint --fix, eslint --fix

feat(module:splitter): add collapse bar
  components/splitter/demo/collapsible.ts
  components/splitter/splitter-bar.component.ts
  components/splitter/splitter.component.ts
  components/splitter/style/index.less
  components/splitter/utils.ts
  components/style/themes/default.less
  components/style/themes/variable.less
Due: stylelint --fix, eslint --fix

feat(module:splitter): add unit tests
  components/splitter/splitter.component.ts
  components/splitter/splitter.spec.ts
Due: eslint --fix

feat(module:splitter): observe to container size change
  components/splitter/demo/complex.ts
  components/splitter/splitter-bar.component.ts
  components/splitter/splitter.component.ts
Due: eslint --fix

feat(module:splitter): restore prev size when expanding a collapsed pane
  components/splitter/splitter.component.ts
  components/splitter/splitter.spec.ts
Due: eslint --fix

feat(module:splitter): support rtl
  components/splitter/splitter.component.ts
  components/splitter/splitter.spec.ts
Due: eslint --fix

docs: improve header and rtl styles
  scripts/site/_site/doc/app/app.component.ts
  scripts/site/_site/doc/app/header/github-button.component.ts
  scripts/site/_site/doc/app/header/header.component.html
  scripts/site/_site/doc/app/header/header.component.ts
  scripts/site/_site/doc/app/header/header.less
  scripts/site/_site/doc/app/header/searchbar.component.ts
  scripts/site/_site/doc/style/github-button.less
  scripts/site/_site/doc/style/patch.less
Due: stylelint --fix, eslint --fix

docs: improve header and rtl styles (#9061)
  scripts/site/_site/doc/app/app.component.ts
  scripts/site/_site/doc/app/header/github-button.component.ts
  scripts/site/_site/doc/app/header/header.component.html
  scripts/site/_site/doc/app/header/header.component.ts
  scripts/site/_site/doc/app/header/header.less
  scripts/site/_site/doc/app/header/searchbar.component.ts
  scripts/site/_site/doc/style/github-button.less
  scripts/site/_site/doc/style/patch.less
Due: stylelint --fix, eslint --fix

feat(module:splitter): add tests for lazy mode
  components/splitter/splitter-bar.component.ts
  components/splitter/splitter.component.ts
  components/splitter/splitter.spec.ts
Due: eslint --fix

chore: update lint config for html
  .stylelintrc.json
  components/date-picker/lib/abstract-table.html
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint --fix

chore: update lint config for html (#9063)
  .stylelintrc.json
  components/date-picker/lib/abstract-table.html
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint --fix

feat(module:splitter): remove redundant takeUntil
  components/splitter/splitter.component.ts
Due: eslint --fix
