Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix --concurrency=auto

.lintstagedrc:

{
  "*.less": "stylelint --fix",
  "*.{md,html,ts}": "eslint --fix --concurrency=auto"
}

test(module:anchor): refactor to zonless test
  components/anchor/anchor.spec.ts
Due: eslint --fix --concurrency=auto

docs(module:input): add NG0951 error explanation (#9603)
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
Due: eslint --fix --concurrency=auto

test(module:anchor): refactor to zonless test (#9604)
  components/anchor/anchor.spec.ts
Due: eslint --fix --concurrency=auto

docs: move changelog to component page (#9602)
  scripts/site/doc/app/app.routes.ts
  scripts/site/doc/app/side/side.component.html
  scripts/site/utils/generate-docs.ts
Due: eslint --fix --concurrency=auto

fix(module:select): disable nzAutoClearSearchValue in single mode
  components/select/select.component.ts
  components/select/select.spec.ts
Due: eslint --fix --concurrency=auto

feat(module:input,input-numder): add additional options for `focus` method (#9595)
  components/core/util/focus.ts
  components/core/util/public-api.ts
  components/input-number/demo/focus.md
  components/input-number/demo/focus.ts
  components/input-number/doc/index.en-US.md
  components/input-number/doc/index.zh-CN.md
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
  components/input/demo/focus.md
  components/input/demo/focus.ts
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/input/input.directive.ts
  components/input/input.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:color-picker): adjust size and padding
  components/color-picker/src/ng-antd-color-picker.component.ts
  components/color-picker/style/index.less
Due: stylelint --fix, eslint --fix --concurrency=auto

feat(module:form): support nzSize
  components/button/button.component.ts
  components/button/button.spec.ts
  components/cascader/cascader.component.ts
  components/core/form/nz-form-size.service.spec.ts
  components/core/form/nz-form-size.service.ts
  components/core/form/public-api.ts
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/form/demo/size.md
  components/form/demo/size.ts
  components/form/doc/index.en-US.md
  components/form/doc/index.zh-CN.md
  components/form/form.directive.ts
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
  components/input/input.directive.ts
  components/input/input.spec.ts
  components/radio/radio-group.component.ts
  components/radio/radio.spec.ts
  components/select/select.component.ts
  components/select/select.spec.ts
  components/tree-select/tree-select.component.ts
  components/tree-select/tree-select.spec.ts
Due: eslint --fix --concurrency=auto

fix(changelog): remove changelog navigation from docs
  scripts/site/doc/app/footer/footer.component.ts
  scripts/site/utils/generate-routes.ts
Due: eslint --fix --concurrency=auto

docs: remove changelog navigation from docs (#9607)
  scripts/site/doc/app/footer/footer.component.ts
  scripts/site/utils/generate-routes.ts
Due: eslint --fix --concurrency=auto

refactor(module:color-picker): rename interface presets
  components/color-picker/color-picker.component.spec.ts
  components/color-picker/color-picker.component.ts
  components/color-picker/demo/presets.ts
  components/color-picker/src/ng-antd-color-picker.component.spec.ts
  components/color-picker/src/ng-antd-color-picker.component.ts
  components/color-picker/src/ng-antd-color-preset.component.ts
  components/color-picker/typings.ts
Due: eslint --fix --concurrency=auto

fix(module:select): disable nzAutoClearSearchValue in single mode (#9605)
  components/select/select.component.ts
  components/select/select.spec.ts
Due: eslint --fix --concurrency=auto

Fix template formatting in color block component
  components/color-picker/src/ng-antd-color-block.component.ts
Due: eslint --fix --concurrency=auto

feat(module:color-picker): support `nzPresets` (#9341)
  components/color-picker/color-picker.component.spec.ts
  components/color-picker/color-picker.component.ts
  components/color-picker/demo/presets.md
  components/color-picker/demo/presets.ts
  components/color-picker/doc/index.en-US.md
  components/color-picker/doc/index.zh-CN.md
  components/color-picker/src/ng-antd-color-block.component.ts
  components/color-picker/src/ng-antd-color-picker.component.spec.ts
  components/color-picker/src/ng-antd-color-picker.component.ts
  components/color-picker/src/ng-antd-color-picker.module.ts
  components/color-picker/src/ng-antd-color-preset.component.spec.ts
  components/color-picker/src/ng-antd-color-preset.component.ts
  components/color-picker/style/index.less
  components/color-picker/typings.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

test(module:modal): update to zoneless mode
  components/modal/demo/async.ts
  components/modal/demo/service.ts
  components/modal/modal-ref.ts
  components/modal/modal.spec.ts
Due: eslint --fix --concurrency=auto

fixed (carousel): responsive height issue mentioned in 8572
  components/carousel/style/index.less
Due: stylelint --fix

test(module:modal): update to zoneless mode (#9608)
  components/modal/demo/async.ts
  components/modal/demo/service.ts
  components/modal/modal-ref.ts
  components/modal/modal.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:tabs): remove deprecated nz-tabset selector
  components/tabs/tab-bar-extra-content.directive.ts
  components/tabs/tabs.component.ts
  schematics/ng-update/upgrade-rules/checks/tabs-input-rule.ts
  schematics/ng-update/upgrade-rules/checks/tabs-output-rule.ts
  schematics/ng-update/upgrade-rules/checks/tabs-template-rule.ts
  schematics/ng-update/upgrade-rules/index.ts
Due: eslint --fix --concurrency=auto

refactor(module:upload): use native animation
  components/upload/demo/picture-style.ts
  components/upload/upload-list.component.html
  components/upload/upload-list.component.ts
  components/upload/upload.component.html
  components/upload/upload.component.ts
  components/upload/upload.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:upload): add tests
  components/upload/upload-list.component.html
  components/upload/upload-list.spec.ts
  components/upload/upload.component.html
  components/upload/upload.component.ts
  components/upload/upload.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:tabs): remove deprecated nz-tabset selector (#9613)
  components/tabs/tab-bar-extra-content.directive.ts
  components/tabs/tabs.component.ts
  schematics/ng-update/upgrade-rules/checks/tabs-input-rule.ts
  schematics/ng-update/upgrade-rules/checks/tabs-output-rule.ts
  schematics/ng-update/upgrade-rules/checks/tabs-template-rule.ts
  schematics/ng-update/upgrade-rules/index.ts
Due: eslint --fix --concurrency=auto

refactor(module:message,notification): use native animation
  components/core/animation/move.ts
  components/core/animation/notification.ts
  components/core/animation/public-api.ts
  components/message/base.ts
  components/message/message.component.ts
  components/message/message.spec.ts
  components/message/style/animation.less
  components/message/style/index.less
  components/message/typings.ts
  components/notification/notification.component.ts
  components/notification/notification.spec.ts
  components/notification/style/index.less
  components/notification/style/placement.less
Due: stylelint --fix, eslint --fix --concurrency=auto

chore(release): release 21.0.0-next.2
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

chore(release): release 21.0.0-next.2 (#9614)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

fix(module:i18n): add missing translations to fa_IR
  components/i18n/languages/fa_IR.ts
Due: eslint --fix --concurrency=auto

refactor(module:upload): use native animation (#9611)
  components/upload/demo/picture-style.ts
  components/upload/upload-list.component.html
  components/upload/upload-list.component.ts
  components/upload/upload-list.spec.ts
  components/upload/upload.component.html
  components/upload/upload.component.ts
  components/upload/upload.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:select,dropdown): use native animation
  components/core/animation/slide.ts
  components/dropdown/dropdown-menu.component.ts
  components/dropdown/dropdown.directive.ts
  components/select/select.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:tabs): use native animation
  components/core/animation/no-animation.spec.ts
  components/core/animation/no-animation.ts
  components/core/animation/public-api.ts
  components/core/animation/tabs.ts
  components/tabs/style/index.less
  components/tabs/tab-body.component.ts
  components/tabs/tab-nav-bar.component.ts
  components/tabs/tabs-ink-bar.directive.ts
  components/tabs/tabs.component.spec.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

fix(module:i18n): add missing translations to `fa_IR` (#9615)
  components/i18n/languages/fa_IR.ts
Due: eslint --fix --concurrency=auto

refator: removed important from height auto and also removed extra line break.
  components/carousel/style/index.less
Due: stylelint --fix

refactor(module:animation): remove redundant no anim class
  components/core/animation/slide.ts
  components/dropdown/dropdown-menu.component.ts
  components/select/select.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:dropdown): dispose overlay whenanimation end
  components/dropdown/dropdown-menu.component.ts
  components/dropdown/dropdown.directive.ts
Due: eslint --fix --concurrency=auto

refactor(module:select,dropdown): use native animation (#9616)
  components/core/animation/slide.ts
  components/dropdown/dropdown-menu.component.ts
  components/dropdown/dropdown.directive.ts
  components/select/select.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:cascader): use native animation
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:cascader): use native animation (#9620)
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:tabs): use native animation (#9610)
  components/core/animation/no-animation.spec.ts
  components/core/animation/no-animation.ts
  components/core/animation/public-api.ts
  components/core/animation/tabs.ts
  components/tabs/style/index.less
  components/tabs/tab-body.component.ts
  components/tabs/tab-nav-bar.component.ts
  components/tabs/tabs-ink-bar.directive.ts
  components/tabs/tabs.component.spec.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:segmented): use native animation
  components/core/animation/public-api.ts
  components/core/animation/thumb.ts
  components/segmented/segmented-item.component.ts
  components/segmented/segmented.component.ts
  components/segmented/segmented.service.ts
  components/segmented/segmented.spec.ts
  components/segmented/style/index.less
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:segmented): use native animation
  components/segmented/segmented.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:segmented): use native animation
  components/segmented/segmented.service.ts
Due: eslint --fix --concurrency=auto

refactor(module:segmented): use native animation
  components/segmented/segmented-item.component.ts
  components/segmented/segmented.service.ts
Due: eslint --fix --concurrency=auto
