Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix --concurrency=auto

.lintstagedrc:

{
  "*.less": "stylelint --fix",
  "*.{md,html,ts}": "eslint --fix --concurrency=auto"
}

fix(module:segmented): should not block the `selected$` if no animation (#9512)
  components/segmented/segmented-item.component.ts
Due: eslint --fix --concurrency=auto

fix(module:select): correct font size in small size
  components/select/style/multiple.less
  components/select/style/single.less
Due: stylelint --fix

fix(module:result): nz-result-icon in ng-content does not work
  components/result/doc/index.en-US.md
  components/result/doc/index.zh-CN.md
  components/result/result-cells.ts
Due: eslint --fix --concurrency=auto

fix(module:select): correct font size in small size (#9516)
  components/select/style/multiple.less
  components/select/style/single.less
Due: stylelint --fix

fix(module:badge): hex `nzColor` should work
  components/badge/badge.component.ts
  components/badge/badge.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:result): nz-result-icon in ng-content does not work (#9511)
  components/result/demo/custom.ts
  components/result/doc/index.en-US.md
  components/result/doc/index.zh-CN.md
  components/result/result-cells.ts
  components/result/result.component.ts
  components/result/result.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:badge): hex `nzColor` should work (#9517)
  components/badge/badge.component.ts
  components/badge/badge.spec.ts
Due: eslint --fix --concurrency=auto

test(module:tree-select): add missing inputs
  components/tree-select/tree-select.spec.ts
Due: eslint --fix --concurrency=auto

test(module:select): fix select-arrow visibility error involved in #9328
  components/select/select.spec.ts
Due: eslint --fix --concurrency=auto

test(module:autocomplete): deprecated input group
  components/auto-complete/autocomplete-trigger.directive.ts
  components/auto-complete/autocomplete.spec.ts
Due: eslint --fix --concurrency=auto

chore: update test script
  package.json
Due: none

test(module:tooltip): fix arrow bgColor case involved in #9360
  components/test.ts
  components/tooltip/tooltip.spec.ts
Due: eslint --fix --concurrency=auto

test(module:mention): missing Directionality.valueSignal
  components/mention/mention.spec.ts
Due: eslint --fix --concurrency=auto

test(module:cascader): fix pipe not provided
  components/pipes/nz-sanitizer.pipe.spec.ts
Due: eslint --fix --concurrency=auto

test(module:cascader): fix missing NzInputGroupDirective query
  components/input/input.spec.ts
Due: eslint --fix --concurrency=auto

test(module:cascader): fix missing signal value invocation
  components/cascader/cascader.spec.ts
Due: eslint --fix --concurrency=auto

ci: fix pipelines config
  azure-pipelines.yml
Due: none

ci: correct junit output dir
  azure-pipelines.yml
  components/karma.conf.js
Due: none

test(module:affix): revert fromEventOutsideAngular
  components/affix/affix.component.ts
Due: eslint --fix --concurrency=auto

test(module:dropdown): re-organize test cases
  components/avatar/avatar.spec.ts
  components/dropdown/dropdown.directive.spec.ts
Due: eslint --fix --concurrency=auto

test: fix ut failures in ci (#9515)
  azure-pipelines.yml
  components/affix/affix.component.ts
  components/auto-complete/autocomplete-trigger.directive.ts
  components/auto-complete/autocomplete.spec.ts
  components/avatar/avatar.spec.ts
  components/cascader/cascader.spec.ts
  components/dropdown/dropdown.directive.spec.ts
  components/input/input.spec.ts
  components/karma.conf.js
  components/mention/mention.spec.ts
  components/pipes/nz-sanitizer.pipe.spec.ts
  components/select/select.spec.ts
  components/test.ts
  components/tooltip/tooltip.spec.ts
  components/tree-select/tree-select.spec.ts
  package.json
Due: eslint --fix --concurrency=auto

fix(module:dropdown): update arrow placement once the position of connected overlay changed
  components/dropdown/dropdown-menu.component.ts
  components/dropdown/dropdown.directive.spec.ts
  components/dropdown/dropdown.directive.ts
Due: eslint --fix --concurrency=auto

feat(module:date-pick): if sort order is wrong, output in reverse order
  components/date-picker/date-range-popup.component.ts
  components/date-picker/range-picker.component.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:dropdown): skip arrow test cases
  components/dropdown/dropdown.directive.spec.ts
Due: eslint --fix --concurrency=auto

refactor(module:color-picker): achieving a DOM structure closer to antd
  components/color-picker/color-block.component.spec.ts
  components/color-picker/color-block.component.ts
  components/color-picker/color-format.component.ts
  components/color-picker/doc/index.en-US.md
  components/color-picker/doc/index.zh-CN.md
  components/color-picker/src/components/gradient.directive.ts
  components/color-picker/src/components/handler.component.ts
  components/color-picker/src/components/handler.directive.ts
  components/color-picker/src/components/palette.component.ts
  components/color-picker/src/components/picker.component.ts
  components/color-picker/src/components/slider.component.ts
  components/color-picker/src/ng-antd-color-block.component.spec.ts
  components/color-picker/src/ng-antd-color-block.component.ts
  components/color-picker/src/ng-antd-color-picker.component.spec.ts
  components/color-picker/src/ng-antd-color-picker.component.ts
  components/color-picker/style/index.less
Due: stylelint --fix, eslint --fix --concurrency=auto

fix(module:color-picker): fix NG01350 error
  components/color-picker/color-format.component.ts
Due: eslint --fix --concurrency=auto

fix(module:dropdown): update arrow placement once the position of connected overlay changes (#9519)
  components/dropdown/dropdown-menu.component.ts
  components/dropdown/dropdown.directive.spec.ts
  components/dropdown/dropdown.directive.ts
Due: eslint --fix --concurrency=auto

fix(module:color-picker): fix `NG01350` error (#9525)
  components/color-picker/color-format.component.ts
Due: eslint --fix --concurrency=auto

chore(release): release 20.4.1
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

更新 changelog.zh-CN.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

chore(release): release 20.4.1 (#9526)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

fix(module:statistic): correct DOM structure and naming (#9330)
  components/statistic/public-api.ts
  components/statistic/statistic-content-value.component.spec.ts
  components/statistic/statistic-content-value.component.ts
  components/statistic/statistic.component.ts
  components/statistic/statistic.module.ts
Due: eslint --fix --concurrency=auto

feat(module:float-button): add pop animation to float button menu (#9413)
  components/float-button/float-button-group.component.spec.ts
  components/float-button/float-button-group.component.ts
  components/float-button/float-button-top.component.ts
  components/float-button/style/animation.less
  components/float-button/style/entry.less
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:dropdown): rename DropDown to Dropdown
  components/dropdown/dropdown-button.directive.ts
  components/dropdown/dropdown.module.ts
  components/dropdown/public-api.ts
  components/menu/menu.token.ts
  components/tabs/tab-nav-operation.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:watermark): rename WaterMark to Watermark
  .github/CODEOWNERS
  components/components.less
  components/package.json
  components/water-mark/demo/basic.ts
  components/water-mark/demo/multi-line.ts
  components/water-mark/style/entry.less
  components/water-mark/style/index.less
  components/watermark/demo/basic.md
  components/watermark/demo/basic.ts
  components/watermark/demo/custom.md
  components/watermark/demo/custom.ts
  components/watermark/demo/image.md
  components/watermark/demo/image.ts
  components/watermark/demo/multi-line.md
  components/watermark/demo/multi-line.ts
  components/watermark/doc/index.en-US.md
  components/watermark/doc/index.zh-CN.md
  components/watermark/index.ts
  components/watermark/ng-package.json
  components/watermark/public-api.ts
  components/watermark/typings.ts
  components/watermark/util.ts
  components/watermark/watermark.component.ts
  components/watermark/watermark.module.ts
  components/watermark/watermark.spec.ts
  scripts/prerender/route-paths.txt
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:dropdown): remove internal annotation
  components/menu/menu.token.ts
Due: eslint --fix --concurrency=auto

refactor: remove deprecated NzInputNumberLegacyModule
  components/input-number-legacy/demo/addon.md
  components/input-number-legacy/demo/addon.ts
  components/input-number-legacy/demo/basic.md
  components/input-number-legacy/demo/basic.ts
  components/input-number-legacy/demo/borderless.md
  components/input-number-legacy/demo/borderless.ts
  components/input-number-legacy/demo/digit.md
  components/input-number-legacy/demo/digit.ts
  components/input-number-legacy/demo/disabled.md
  components/input-number-legacy/demo/disabled.ts
  components/input-number-legacy/demo/formatter.md
  components/input-number-legacy/demo/formatter.ts
  components/input-number-legacy/demo/precision.md
  components/input-number-legacy/demo/precision.ts
  components/input-number-legacy/demo/prefix.md
  components/input-number-legacy/demo/prefix.ts
  components/input-number-legacy/demo/size.md
  components/input-number-legacy/demo/size.ts
  components/input-number-legacy/demo/status.md
  components/input-number-legacy/demo/status.ts
  components/input-number-legacy/doc/index.en-US.md
  components/input-number-legacy/doc/index.zh-CN.md
  components/input-number-legacy/index.ts
  components/input-number-legacy/input-number-group-slot.component.ts
  components/input-number-legacy/input-number-group.component.ts
  components/input-number-legacy/input-number-group.spec.ts
  components/input-number-legacy/input-number.component.ts
  components/input-number-legacy/input-number.module.ts
  components/input-number-legacy/input-number.spec.ts
  components/input-number-legacy/ng-package.json
  components/input-number-legacy/public-api.ts
  components/input-number/style/entry.less
  components/input-number/style/patch.less
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor: remove deprecated NzBackTopModule
  .github/CODEOWNERS
  components/back-top/back-top.component.ts
  components/back-top/back-top.module.ts
  components/back-top/back-top.spec.ts
  components/back-top/demo/basic.md
  components/back-top/demo/basic.ts
  components/back-top/demo/custom.md
  components/back-top/demo/custom.ts
  components/back-top/demo/target.md
  components/back-top/demo/target.ts
  components/back-top/doc/index.en-US.md
  components/back-top/doc/index.zh-CN.md
  components/back-top/index.ts
  components/back-top/ng-package.json
  components/back-top/public-api.ts
  components/back-top/style/entry.less
  components/back-top/style/index.less
  components/back-top/style/responsive.less
  components/components.less
  components/package.json
  components/style/themes/default.less
  components/style/themes/variable.less
  scripts/prerender/route-paths.txt
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor: remove deprecated NzBackTopModule
  .github/nz-boot.yml
  components/core/config/config.ts
  components/float-button/float-button-top.component.spec.ts
  components/float-button/float-button-top.component.ts
Due: eslint --fix --concurrency=auto
