Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix --concurrency=auto

.lintstagedrc:

{
  "*.less": "stylelint --fix",
  "*.{md,html,ts}": "eslint --fix --concurrency=auto"
}

feat(module:border-beam): add aligned usage examples
  components/border-beam/border-beam.directive.spec.ts
  components/border-beam/demo/custom.md
  components/border-beam/demo/custom.ts
  components/border-beam/demo/duration.md
  components/border-beam/demo/duration.ts
  components/border-beam/demo/gradients.md
  components/border-beam/demo/gradients.ts
  components/border-beam/demo/hover.md
  components/border-beam/demo/hover.ts
  components/border-beam/demo/line-width.md
  components/border-beam/demo/line-width.ts
  components/border-beam/demo/multiple.md
  components/border-beam/demo/multiple.ts
  components/border-beam/demo/size.md
  components/border-beam/demo/size.ts
  components/border-beam/doc/index.en-US.md
  components/border-beam/doc/index.zh-CN.md
Due: eslint --fix --concurrency=auto

fix(module:date-picker): support range picker with signal forms (#9911)
  components/date-picker/date-picker.component.ts
  components/date-picker/range-picker.component.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:input): support writing value with Signal Forms (#9908)
  components/input/input-wrapper.component.spec.ts
  components/input/input-wrapper.component.ts
  components/input/input.directive.ts
Due: eslint --fix --concurrency=auto

feat(module:cron-expression): support nzStatus and form status sync (#9895)
  components/cron-expression/cron-expression.component.ts
  components/cron-expression/cron-expression.spec.ts
  components/cron-expression/demo/form.ts
  components/cron-expression/demo/status.md
  components/cron-expression/demo/status.ts
  components/cron-expression/doc/index.en-US.md
  components/cron-expression/doc/index.zh-CN.md
  components/cron-expression/style/index.less
Due: stylelint --fix, eslint --fix --concurrency=auto

fix(module:i18n): add missing translations to `ar_EG`
  components/i18n/languages/ar_EG.ts
Due: eslint --fix --concurrency=auto

fix(module:i18n): add missing sections to en_GB, en_AU and default
  components/i18n/languages/default.ts
  components/i18n/languages/en_AU.ts
  components/i18n/languages/en_GB.ts
Due: eslint --fix --concurrency=auto

feat(module:border-beam): add component overview integration
  .github/CODEOWNERS
  .github/nz-boot.yml
  components/border-beam/border-beam.directive.spec.ts
  components/border-beam/border-beam.directive.ts
  components/border-beam/doc/index.en-US.md
  components/border-beam/doc/index.zh-CN.md
  components/border-beam/style/index.less
  scripts/site/doc/app/components-overview/components-overview.component.html
  scripts/site/doc/app/components-overview/components-overview.component.less
  scripts/site/doc/app/components-overview/components-overview.component.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

chore: add repository maintenance skills
  .agents/skills/changelog-collect/SKILL.md
  .agents/skills/commit-msg/SKILL.md
  .agents/skills/create-pr/SKILL.md
  .agents/skills/feature-sync/SKILL.md
  .agents/skills/issue-reply/SKILL.md
  .agents/skills/test-review/SKILL.md
  .agents/skills/version-release/SKILL.md
Due: eslint --fix --concurrency=auto

fix(module:i18n): add missing translations to `ar_EG` (#9912)
  components/i18n/languages/ar_EG.ts
Due: eslint --fix --concurrency=auto

fix(module:i18n): add missing sections to en_GB, en_AU and default (#9913)
  components/i18n/languages/default.ts
  components/i18n/languages/en_AU.ts
  components/i18n/languages/en_GB.ts
Due: eslint --fix --concurrency=auto

chore: add claude skills compatibility
  .claude/skills
Due: none

chore: add repository maintenance skills (#9915)
  .agents/skills/changelog-collect/SKILL.md
  .agents/skills/commit-msg/SKILL.md
  .agents/skills/create-pr/SKILL.md
  .agents/skills/feature-sync/SKILL.md
  .agents/skills/issue-reply/SKILL.md
  .agents/skills/test-review/SKILL.md
  .agents/skills/version-release/SKILL.md
  .claude/skills
Due: eslint --fix --concurrency=auto

fix(module:modal): animate mask when closing
  components/modal/modal-container.directive.ts
  components/modal/modal-ref.ts
  components/modal/modal.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:modal): animate mask when closing (#9920)
  components/modal/modal-container.directive.ts
  components/modal/modal-ref.ts
  components/modal/modal.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:icon): guard handleRotate against non-Element firstChild
  components/icon/icon.directive.ts
Due: eslint --fix --concurrency=auto

refactor(module:*): fix anchor link padding size
  components/affix/style/entry.less
  components/alert/style/index.less
  components/anchor/style/entry.less
  components/anchor/style/index.less
  components/auto-complete/style/entry.less
  components/comment/style/entry.less
  components/descriptions/style/entry.less
  components/empty/style/entry.less
  components/list/style/entry.less
  components/mention/style/entry.less
  components/ng-zorro-antd.aliyun.less
  components/ng-zorro-antd.compact.less
  components/ng-zorro-antd.dark.less
  components/page-header/style/entry.less
  components/result/style/entry.less
  components/style/themes/compact.less
  components/style/themes/default.less
  components/style/themes/variable.less
  components/tree-select/style/entry.less
  components/typography/style/index.less
  components/upload/style/entry.less
  components/upload/style/index.less
Due: stylelint --fix

refactor(module:*): fix breadcrumb unicode-bidi
  components/breadcrumb/style/patch.less
Due: stylelint --fix

refactor(module:*): fix ribbon position
  components/avatar/demo/badge.ts
  components/avatar/demo/basic.ts
  components/avatar/demo/dynamic.ts
  components/avatar/demo/type.ts
  components/avatar/doc/index.en-US.md
  components/avatar/doc/index.zh-CN.md
  components/badge/demo/basic.ts
  components/badge/demo/dot.ts
  components/badge/demo/overflow.ts
  components/badge/demo/size.ts
  components/badge/style/index.less
  components/badge/style/patch.less
  components/badge/style/ribbon.less
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:*): remove deprecated button group styles
  components/badge/style/index.less
  components/badge/style/rtl.less
  components/breadcrumb/style/index.less
  components/breadcrumb/style/patch.less
  components/button/style/index.less
  components/button/style/mixin.less
Due: stylelint --fix

refactor(module:*): consolidate rtl styles
  components/button/style/index.less
  components/button/style/mixin.less
  components/checkbox/style/mixin.less
  components/date-picker/style/Calendar.less
  components/date-picker/style/RangePicker.less
  components/date-picker/style/TimePicker.less
  components/dropdown/style/index.less
  components/form/style/index.less
  components/tooltip/demo/placement.ts
Due: stylelint --fix, eslint --fix --concurrency=auto

test(module:icon): add regression test for handleRotate crash
  components/icon/icon.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:core): clean up drag event listeners
  components/core/services/drag.spec.ts
  components/core/services/drag.ts
Due: eslint --fix --concurrency=auto

fix(module:cdk): react to resize observer disabled changes
  components/cdk/resize-observer/resize-observer.directive.ts
  components/cdk/resize-observer/resize-observer.spec.ts
Due: eslint --fix --concurrency=auto

test(module:cdk): cover resize observer disabled changes
  components/cdk/resize-observer/resize-observer.spec.ts
Due: eslint --fix --concurrency=auto

test(module:cdk): cover resize observer lifecycle
  components/cdk/resize-observer/resize-observer.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:cdk): react to resize observer disabled changes (#9923)
  components/cdk/resize-observer/resize-observer.directive.ts
  components/cdk/resize-observer/resize-observer.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:core): clean up drag event listeners (#9922)
  components/core/services/drag.spec.ts
  components/core/services/drag.ts
Due: eslint --fix --concurrency=auto

fix(module:icon): guard handleRotate against non-Element firstChild (#9921)
  components/icon/icon.directive.ts
  components/icon/icon.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:input-number): prevent keyboard step when readonly
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
Due: eslint --fix --concurrency=auto

fix(module:input-number): prevent keyboard step when readonly (#9925)
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
Due: eslint --fix --concurrency=auto

fix: test failed only in ci
  components/time-picker/time-picker.component.spec.ts
  components/watermark/watermark.spec.ts
Due: eslint --fix --concurrency=auto

fix: force blur before checking disabled focus() no-op in CI
  components/time-picker/time-picker.component.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:icon): preserve custom aria-label
  components/icon/doc/index.en-US.md
  components/icon/doc/index.zh-CN.md
  components/icon/icon.directive.ts
  components/icon/icon.spec.ts
Due: eslint --fix --concurrency=auto

test(module:icon): set label fixture to OnPush
  components/icon/icon.spec.ts
Due: eslint --fix --concurrency=auto

test(module:icon): address review feedback
  components/icon/doc/index.en-US.md
  components/icon/doc/index.zh-CN.md
  components/icon/icon.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:select): prevent parent form ngModel warning
  components/cascader/cascader.spec.ts
  components/select/select-search.component.ts
  components/select/select.spec.ts
Due: eslint --fix --concurrency=auto

test(module:icon): reuse the existing icon fixture
  components/icon/icon.spec.ts
Due: eslint --fix --concurrency=auto
