Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix --concurrency=auto

fix(module:tabs): 0 can't be a value
  components/tabs/tabs-ink-bar.directive.ts
Due: eslint --fix --concurrency=auto

Apply suggestions from code review
  components/drawer/demo/extra.md
Due: eslint --fix --concurrency=auto

docs(module:drawer): add nzExtra example (#9696)
  components/drawer/demo/extra.md
  components/drawer/demo/extra.ts
Due: eslint --fix --concurrency=auto

chore: bump to Angular v21.2
  package-lock.json
  package.json
Due: none

chore: update ng-packagr to version 21.2.0
  package-lock.json
  package.json
Due: none

refactor(module:input-number): update onStep event options
  components/input-number/demo/change-on-wheel.ts
  components/input-number/input-number.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:input-number): update input-number docs
  components/input-number/doc/index.en-US.md
  components/input-number/doc/index.zh-CN.md
Due: eslint --fix --concurrency=auto

fix(module:carousel): restore responsive height on window resize (#9612)
  components/carousel/style/patch.less
Due: stylelint --fix

refactor(module:input-number): add test for onStep
  components/input-number/input-number.component.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:cascader): wrong padding size (#9699)
  components/cascader/style/index.less
  components/cascader/style/patch.less
Due: stylelint --fix

chore(release): release 21.1.1
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

chore(release): release 21.1.1 (#9720)
  CHANGELOG.md
  components/package.json
  components/version/version.ts
  docs/changelog.en-US.md
  docs/changelog.zh-CN.md
Due: eslint --fix --concurrency=auto

chore: bump angular to v21.2 (#9710)
  package-lock.json
  package.json
Due: none

chore: bump dev deps
  package-lock.json
  package.json
Due: none

chore: use npmmirror registory
  package-lock.json
Due: none

fix(module:code-editor): fix rollup 4.59.0 compatibility
  components/code-editor/code-editor.service.ts
  components/code-editor/typings.ts
Due: eslint --fix --concurrency=auto

chore: drop codecov from devDeps
  azure-pipelines.yml
  package-lock.json
  package.json
Due: none

Apply suggestion from @Copilot
  azure-pipelines.yml
Due: none

Apply suggestion from @Laffery
  azure-pipelines.yml
Due: none

chore: do not introduce type change
  components/code-editor/code-editor.service.ts
  components/code-editor/typings.ts
Due: eslint --fix --concurrency=auto

feat(module:input-number): add `emitter` in `nzOnStep` event options (#9716)
  components/input-number/demo/change-on-wheel.ts
  components/input-number/doc/index.en-US.md
  components/input-number/doc/index.zh-CN.md
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
Due: eslint --fix --concurrency=auto

fix(showcase): append theme stylesheet to document head instead of body
  scripts/site/doc/app/app.component.ts
Due: eslint --fix --concurrency=auto

fix(module:select): fix dropdown position in Safari
  components/select/style/patch.less
Due: stylelint --fix

build(deps): bump dev deps (#9722)
  azure-pipelines.yml
  components/code-editor/code-editor.service.ts
  components/code-editor/typings.ts
  package-lock.json
  package.json
Due: eslint --fix --concurrency=auto

fix(module:select): fix dropdown position in Safari (#9724)
  components/select/style/patch.less
Due: stylelint --fix

Apply suggestion from @Laffery
  package-lock.json
Due: none

fix(showcase): append theme stylesheet to document head instead of body (#9723)
  scripts/site/doc/app/app.component.ts
Due: eslint --fix --concurrency=auto

fix(module:tabs): optimize ink bar alignment logic in ngOnChanges
  components/tabs/tab-nav-bar.component.ts
Due: eslint --fix --concurrency=auto

refactor(module:*): enhance nzVariant handling
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
  components/input/input.directive.ts
  components/input/input.spec.ts
  components/mention/mention.component.ts
  components/mention/mention.spec.ts
  components/select/select.component.ts
  components/select/select.spec.ts
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
  components/tree-select/tree-select.component.ts
  components/tree-select/tree-select.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:modal): prevent flicker on open
  components/modal/modal-container.directive.ts
  components/modal/modal.spec.ts
Due: eslint --fix --concurrency=auto

fix(module:modal): apply ai suggestions
  components/modal/modal-container.directive.ts
  components/modal/modal.spec.ts
Due: eslint --fix --concurrency=auto

feat(module:input): supports custom count logic for input-wrapper (#9645)
  components/input/demo/advance-count.md
  components/input/demo/advance-count.ts
  components/input/doc/index.en-US.md
  components/input/doc/index.zh-CN.md
  components/input/input-wrapper.component.spec.ts
  components/input/input-wrapper.component.ts
  components/input/style/index.less
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:time-picker): improve finalVariant logic
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
Due: eslint --fix --concurrency=auto

fix(module:tabs): improve size handling and type alignment
  components/tabs/demo/indicator.ts
  components/tabs/tabs-ink-bar.directive.ts
Due: eslint --fix --concurrency=auto

fix(module:alert): update marquee structure and animation naming
  components/alert/alert-marquee.component.ts
  components/alert/style/patch.less
Due: stylelint --fix, eslint --fix --concurrency=auto

refactor(module:alert): use classList for assertions
  components/alert/alert-marquee.spec.ts
Due: eslint --fix --concurrency=auto

feat(module:tabs): support `nzIndicator` (#9704)
  components/tabs/demo/indicator.md
  components/tabs/demo/indicator.ts
  components/tabs/doc/index.en-US.md
  components/tabs/doc/index.zh-CN.md
  components/tabs/interfaces.ts
  components/tabs/tab-nav-bar.component.ts
  components/tabs/tabs-ink-bar.directive.ts
  components/tabs/tabs.component.spec.ts
  components/tabs/tabs.component.ts
Due: eslint --fix --concurrency=auto

feat(module:form): support `nzVariant` (#9694)
  components/cascader/cascader.component.ts
  components/cascader/cascader.spec.ts
  components/core/form/nz-form-variant.token.ts
  components/core/form/public-api.ts
  components/date-picker/date-picker.component.spec.ts
  components/date-picker/date-picker.component.ts
  components/form/demo/variant.md
  components/form/demo/variant.ts
  components/form/doc/index.en-US.md
  components/form/doc/index.zh-CN.md
  components/form/form.directive.ts
  components/input-number/input-number.component.spec.ts
  components/input-number/input-number.component.ts
  components/input/input.directive.ts
  components/input/input.spec.ts
  components/mention/mention.component.ts
  components/mention/mention.spec.ts
  components/select/select.component.ts
  components/select/select.spec.ts
  components/time-picker/time-picker.component.spec.ts
  components/time-picker/time-picker.component.ts
  components/tree-select/tree-select.component.ts
  components/tree-select/tree-select.spec.ts
Due: eslint --fix --concurrency=auto

feat(module:alert): add loop text (#9697)
  components/alert/alert-marquee.component.ts
  components/alert/alert-marquee.spec.ts
  components/alert/alert.component.ts
  components/alert/alert.module.ts
  components/alert/demo/loop-banner.md
  components/alert/demo/loop-banner.ts
  components/alert/doc/index.en-US.md
  components/alert/doc/index.zh-CN.md
  components/alert/public-api.ts
  components/alert/style/patch.less
Due: stylelint --fix, eslint --fix --concurrency=auto

fix(module:modal): prevent flicker on open (#9728)
  components/modal/modal-container.directive.ts
  components/modal/modal.spec.ts
Due: eslint --fix --concurrency=auto

Path conditions:
  stylelint --fix: any of: *.less
  eslint --fix --concurrency=auto: any of: *.{md,html,ts}
