Repository NG-ZORRO/ng-zorro-antd: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc:

{
  "*.less": "stylelint --fix",
  "*.{html,ts}": "eslint --fix"
}

feat(module:tour): add overlay module
  components/core/overlay/nz-connected-overlay.ts
  components/tour/tour.ts
Due: eslint --fix

feat(module:tour): tour mask
  components/tour/mask.ts
  components/tour/style/index.less
  components/tour/tour.ts
Due: stylelint --fix, eslint --fix

feat(module:tour): improve styles
  components/tour/mask.ts
  components/tour/style/index.less
  components/tour/tour.ts
Due: stylelint --fix, eslint --fix

feat(module:tour): init connected overlay
  components/tour/demo/basic.ts
  components/tour/demo/module
  components/tour/doc/index.en-US.md
  components/tour/doc/index.zh-CN.md
  components/tour/mask.ts
  components/tour/public-api.ts
  components/tour/style/index.less
  components/tour/tour-step.ts
  components/tour/tour.service.ts
  components/tour/tour.spec.ts
  components/tour/tour.ts
  components/tour/types.ts
Due: stylelint --fix, eslint --fix

feat(module:tour): add tour component
  components/tour/demo/actions-render.md
  components/tour/demo/actions-render.ts
  components/tour/demo/gap.md
  components/tour/demo/gap.ts
  components/tour/demo/indicator.md
  components/tour/demo/indicator.ts
  components/tour/demo/mask.md
  components/tour/demo/mask.ts
  components/tour/demo/non-modal.md
  components/tour/demo/non-modal.ts
  components/tour/demo/placement.md
  components/tour/demo/placement.ts
  components/tour/doc/index.en-US.md
  components/tour/tour.service.ts
  components/tour/tour.ts
  scripts/site/_site/doc/style/common.less
  scripts/site/_site/doc/style/drawer.less
Due: stylelint --fix, eslint --fix

feat(module:tour): start with service
  components/core/overlay/overlay-position.ts
  components/style/themes/aliyun.less
  components/style/themes/default.less
  components/style/themes/variable.less
  components/tour/demo/basic.ts
  components/tour/demo/non-modal.ts
  components/tour/demo/placement.ts
  components/tour/mask.ts
  components/tour/style/entry.less
  components/tour/style/index.less
  components/tour/style/patch.less
  components/tour/tour-ref.ts
  components/tour/tour.service.ts
  components/tour/tour.ts
  components/tour/types.ts
  components/tour/utils.ts
Due: stylelint --fix, eslint --fix

feat(module:tour): support non-modal
  components/tour/demo/non-modal.ts
  components/tour/tour.service.ts
  components/tour/tour.ts
Due: eslint --fix

feat(module:tour): support mask and gap props
  components/tour/constant.ts
  components/tour/demo/actions-render.md
  components/tour/demo/basic.ts
  components/tour/demo/gap.md
  components/tour/demo/gap.ts
  components/tour/demo/mask.md
  components/tour/demo/mask.ts
  components/tour/demo/placement.md
  components/tour/mask.ts
  components/tour/public-api.ts
  components/tour/style/index.less
  components/tour/tour-ref.ts
  components/tour/tour.service.ts
  components/tour/tour.ts
  components/tour/types.ts
  components/tour/utils.ts
Due: stylelint --fix, eslint --fix

feat(module:tour): add i18n
  components/i18n/languages/default.ts
  components/i18n/languages/en_AU.ts
  components/i18n/languages/en_GB.ts
  components/i18n/languages/en_US.ts
  components/i18n/languages/zh_CN.ts
  components/i18n/nz-i18n.interface.ts
  components/tour/demo/actions-render.md
  components/tour/demo/actions-render.ts
  components/tour/tour-ref.ts
  components/tour/tour.ts
Due: eslint --fix

feat(module:tour): add arrow
  components/tour/style/index.less
Due: stylelint --fix

feat(module:tour): custom indicators
  components/tour/demo/indicator.ts
  components/tour/tour-ref.ts
  components/tour/tour.ts
  components/tour/types.ts
Due: eslint --fix

feat(module:tour): replace overlay service with standalone functions
  components/tour/tour-ref.ts
  components/tour/tour.service.ts
Due: eslint --fix

refactor(module:core): add default value arg to `withConfig` function
  components/core/config/config.service.ts
  components/core/config/config.spec.ts
Due: eslint --fix

Update components/core/config/config.service.ts
  components/core/config/config.service.ts
Due: eslint --fix

feat(module:i18n): enhance provideNzI18n to support factory function
  components/i18n/nz-i18n.service.spec.ts
  components/i18n/nz-i18n.token.ts
Due: eslint --fix

feat(module:i18n): enhance provideNzI18n to support factory function (#9393)
  components/i18n/nz-i18n.service.spec.ts
  components/i18n/nz-i18n.token.ts
Due: eslint --fix

refactor(module:core): add default value arg to `withConfig` function (#9392)
  components/core/config/config.service.ts
  components/core/config/config.spec.ts
Due: eslint --fix

docs: add Claude context
  .claude/CLAUDE.md
  .claude/DEVELOPMENT.md
  .claude/DOCUMENTATION.md
  .claude/NG-ZORRO.md
  .claude/TESTING.md
Due: none

refactor: upgrade to angular v20.3
  package-lock.json
  package.json
  scripts/site/_site/doc/main.server.ts
Due: eslint --fix

refactor: upgrade to angular v20.3 (#9399)
  package-lock.json
  package.json
  scripts/site/_site/doc/main.server.ts
Due: eslint --fix

refactor(module:float-button): refactor float button with signal
  components/core/util/class-name.ts
  components/core/util/public-api.ts
  components/float-button/doc/index.en-US.md
  components/float-button/float-button-content.component.ts
  components/float-button/float-button-group.component.spec.ts
  components/float-button/float-button-group.component.ts
  components/float-button/float-button-top.component.spec.ts
  components/float-button/float-button-top.component.ts
  components/float-button/float-button.component.spec.ts
  components/float-button/float-button.component.ts
  components/float-button/public-api.ts
  components/float-button/typings.ts
Due: eslint --fix

refactor(module:float-button): refactor structure
  components/float-button/float-button-top.component.ts
Due: eslint --fix

refactor(module:float-button): implement requested changes
  components/float-button/float-button-content.component.ts
  components/float-button/float-button-top.component.ts
  components/float-button/float-button.component.ts
Due: eslint --fix

docs: implement review
  .claude/DEVELOPMENT.md
  .claude/DOCUMENTATION.md
  .claude/NG-ZORRO.md
Due: none

fix(module:badge): after setting `nzColor`, display incorrect (#9376)
  components/badge/badge-sup.component.ts
  components/badge/badge.component.ts
  components/badge/badge.spec.ts
Due: eslint --fix

docs: ant desing file not found
  .claude/DEVELOPMENT.md
Due: none

refactor(module:float-button): migrate to signal (#9301)
  components/core/util/class-name.ts
  components/core/util/public-api.ts
  components/float-button/doc/index.en-US.md
  components/float-button/float-button-content.component.ts
  components/float-button/float-button-group.component.spec.ts
  components/float-button/float-button-group.component.ts
  components/float-button/float-button-top.component.spec.ts
  components/float-button/float-button-top.component.ts
  components/float-button/float-button.component.spec.ts
  components/float-button/float-button.component.ts
  components/float-button/public-api.ts
  components/float-button/typings.ts
Due: eslint --fix

fix(module:input): variant underline style on hover
  components/input/style/mixin.less
Due: stylelint --fix

refactor(module:input): migrate to signals
  components/input/input-group.component.ts
  components/input/input.directive.ts
  components/input/input.spec.ts
Due: eslint --fix

fix(module:form): fix form-validate-reactive demo
  components/form/demo/validate-reactive.ts
Due: eslint --fix

docs: update test command syntax
  .claude/TESTING.md
Due: none

fix(module:input): prevent leaks
  components/input/input.directive.ts
Due: eslint --fix

fix(module:input): variant underline style on hover (#9400)
  components/input/style/mixin.less
Due: stylelint --fix

fix(module:input): fix variant filled style when disabled
  components/input/style/mixin.less
Due: stylelint --fix

refactor(module:input): remove useless renderer fields
  components/input/input.directive.ts
Due: eslint --fix

feat(module:upload): support promise nzBeforeUpload
  components/upload/demo/png-only.md
  components/upload/demo/png-only.ts
  components/upload/doc/index.en-US.md
  components/upload/doc/index.zh-CN.md
  components/upload/interface.ts
  components/upload/upload-btn.component.ts
  components/upload/upload.component.ts
  components/upload/upload.spec.ts
Due: eslint --fix

feat(module:input): introducing the input-wrapper component
  components/input/demo/basic.ts
  components/input/input-group.component.ts
  components/input/input-wrapper.component.ts
  components/input/input.directive.ts
  components/input/input.module.ts
  components/input/public-api.ts
Due: eslint --fix

refactor(module:upload): make nzBeforeUpload main hook
  components/upload/demo/transform-file.md
  components/upload/demo/transform-file.ts
  components/upload/upload-btn.component.ts
Due: eslint --fix

fix(module:upload): different uid of transformed file
  components/upload/upload-btn.component.ts
Due: eslint --fix
